neurolia-immo/n8n/pipeline/output/04-workflows/WF01-email-parser.json
{
  "name": "WF01 — Email Parser",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "markAsRead",
        "format": "resolved",
        "options": {
          "forceReconnect": true
        }
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000001",
      "name": "IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "id": "CRED-01",
          "name": "CRED-01 — IMAP - Loc Immo"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "imap-configured",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000002",
      "name": "Webhook: imap.configured",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 550],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CRED-04",
          "name": "CRED-04 — Header Auth - API Key Dashboard"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-01-01",
              "name": "DASHBOARD_URL",
              "value": "={{ $env.DASHBOARD_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-01-02",
              "name": "N8N_WF04_WEBHOOK_URL",
              "value": "={{ $env.N8N_WF04_WEBHOOK_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-01-03",
              "name": "N8N_WEBHOOK_API_KEY",
              "value": "={{ $env.N8N_WEBHOOK_API_KEY }}",
              "type": "string"
            },
            {
              "id": "cfg-01-04",
              "name": "ADMIN_EMAIL",
              "value": "={{ $env.ADMIN_EMAIL }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule-airbnb",
                    "leftValue": "={{ $('IMAP Trigger').item.json.from.value[0].address }}",
                    "rightValue": "airbnb.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Airbnb"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule-booking",
                    "leftValue": "={{ $('IMAP Trigger').item.json.from.value[0].address }}",
                    "rightValue": "booking.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Booking"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000004",
      "name": "Switch: Email Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF01 — Parse Airbnb email (v2 — adapte au format reel)\n// IMPORTANT: utilise textHtml (pas html) pour IMAP v2\n// ============================================================\n\nconst html = $input.item.json.textHtml || $input.item.json.html || \"\";\nconst subject = $input.item.json.subject || \"\";\nconst messageId = $input.item.json.messageId || \"\";\n\n// --- Detection du type d'email ---\nlet emailType = \"unknown\"; // v2: default unknown (pas confirmation) pour eviter faux positifs\n\nif (/annul/i.test(subject) || /cancel/i.test(subject)) {\n  emailType = \"cancellation\";\n} else if (/modifi/i.test(subject) || /updated/i.test(subject) || /changed/i.test(subject)) {\n  emailType = \"modification\";\n} else if (/r[e\\u00e9]serv/i.test(subject) || /confirm/i.test(subject) || /en attente/i.test(subject) || /demande de r/i.test(subject)) {\n  emailType = \"confirmation\";\n} else if (/renseignement/i.test(subject) || /inquiry/i.test(subject) || /question/i.test(subject)) {\n  emailType = \"inquiry\";\n}\n\n// --- Extraction du nom du voyageur ---\nlet guestName = \"\";\n\n// Pattern 1: \"demande de Alexis\" ou \"demande de Jean Dupont\"\nlet m = subject.match(/demande de ([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)/);\nif (m) guestName = m[1].trim();\n\n// Pattern 2: dans le HTML \"demande de Alexis\"\nif (!guestName) {\n  m = html.match(/demande de ([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)/);\n  if (m) guestName = m[1].trim();\n}\n\n// Pattern 3: \"a reserve\" ou \"a reserve\"\nif (!guestName) {\n  m = html.match(/([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)\\s+a\\s+r[e\\u00e9]serv/);\n  if (m) guestName = m[1].trim();\n}\n\n// Pattern 4: aria-label avec un prenom\nif (!guestName) {\n  m = html.match(/aria-label=\"([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)\"/);\n  if (m) guestName = m[1].trim();\n}\n\n// Pattern 5: \"Votre voyageur : Xxx\"\nif (!guestName) {\n  m = html.match(/voyageur\\s*:\\s*([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)/i);\n  if (m) guestName = m[1].trim();\n}\n\n// --- Extraction des dates ---\nconst moisFR = {\n  \"janv\": \"01\", \"janvier\": \"01\", \"jan\": \"01\",\n  \"fevr\": \"02\", \"f\\u00e9vr\": \"02\", \"fevrier\": \"02\", \"f\\u00e9vrier\": \"02\", \"fev\": \"02\", \"feb\": \"02\",\n  \"mars\": \"03\", \"mar\": \"03\",\n  \"avr\": \"04\", \"avril\": \"04\", \"apr\": \"04\",\n  \"mai\": \"05\", \"may\": \"05\",\n  \"juin\": \"06\", \"jun\": \"06\",\n  \"juil\": \"07\", \"juillet\": \"07\", \"jul\": \"07\",\n  \"aout\": \"08\", \"ao\\u00fbt\": \"08\", \"aug\": \"08\",\n  \"sept\": \"09\", \"septembre\": \"09\", \"sep\": \"09\",\n  \"oct\": \"10\", \"octobre\": \"10\",\n  \"nov\": \"11\", \"novembre\": \"11\",\n  \"dec\": \"12\", \"d\\u00e9c\": \"12\", \"decembre\": \"12\", \"d\\u00e9cembre\": \"12\"\n};\n\nfunction getMonth(str) {\n  const key = str.toLowerCase().replace(/\\./g, \"\");\n  return moisFR[key] || null;\n}\n\nlet checkIn = \"\";\nlet checkOut = \"\";\n\n// Pattern 1: format compact \"19-20 fevr. 2026\" (jour-jour mois annee)\nm = subject.match(/(\\d{1,2})\\s*[\\u2013\\u2014-]\\s*(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\nif (!m) m = html.match(/(\\d{1,2})\\s*[\\u2013\\u2014-]\\s*(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\nif (m) {\n  const month = getMonth(m[3]);\n  if (month) {\n    checkIn = m[4] + \"-\" + month + \"-\" + m[1].padStart(2, \"0\");\n    checkOut = m[4] + \"-\" + month + \"-\" + m[2].padStart(2, \"0\");\n  }\n}\n\n// Pattern 2: format complet \"19 fevr. 2026 - 20 fevr. 2026\"\nif (!checkIn) {\n  m = (subject + \" \" + html).match(/(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})\\s*[\\u2013\\u2014-]\\s*(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\n  if (m) {\n    const m1 = getMonth(m[2]);\n    const m2 = getMonth(m[5]);\n    if (m1) checkIn = m[3] + \"-\" + m1 + \"-\" + m[1].padStart(2, \"0\");\n    if (m2) checkOut = m[6] + \"-\" + m2 + \"-\" + m[4].padStart(2, \"0\");\n  }\n}\n\n// Pattern 3: \"Arrivee\" et \"Depart\" dans le HTML\nif (!checkIn) {\n  const arrM = html.match(/[Aa]rriv[e\\u00e9]e[^<\\d]*?(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\n  const depM = html.match(/[Dd][e\\u00e9]part[^<\\d]*?(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\n  if (arrM) {\n    const am = getMonth(arrM[2]);\n    if (am) checkIn = arrM[3] + \"-\" + am + \"-\" + arrM[1].padStart(2, \"0\");\n  }\n  if (depM) {\n    const dm = getMonth(depM[2]);\n    if (dm) checkOut = depM[3] + \"-\" + dm + \"-\" + depM[1].padStart(2, \"0\");\n  }\n}\n\n// --- Extraction check-in / check-out times ---\nlet checkInTime = \"\";\nlet checkOutTime = \"\";\n\nm = html.match(/[Aa]rriv[e\\u00e9]e[^<\\d]*?(\\d{1,2})[h:]\\s*(\\d{2})?/);\nif (m) checkInTime = m[1].padStart(2, \"0\") + \":\" + (m[2] || \"00\");\n\nm = html.match(/[Dd][e\\u00e9]part[^<\\d]*?(\\d{1,2})[h:]\\s*(\\d{2})?/);\nif (m) checkOutTime = m[1].padStart(2, \"0\") + \":\" + (m[2] || \"00\");\n\n// --- Extraction du nombre de voyageurs ---\nlet nbGuests = 1;\nm = html.match(/(\\d+)\\s+voyageur/i);\nif (!m) m = html.match(/(\\d+)\\s+guest/i);\nif (!m) m = html.match(/voyageurs?\\s*:\\s*(\\d+)/i);\nif (m) nbGuests = parseInt(m[1], 10);\n\n// --- Extraction du montant ---\nlet amount = null;\nm = html.match(/[Tt]otal[^0-9\\u20ac]*[\\u20ac]?\\s*([\\d\\s]+[.,]\\d{2})\\s*[\\u20acEUR]?/);\nif (!m) m = html.match(/[Rr]evenus?\\s*:?\\s*[\\u20ac]?\\s*([\\d\\s]+[.,]\\d{2})/);\nif (!m) m = html.match(/[\\u20acEUR]\\s*([\\d\\s]+[.,]\\d{2})/);\nif (!m) m = html.match(/([\\d\\s]+[.,]\\d{2})\\s*[\\u20acEUR]/);\nif (m) {\n  amount = parseFloat(m[1].replace(/\\s/g, \"\").replace(\",\", \".\"));\n}\n\n// --- Extraction de la reference Airbnb ---\nlet platformRefId = \"\";\nm = html.match(/reservations\\/details\\/(HM[A-Z0-9]+)/);\nif (!m) m = html.match(/\\b(HM[A-Z0-9]{6,12})\\b/);\nif (!m) m = subject.match(/\\b(HM[A-Z0-9]{6,12})\\b/);\nif (!m) m = html.match(/[Cc]ode\\s+de\\s+confirmation\\s*:?\\s*([A-Z0-9]{8,14})/);\nif (!m) m = html.match(/[Cc]onfirmation\\s+code\\s*:?\\s*([A-Z0-9]{8,14})/);\nif (m) platformRefId = m[1].trim();\n\n// --- Extraction du nom de la propriete ---\nlet propertyName = \"\";\nm = subject.match(/l'annonce\\s+(.+?)\\s+pour\\s/i);\nif (!m) m = subject.match(/annonce\\s+(.+?)\\s+pour\\s/i);\nif (!m) m = subject.match(/concernant\\s+(.+?)\\s+pour\\s/i);\nif (!m) m = html.match(/votre\\s+(?:logement|bien|propri[e\\u00e9]t[e\\u00e9]|appartement|studio|maison|annonce)\\s+([^<\\n\"]+)/i);\nif (!m) m = html.match(/[Ll]ogement\\s*:\\s*([^<\\n]+)/);\nif (m) {\n  propertyName = m[1].trim().replace(/[\"\\u00ab\\u00bb]/g, \"\").trim();\n}\n\n// --- Construction de l'output ---\nconst result = {\n  platform: \"airbnb\",\n  emailType: emailType,\n  guestName: guestName || \"[NON DETECTE]\",\n  checkIn: checkIn || \"[NON DETECTE]\",\n  checkOut: checkOut || \"[NON DETECTE]\",\n  checkInTime: checkInTime || null,\n  checkOutTime: checkOutTime || null,\n  nbGuests: nbGuests,\n  amount: amount,\n  platformRefId: platformRefId || \"[NON DETECTE]\",\n  propertyName: propertyName || \"[NON DETECTE]\",\n  sourceEmailId: messageId,\n  _parseQuality: {\n    guestName: !!guestName,\n    dates: !!(checkIn && checkOut),\n    amount: amount !== null,\n    reference: !!platformRefId,\n    property: !!propertyName\n  },\n  _rawSubject: subject\n};\n\nconst criticalFields = [guestName, checkIn, checkOut, platformRefId];\nresult._isPartialParse = criticalFields.some(f => !f);\n\nreturn [{ json: result }];"
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000005",
      "name": "Code: Parser Airbnb",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF01 — Parse Booking.com email (v2)\n// Formats: confirmation, modification, annulation\n// ============================================================\n\nconst html = $input.item.json.textHtml || $input.item.json.html || \"\";\nconst subject = $input.item.json.subject || \"\";\nconst messageId = $input.item.json.messageId || \"\";\n\n// --- Detection du type d'email ---\nlet emailType = \"unknown\";\n\nif (/annul/i.test(subject) || /cancel/i.test(subject)) {\n  emailType = \"cancellation\";\n} else if (/modifi/i.test(subject) || /updated/i.test(subject) || /changed/i.test(subject)) {\n  emailType = \"modification\";\n} else if (/confirm/i.test(subject) || /nouvelle?\\s+r[e\\u00e9]servation/i.test(subject) || /new\\s+booking/i.test(subject) || /new\\s+reservation/i.test(subject)) {\n  emailType = \"confirmation\";\n} else if (/renseignement/i.test(subject) || /inquiry/i.test(subject)) {\n  emailType = \"inquiry\";\n}\n\n// --- Extraction du nom du voyageur ---\nlet guestName = \"\";\nlet m;\n\n// Pattern 1: \"Nom du client : Jean Dupont\" (Booking FR)\nm = html.match(/[Nn]om\\s+(?:du\\s+)?(?:client|voyageur|guest)\\s*:?\\s*<[^>]*>\\s*([^<]+)/);\nif (!m) m = html.match(/[Nn]om\\s+(?:du\\s+)?(?:client|voyageur|guest)\\s*:?\\s*([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)/);\n\n// Pattern 2: \"Guest name: ...\"\nif (!m) m = html.match(/[Gg]uest\\s+name\\s*:?\\s*<[^>]*>\\s*([^<]+)/);\nif (!m) m = html.match(/[Gg]uest\\s+name\\s*:?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+)*)/);\n\n// Pattern 3: \"Booked by ...\" ou \"Reserve par ...\"\nif (!m) m = html.match(/(?:[Bb]ooked\\s+by|[Rr][e\\u00e9]serv[e\\u00e9]\\s+par)\\s*:?\\s*([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)/);\n\n// Pattern 4: dans le sujet \"reservation de Jean Dupont\"\nif (!m) m = subject.match(/(?:de|by|from)\\s+([A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+(?:\\s+[A-Z\\u00C0-\\u00DC][a-z\\u00E0-\\u00FC]+)*)/);\n\nif (m) guestName = m[1].trim();\n\n// --- Extraction des dates ---\nconst moisFR = {\n  \"janv\": \"01\", \"janvier\": \"01\", \"jan\": \"01\",\n  \"fevr\": \"02\", \"f\\u00e9vr\": \"02\", \"fevrier\": \"02\", \"f\\u00e9vrier\": \"02\", \"fev\": \"02\", \"feb\": \"02\",\n  \"mars\": \"03\", \"mar\": \"03\", \"march\": \"03\",\n  \"avr\": \"04\", \"avril\": \"04\", \"apr\": \"04\", \"april\": \"04\",\n  \"mai\": \"05\", \"may\": \"05\",\n  \"juin\": \"06\", \"jun\": \"06\", \"june\": \"06\",\n  \"juil\": \"07\", \"juillet\": \"07\", \"jul\": \"07\", \"july\": \"07\",\n  \"aout\": \"08\", \"ao\\u00fbt\": \"08\", \"aug\": \"08\", \"august\": \"08\",\n  \"sept\": \"09\", \"septembre\": \"09\", \"sep\": \"09\", \"september\": \"09\",\n  \"oct\": \"10\", \"octobre\": \"10\", \"october\": \"10\",\n  \"nov\": \"11\", \"novembre\": \"11\", \"november\": \"11\",\n  \"dec\": \"12\", \"d\\u00e9c\": \"12\", \"decembre\": \"12\", \"d\\u00e9cembre\": \"12\", \"december\": \"12\"\n};\n\nconst moisEN = {\n  \"january\": \"01\", \"february\": \"02\", \"march\": \"03\", \"april\": \"04\",\n  \"may\": \"05\", \"june\": \"06\", \"july\": \"07\", \"august\": \"08\",\n  \"september\": \"09\", \"october\": \"10\", \"november\": \"11\", \"december\": \"12\"\n};\n\nfunction getMonth(str) {\n  const key = str.toLowerCase().replace(/\\./g, \"\");\n  return moisFR[key] || moisEN[key] || null;\n}\n\nlet checkIn = \"\";\nlet checkOut = \"\";\n\n// Pattern 1: \"Check-in: 15 March 2026\" / \"Arrivee : 15 mars 2026\" (Booking format)\nconst arrM = html.match(/(?:[Cc]heck[\\s-]*in|[Aa]rriv[e\\u00e9]e)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\nconst depM = html.match(/(?:[Cc]heck[\\s-]*out|[Dd][e\\u00e9]part)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\n\nif (arrM) {\n  const am = getMonth(arrM[2]);\n  if (am) checkIn = arrM[3] + \"-\" + am + \"-\" + arrM[1].padStart(2, \"0\");\n}\nif (depM) {\n  const dm = getMonth(depM[2]);\n  if (dm) checkOut = depM[3] + \"-\" + dm + \"-\" + depM[1].padStart(2, \"0\");\n}\n\n// Pattern 2: format \"YYYY-MM-DD\" (Booking API-style)\nif (!checkIn) {\n  m = html.match(/(?:[Cc]heck[\\s-]*in|[Aa]rriv[e\\u00e9]e)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{4}-\\d{2}-\\d{2})/);\n  if (m) checkIn = m[1];\n}\nif (!checkOut) {\n  m = html.match(/(?:[Cc]heck[\\s-]*out|[Dd][e\\u00e9]part)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{4}-\\d{2}-\\d{2})/);\n  if (m) checkOut = m[1];\n}\n\n// Pattern 3: format compact \"15 - 18 mars 2026\"\nif (!checkIn) {\n  m = (subject + \" \" + html).match(/(\\d{1,2})\\s*[\\u2013\\u2014-]\\s*(\\d{1,2})\\s+([\\w\\u00e9\\u00fb\\u00f4]+)\\.?\\s+(\\d{4})/);\n  if (m) {\n    const month = getMonth(m[3]);\n    if (month) {\n      checkIn = m[4] + \"-\" + month + \"-\" + m[1].padStart(2, \"0\");\n      checkOut = m[4] + \"-\" + month + \"-\" + m[2].padStart(2, \"0\");\n    }\n  }\n}\n\n// --- Extraction check-in / check-out times ---\nlet checkInTime = \"\";\nlet checkOutTime = \"\";\n\nm = html.match(/(?:[Cc]heck[\\s-]*in|[Aa]rriv[e\\u00e9]e)[^<\\d]*?(\\d{1,2})[h:]\\s*(\\d{2})?/);\nif (m) checkInTime = m[1].padStart(2, \"0\") + \":\" + (m[2] || \"00\");\n\nm = html.match(/(?:[Cc]heck[\\s-]*out|[Dd][e\\u00e9]part)[^<\\d]*?(\\d{1,2})[h:]\\s*(\\d{2})?/);\nif (m) checkOutTime = m[1].padStart(2, \"0\") + \":\" + (m[2] || \"00\");\n\n// --- Extraction du nombre de voyageurs ---\nlet nbGuests = 1;\nm = html.match(/(\\d+)\\s+(?:voyageur|guest|person|adulte|traveller)/i);\nif (!m) m = html.match(/(?:voyageurs?|guests?|persons?)\\s*:?\\s*(\\d+)/i);\nif (m) nbGuests = parseInt(m[1], 10);\n\n// --- Extraction du montant ---\nlet amount = null;\nm = html.match(/[Tt]otal\\s*(?:price|prix)?\\s*:?\\s*(?:<[^>]*>\\s*)*[\\u20ac]?\\s*([\\d\\s]+[.,]\\d{2})/);\nif (!m) m = html.match(/[Pp]rix\\s*:?\\s*[\\u20ac]?\\s*([\\d\\s]+[.,]\\d{2})/);\nif (!m) m = html.match(/[\\u20acEUR]\\s*([\\d\\s]+[.,]\\d{2})/);\nif (!m) m = html.match(/([\\d\\s]+[.,]\\d{2})\\s*[\\u20acEUR]/);\nif (m) {\n  amount = parseFloat(m[1].replace(/\\s/g, \"\").replace(\",\", \".\"));\n}\n\n// --- Extraction de la reference Booking ---\nlet platformRefId = \"\";\nm = html.match(/[Nn](?:um\\u00e9ro|umero|\\u00b0|o)\\s*(?:de\\s+)?(?:r[e\\u00e9]servation|confirmation|booking)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{6,14})/);\nif (!m) m = html.match(/[Bb]ooking\\s*(?:number|reference|ref)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{6,14})/);\nif (!m) m = html.match(/[Cc]onfirmation\\s*(?:number|code)\\s*:?\\s*(?:<[^>]*>\\s*)*(\\d{6,14})/);\nif (!m) m = subject.match(/\\b(\\d{8,14})\\b/);\nif (m) platformRefId = m[1].trim();\n\n// --- Extraction du nom de la propriete ---\nlet propertyName = \"\";\nm = html.match(/(?:votre\\s+)?(?:logement|bien|propri[e\\u00e9]t[e\\u00e9]|h[e\\u00e9]bergement|(?:your\\s+)?property)\\s*:?\\s*(?:<[^>]*>\\s*)*([^<\\n\"]+)/i);\nif (!m) m = html.match(/[Ll]ogement\\s*:\\s*([^<\\n]+)/);\nif (!m) m = subject.match(/(?:pour|for|at)\\s+(.+?)(?:\\s*[\\u2013\\u2014-]|\\s*$)/i);\nif (m) {\n  propertyName = m[1].trim().replace(/[\"\\u00ab\\u00bb]/g, \"\").trim();\n}\n\n// --- Construction de l'output ---\nconst result = {\n  platform: \"booking\",\n  emailType: emailType,\n  guestName: guestName || \"[NON DETECTE]\",\n  checkIn: checkIn || \"[NON DETECTE]\",\n  checkOut: checkOut || \"[NON DETECTE]\",\n  checkInTime: checkInTime || null,\n  checkOutTime: checkOutTime || null,\n  nbGuests: nbGuests,\n  amount: amount,\n  platformRefId: platformRefId || \"[NON DETECTE]\",\n  propertyName: propertyName || \"[NON DETECTE]\",\n  sourceEmailId: messageId,\n  _parseQuality: {\n    guestName: !!guestName,\n    dates: !!(checkIn && checkOut),\n    amount: amount !== null,\n    reference: !!platformRefId,\n    property: !!propertyName\n  },\n  _rawSubject: subject\n};\n\nconst criticalFields = [guestName, checkIn, checkOut, platformRefId];\nresult._isPartialParse = criticalFields.some(f => !f);\n\nreturn [{ json: result }];"
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000006",
      "name": "Code: Parser Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule-confirmation",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Confirmation"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule-modification",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "modification",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Modification"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule-cancellation",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "cancellation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Cancellation"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "rule-inquiry",
                    "leftValue": "={{ $json.emailType }}",
                    "rightValue": "inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Inquiry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000007",
      "name": "Switch: Type Detector",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF01 — Payload Builder\n// Construit le payload pour POST /api/webhooks/n8n/reservation\n// + lookup property_id via Supabase\n// ============================================================\n\nconst config = $('Config').item.json;\nconst parsed = $input.item.json;\n\n// --- Mapping emailType → status ---\nconst statusMap = {\n  confirmation: \"confirmed\",\n  modification: \"modified\",\n  cancellation: \"cancelled\"\n};\nconst status = statusMap[parsed.emailType] || \"confirmed\";\n\n// --- Property lookup via Supabase native node ---\nlet propertyId = null;\nlet ownerId = null;\n\nconst propertyResults = $('Supabase: Get Property by Name').all();\nif (propertyResults.length > 0 && propertyResults[0].json.id) {\n  propertyId = propertyResults[0].json.id;\n  ownerId = propertyResults[0].json.owner_id;\n}\n\n// --- Generer idempotency key ---\nconst idempotencyKey = `wf01-${parsed.platform}-${parsed.platformRefId}-${parsed.emailType}-${Date.now()}`;\n\n// --- Construire le payload ---\nconst payload = {\n  property_id: propertyId,\n  owner_id: ownerId,\n  platform: parsed.platform,\n  platform_ref_id: parsed.platformRefId !== \"[NON DETECTE]\" ? parsed.platformRefId : null,\n  status: status,\n  source: \"email\",\n  guest_name: parsed.guestName !== \"[NON DETECTE]\" ? parsed.guestName : null,\n  guest_email: null, // Non disponible par email\n  nb_guests: parsed.nbGuests || 1,\n  check_in: parsed.checkIn !== \"[NON DETECTE]\" ? parsed.checkIn : null,\n  check_out: parsed.checkOut !== \"[NON DETECTE]\" ? parsed.checkOut : null,\n  check_in_time: parsed.checkInTime || null,\n  check_out_time: parsed.checkOutTime || null,\n  amount: parsed.amount,\n  email_message_id: parsed.sourceEmailId || null,\n  raw_email_data: {\n    subject: parsed._rawSubject,\n    parseQuality: parsed._parseQuality,\n    isPartialParse: parsed._isPartialParse\n  }\n};\n\n// --- Alertes parsing partiel ---\nconst alerts = [];\nif (parsed._isPartialParse) {\n  alerts.push({\n    type: \"partial_parse\",\n    message: `Parsing partiel pour email ${parsed.platform}: champs manquants`,\n    missingFields: Object.entries(parsed._parseQuality)\n      .filter(([k, v]) => !v)\n      .map(([k]) => k)\n  });\n}\n\nif (!propertyId && parsed.propertyName !== \"[NON DETECTE]\") {\n  alerts.push({\n    type: \"property_not_found\",\n    message: `Propriete \"${parsed.propertyName}\" non trouvee en base`,\n    propertyName: parsed.propertyName\n  });\n}\n\nreturn [{\n  json: {\n    payload: payload,\n    idempotencyKey: idempotencyKey,\n    alerts: alerts,\n    _meta: {\n      emailType: parsed.emailType,\n      platform: parsed.platform,\n      isNewConfirmed: parsed.emailType === \"confirmation\" && status === \"confirmed\",\n      isPartialParse: parsed._isPartialParse\n    }\n  }\n}];"
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000008",
      "name": "Code: Payload Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1625, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.DASHBOARD_URL }}/api/webhooks/n8n/reservation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Config').item.json.N8N_WEBHOOK_API_KEY }}"
            },
            {
              "name": "x-idempotency-key",
              "value": "={{ $json.idempotencyKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1a2c3d4-0101-4000-8000-000000000009",
      "name": "HTTP: Upsert Reservation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1875, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-01-01",
              "leftValue": "={{ $('Code: Payload Builder').item.json._meta.isNewConfirmed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1a2c3d4-0101-4000-8000-00000000000a",
      "name": "IF: New Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2125, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').item.json.N8N_WF04_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $('Config').item.json.N8N_WEBHOOK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('HTTP: Upsert Reservation').item.json.reservation.id }}"
            },
            {
              "name": "property_id",
              "value": "={{ $('HTTP: Upsert Reservation').item.json.reservation.property_id }}"
            },
            {
              "name": "check_in",
              "value": "={{ $('HTTP: Upsert Reservation').item.json.reservation.check_in }}"
            },
            {
              "name": "check_out",
              "value": "={{ $('HTTP: Upsert Reservation').item.json.reservation.check_out }}"
            },
            {
              "name": "nb_guests",
              "value": "={{ $('HTTP: Upsert Reservation').item.json.reservation.nb_guests }}"
            },
            {
              "name": "guest_name",
              "value": "={{ $('HTTP: Upsert Reservation').item.json.reservation.guest_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1a2c3d4-0101-4000-8000-00000000000b",
      "name": "HTTP: Trigger WF04",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2375, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=name=ilike.*{{ $json.propertyName }}*&select=id,owner_id,name",
        "options": {}
      },
      "id": "b1a2c3d4-0101-4000-8000-00000000000c",
      "name": "Supabase: Get Property by Name",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1375, 300],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    }
  ],
  "connections": {
    "IMAP Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: imap.configured": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Switch: Email Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Email Router": {
      "main": [
        [
          {
            "node": "Code: Parser Airbnb",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Parser Booking",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code: Parser Airbnb": {
      "main": [
        [
          {
            "node": "Switch: Type Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parser Booking": {
      "main": [
        [
          {
            "node": "Switch: Type Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Type Detector": {
      "main": [
        [
          {
            "node": "Supabase: Get Property by Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Get Property by Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase: Get Property by Name",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Supabase: Get Property by Name": {
      "main": [
        [
          { "node": "Code: Payload Builder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: Payload Builder": {
      "main": [
        [
          {
            "node": "HTTP: Upsert Reservation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Upsert Reservation": {
      "main": [
        [
          {
            "node": "IF: New Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: New Confirmed?": {
      "main": [
        [
          {
            "node": "HTTP: Trigger WF04",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}