neurolia-immo/n8n/pipeline/output/04-workflows/WF05-guest-messages.json
{
  "deprecated": true,
  "deprecated_version": "2.1",
  "deprecated_reason": "PRD interdit emails voyageurs directs",
  "name": "WF05 — Guest Auto Messages (DEPRECATED v2.1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        },
        "options": {
          "timezone": "Europe/Paris"
        }
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000001",
      "name": "Schedule Trigger Pre-Arrival (10:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * *"
            }
          ]
        },
        "options": {
          "timezone": "Europe/Paris"
        }
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000002",
      "name": "Schedule Trigger Post-Departure (14:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 550]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-05-01",
              "name": "DASHBOARD_URL",
              "value": "={{ $env.DASHBOARD_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-05-02",
              "name": "SMTP_FROM_EMAIL",
              "value": "={{ $env.SMTP_FROM_EMAIL }}",
              "type": "string"
            },
            {
              "id": "cfg-05-03",
              "name": "SMTP_FROM_NAME",
              "value": "={{ $env.SMTP_FROM_NAME }}",
              "type": "string"
            },
            {
              "id": "cfg-05-04",
              "name": "SUPABASE_URL",
              "value": "={{ $env.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-05-05",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').item.json.SUPABASE_URL }}/rest/v1/reservations?check_in=eq.{{ $now.plus(1, 'days').toFormat('yyyy-MM-dd') }}&status=eq.confirmed&select=*,properties(name,access_code),welcome_guides!inner(slug)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').item.json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000004",
      "name": "HTTP: Get Reservations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000005",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sent_messages",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=reservation_id=eq.{{ $json.id }}&trigger_event=eq.pre_arrival&status=eq.sent",
        "options": {}
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000006",
      "name": "Supabase: Check Duplicate",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-05-01",
              "leftValue": "={{ $('Supabase: Check Duplicate').all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000007",
      "name": "IF: Already Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF05 — Build email variables for guest messages\n// Supports pre_arrival (Flow B) and post_departure (Flow C)\n// ============================================================\n\nconst config = $('Config').item.json;\nconst reservation = $('Split In Batches').item.json;\n\nconst prop = reservation.properties || {};\nconst welcomeGuide = reservation.welcome_guides || {};\n\n// Detect flow type based on dates\nconst today = new Date().toISOString().slice(0, 10);\nconst tomorrow = new Date(Date.now() + 86400000).toISOString().slice(0, 10);\nconst isPreArrival = reservation.check_in === tomorrow;\nconst triggerEvent = isPreArrival ? 'pre_arrival' : 'post_departure';\n\n// Format dates in FR\nconst formatDateFR = (dateStr) => {\n  if (!dateStr) return '';\n  const d = new Date(dateStr + 'T12:00:00');\n  return d.toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n};\n\nconst guestName = reservation.guest_name || 'Cher voyageur';\nconst propertyName = prop.name || '';\nconst checkInFR = formatDateFR(reservation.check_in);\nconst checkOutFR = formatDateFR(reservation.check_out);\nconst accessCode = prop.access_code || '';\nconst welcomeSlug = welcomeGuide.slug || null;\nconst welcomeLink = welcomeSlug ? `${config.DASHBOARD_URL}/welcome/${welcomeSlug}` : null;\nconst checkinFormLink = `${config.DASHBOARD_URL}/checkin/${reservation.id}`;\n\n// --- Build email content ---\nlet subject, html;\n\nif (isPreArrival) {\n  subject = `Bienvenue \\u2014 votre arrivee le ${checkInFR}`;\n\n  html = `<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;\">\n    <div style=\"background:#1a1a2e;color:#fff;padding:20px;border-radius:8px 8px 0 0;\">\n      <h2 style=\"margin:0;\">Bienvenue, ${guestName} !</h2>\n      <p style=\"margin:4px 0 0 0;opacity:0.8;\">Votre arrivee approche</p>\n    </div>\n    <div style=\"padding:20px;\">\n      <p>Nous avons hate de vous accueillir au <strong>${propertyName}</strong> le <strong>${checkInFR}</strong>.</p>\n      <h3>Informations pratiques</h3>\n      ${accessCode ? `<p><strong>Code d'acces :</strong> <span style=\"font-size:20px;font-weight:bold;letter-spacing:2px;background:#f3f4f6;padding:4px 12px;border-radius:4px;\">${accessCode}</span></p>` : ''}\n      ${welcomeLink ? `<p><a href=\"${welcomeLink}\" style=\"display:inline-block;background:#6366f1;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;\">Consulter le livret d'accueil</a></p>` : ''}\n      <p><a href=\"${checkinFormLink}\" style=\"display:inline-block;background:#1a1a2e;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;\">Remplir le formulaire de pre-arrivee</a></p>\n      <p style=\"color:#6b7280;font-size:13px;\">Ce formulaire nous aide a preparer au mieux votre sejour.</p>\n    </div>\n  </div>`;\n} else {\n  subject = `Merci pour votre sejour \\u2014 ${propertyName}`;\n\n  html = `<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;\">\n    <div style=\"background:#1a1a2e;color:#fff;padding:20px;border-radius:8px 8px 0 0;\">\n      <h2 style=\"margin:0;\">Merci, ${guestName} !</h2>\n    </div>\n    <div style=\"padding:20px;\">\n      <p>Nous esperons que votre sejour au <strong>${propertyName}</strong> s'est bien passe.</p>\n      <p>Votre avis compte beaucoup pour nous. N'hesitez pas a laisser un commentaire sur la plateforme de reservation.</p>\n      <p>A bientot !</p>\n    </div>\n  </div>`;\n}\n\n// Check if guest email is available\nconst hasEmail = !!reservation.guest_email;\n\nreturn [{\n  json: {\n    reservation_id: reservation.id,\n    guest_email: reservation.guest_email,\n    guest_name: guestName,\n    property_name: propertyName,\n    trigger_event: triggerEvent,\n    has_email: hasEmail,\n    subject: subject,\n    html: html\n  }\n}];"
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000008",
      "name": "Code: Build Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "sent_messages",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "reservation_id", "fieldValue": "={{ $json.reservation_id }}" },
            { "fieldName": "trigger_event", "fieldValue": "={{ $json.trigger_event }}" },
            { "fieldName": "recipient_email", "fieldValue": "={{ $json.guest_email }}" },
            { "fieldName": "status", "fieldValue": "={{ $json.has_email ? 'pending' : 'failed' }}" },
            { "fieldName": "error_message", "fieldValue": "={{ $json.has_email ? '' : 'Email voyageur non disponible' }}" }
          ]
        },
        "options": {}
      },
      "id": "f5d6e7a8-0501-4000-8000-000000000009",
      "name": "Supabase: Insert sent_message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-05-02",
              "leftValue": "={{ $('Code: Build Variables').item.json.has_email }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f5d6e7a8-0501-4000-8000-00000000000a",
      "name": "IF: Has Guest Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $('Code: Build Variables').item.json.guest_email }}",
        "subject": "={{ $('Code: Build Variables').item.json.subject }}",
        "emailType": "html",
        "html": "={{ $('Code: Build Variables').item.json.html }}",
        "options": {
          "replyTo": "={{ $('Config').item.json.SMTP_FROM_EMAIL }}"
        }
      },
      "id": "f5d6e7a8-0501-4000-8000-00000000000b",
      "name": "Send Email Guest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.2,
      "position": [2500, 200],
      "credentials": {
        "smtp": {
          "id": "CRED-02",
          "name": "CRED-02 — SMTP - Loc Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sent_messages",
        "filterType": "string",
        "filterString": "=reservation_id=eq.{{ $('Code: Build Variables').item.json.reservation_id }}&trigger_event=eq.{{ $('Code: Build Variables').item.json.trigger_event }}&status=eq.pending",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "status", "fieldValue": "sent" },
            { "fieldName": "sent_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        },
        "options": {}
      },
      "id": "f5d6e7a8-0501-4000-8000-00000000000c",
      "name": "Supabase: Update sent_message",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2750, 200],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger Pre-Arrival (10:00)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Post-Departure (14:00)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP: Get Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get Reservations": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Supabase: Check Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase: Check Duplicate": {
      "main": [
        [
          {
            "node": "IF: Already Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Already Sent?": {
      "main": [
        [
          {
            "node": "Code: Build Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Variables": {
      "main": [
        [
          {
            "node": "Supabase: Insert sent_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Insert sent_message": {
      "main": [
        [
          {
            "node": "IF: Has Guest Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Guest Email?": {
      "main": [
        [
          {
            "node": "Send Email Guest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Guest": {
      "main": [
        [
          {
            "node": "Supabase: Update sent_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Update sent_message": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}