neurolia-immo/n8n/pipeline/output/04-workflows/WF07-user-onboarding.json
{
  "name": "WF07 — User Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-created",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "user-created",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CRED-04",
          "name": "CRED-04 — Header Auth - API Key Dashboard"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "cfg-07-01", "name": "DASHBOARD_URL", "value": "={{ $env.DASHBOARD_URL }}", "type": "string" },
            { "id": "cfg-07-02", "name": "SMTP_FROM_EMAIL", "value": "={{ $env.SMTP_FROM_EMAIL }}", "type": "string" },
            { "id": "cfg-07-03", "name": "SMTP_FROM_NAME", "value": "={{ $env.SMTP_FROM_NAME }}", "type": "string" },
            { "id": "cfg-07-06", "name": "N8N_WEBHOOK_API_KEY", "value": "={{ $env.N8N_WEBHOOK_API_KEY }}", "type": "string" }
          ]
        }
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "value": "owner", "operation": "equal" },
            { "outputIndex": 1, "value": "cleaning_staff", "operation": "equal" }
          ]
        },
        "dataType": "string",
        "value": "={{ $('Webhook Trigger').item.json.body.role }}",
        "options": {}
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000003",
      "name": "Switch: Role",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF07 — Build owner welcome email\n// ============================================================\n\nconst config = $('Config').item.json;\nconst body = $('Webhook Trigger').item.json.body;\n\nconst firstName = (body.display_name || 'Cher proprietaire').split(' ')[0];\n\nconst html = `<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;\">\n  <div style=\"background:#1a1a2e;color:#fff;padding:24px;border-radius:8px 8px 0 0;text-align:center;\">\n    <h1 style=\"margin:0;font-size:24px;\">Bienvenue sur Neurolia-Immo !</h1>\n  </div>\n  <div style=\"padding:24px;\">\n    <p>Bonjour ${firstName},</p>\n    <p>Votre compte proprietaire a ete cree avec succes. Voici les prochaines etapes pour bien demarrer :</p>\n\n    <div style=\"margin:20px 0;\">\n      <div style=\"display:flex;align-items:center;margin:12px 0;padding:12px;background:#f0fdf4;border-radius:6px;\">\n        <span style=\"font-size:24px;margin-right:12px;\">1</span>\n        <div><strong>Ajouter votre premier bien</strong><br><span style=\"color:#6b7280;\">Renseignez le nom, l'adresse et les informations pratiques.</span></div>\n      </div>\n      <div style=\"display:flex;align-items:center;margin:12px 0;padding:12px;background:#eff6ff;border-radius:6px;\">\n        <span style=\"font-size:24px;margin-right:12px;\">2</span>\n        <div><strong>Configurer les URLs iCal</strong><br><span style=\"color:#6b7280;\">Importez votre calendrier Airbnb et/ou Booking pour synchroniser vos reservations.</span></div>\n      </div>\n      <div style=\"display:flex;align-items:center;margin:12px 0;padding:12px;background:#fdf4ff;border-radius:6px;\">\n        <span style=\"font-size:24px;margin-right:12px;\">3</span>\n        <div><strong>Inviter votre equipe d'entretien</strong><br><span style=\"color:#6b7280;\">Ajoutez vos agents de menage pour automatiser le planning.</span></div>\n      </div>\n    </div>\n\n    <p style=\"text-align:center;margin-top:24px;\">\n      <a href=\"${config.DASHBOARD_URL}/properties/new\" style=\"display:inline-block;background:#6366f1;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;font-size:16px;\">Commencer la configuration</a>\n    </p>\n\n    <p style=\"color:#6b7280;font-size:13px;margin-top:24px;\">Besoin d'aide ? Contactez-nous a support@neurolia.fr</p>\n  </div>\n</div>`;\n\nreturn [{\n  json: {\n    to: body.email,\n    subject: 'Bienvenue sur Neurolia-Immo !',\n    html: html,\n    user_id: body.user_id\n  }\n}];"
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000004",
      "name": "Code: Build Owner Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000005",
      "name": "Send Email Owner Welcome",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.2,
      "position": [1250, 200],
      "credentials": {
        "smtp": {
          "id": "CRED-02",
          "name": "CRED-02 — SMTP - Loc Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook Trigger').item.json.body.owner_id }}&select=id,display_name,email",
        "options": {}
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000006",
      "name": "Supabase: Get Owner Profile",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, 450],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF07 — Build staff welcome email + owner notification\n// ============================================================\n\nconst config = $('Config').item.json;\nconst body = $('Webhook Trigger').item.json.body;\nconst ownerArr = $('Supabase: Get Owner Profile').all().map(i => i.json);\nconst owner = Array.isArray(ownerArr[0]) ? ownerArr[0][0] : ownerArr[0];\n\nconst staffFirstName = (body.display_name || 'Cher collaborateur').split(' ')[0];\nconst ownerName = owner ? owner.display_name : 'votre employeur';\nconst ownerEmail = owner ? owner.email : null;\n\n// --- Email staff bienvenue ---\nconst staffHtml = `<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;\">\n  <div style=\"background:#6366f1;color:#fff;padding:24px;border-radius:8px 8px 0 0;text-align:center;\">\n    <h1 style=\"margin:0;\">Bienvenue dans l'equipe !</h1>\n  </div>\n  <div style=\"padding:24px;\">\n    <p>Bonjour ${staffFirstName},</p>\n    <p>Vous avez rejoint l'equipe de <strong>${ownerName}</strong> sur Neurolia-Immo.</p>\n    <h3>Comment ca fonctionne :</h3>\n    <ul>\n      <li>Vous recevrez votre planning de taches chaque matin par email</li>\n      <li>Consultez les details de chaque tache (adresse, code d'acces, checklist)</li>\n      <li>Validez les taches une fois completees dans l'application</li>\n    </ul>\n    <p style=\"text-align:center;margin-top:24px;\">\n      <a href=\"${config.DASHBOARD_URL}/planning\" style=\"display:inline-block;background:#6366f1;color:#fff;padding:14px 28px;border-radius:8px;text-decoration:none;\">Voir mon planning</a>\n    </p>\n  </div>\n</div>`;\n\n// --- Email owner notification ---\nlet ownerHtml = '';\nif (ownerEmail) {\n  ownerHtml = `<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;\">\n    <div style=\"background:#1a1a2e;color:#fff;padding:16px;border-radius:8px 8px 0 0;\">\n      <h2 style=\"margin:0;\">Nouveau membre dans votre equipe</h2>\n    </div>\n    <div style=\"padding:16px;\">\n      <p><strong>${body.display_name}</strong> a rejoint votre equipe d'entretien.</p>\n      <table style=\"width:100%;border-collapse:collapse;\">\n        <tr><td style=\"padding:8px;font-weight:bold;\">Nom</td><td style=\"padding:8px;\">${body.display_name}</td></tr>\n        <tr style=\"background:#f3f4f6;\"><td style=\"padding:8px;font-weight:bold;\">Email</td><td style=\"padding:8px;\">${body.email}</td></tr>\n        <tr><td style=\"padding:8px;font-weight:bold;\">Date inscription</td><td style=\"padding:8px;\">${new Date().toLocaleDateString('fr-FR')}</td></tr>\n      </table>\n      <p style=\"margin-top:16px;\"><a href=\"${config.DASHBOARD_URL}/team\" style=\"display:inline-block;background:#1a1a2e;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;\">Gerer mon equipe</a></p>\n    </div>\n  </div>`;\n}\n\nconst emails = [\n  {\n    json: {\n      to: body.email,\n      subject: `Bienvenue dans l'equipe — Neurolia-Immo`,\n      html: staffHtml,\n      type: 'staff_welcome'\n    }\n  }\n];\n\nif (ownerEmail) {\n  emails.push({\n    json: {\n      to: ownerEmail,\n      subject: `${body.display_name} a rejoint votre equipe`,\n      html: ownerHtml,\n      type: 'owner_notification'\n    }\n  });\n}\n\nreturn emails;"
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000007",
      "name": "Code: Build Staff Welcome Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "e1f2a3b4-0007-4000-8000-000000000008",
      "name": "Split Send Emails",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.2,
      "position": [1500, 450],
      "credentials": {
        "smtp": {
          "id": "CRED-02",
          "name": "CRED-02 — SMTP - Loc Immo"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Config", "type": "main", "index": 0 }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          { "node": "Switch: Role", "type": "main", "index": 0 }
        ]
      ]
    },
    "Switch: Role": {
      "main": [
        [
          { "node": "Code: Build Owner Welcome Email", "type": "main", "index": 0 }
        ],
        [
          { "node": "Supabase: Get Owner Profile", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: Build Owner Welcome Email": {
      "main": [
        [
          { "node": "Send Email Owner Welcome", "type": "main", "index": 0 }
        ]
      ]
    },
    "Supabase: Get Owner Profile": {
      "main": [
        [
          { "node": "Code: Build Staff Welcome Emails", "type": "main", "index": 0 }
        ]
      ]
    },
    "Code: Build Staff Welcome Emails": {
      "main": [
        [
          { "node": "Split Send Emails", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "WF00 — Error Handler"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}