neurolia-immo/n8n/pipeline/output/04-workflows/WF08-issue-handler.json
{
  "name": "WF08 — Issue Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issue-created",
        "authentication": "headerAuth",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "issue-created",
      "credentials": {
        "httpHeaderAuth": {
          "id": "CRED-04",
          "name": "CRED-04 — Header Auth - API Key Dashboard"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "cfg-08-01",
              "name": "DASHBOARD_URL",
              "value": "={{ $env.DASHBOARD_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-08-02",
              "name": "SMTP_FROM_EMAIL",
              "value": "={{ $env.SMTP_FROM_EMAIL }}",
              "type": "string"
            },
            {
              "id": "cfg-08-03",
              "name": "SUPABASE_URL",
              "value": "={{ $env.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "cfg-08-04",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook Trigger').item.json.body.property_id }}&select=name,address,owner_id",
        "options": {}
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000005",
      "name": "Supabase: Get Property",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook Trigger').item.json.body.reported_by }}&select=display_name,email,phone",
        "options": {}
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000006",
      "name": "Supabase: Get Reporter",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Supabase: Get Property').item.json.owner_id }}&select=email,display_name",
        "options": {}
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000007",
      "name": "Supabase: Get Owner",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "CRED-03-NATIVE",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================\n// WF08 — Build urgent issue email for owner\n// Data from Supabase nodes, only Storage signed URL via fetch\n// ============================================================\n\nconst config = $('Config').item.json;\nconst body = $('Webhook Trigger').item.json.body;\nconst supabaseUrl = config.SUPABASE_URL;\nconst supabaseKey = config.SUPABASE_SERVICE_KEY;\n\n// --- Read from Supabase nodes ---\nconst property = $('Supabase: Get Property').item.json || {};\nconst reporter = $('Supabase: Get Reporter').item.json || {};\nconst ownerData = $('Supabase: Get Owner').item.json || {};\n\nconst ownerEmail = ownerData.email || null;\nconst ownerName = ownerData.display_name || '';\n\nif (!ownerEmail) {\n  throw new Error(`Impossible de recuperer l'email du owner pour property: ${property.name}`);\n}\n\n// --- Generate signed URL for photo (Storage API — no native node) ---\nlet photoUrl = null;\nif (body.photo_path) {\n  try {\n    const signRes = await fetch(\n      `${supabaseUrl}/storage/v1/object/sign/${body.photo_path}`,\n      {\n        method: 'POST',\n        headers: {\n          'apikey': supabaseKey,\n          'Authorization': `Bearer ${supabaseKey}`,\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify({ expiresIn: 86400 }) // 24h\n      }\n    );\n    const signData = await signRes.json();\n    if (signData.signedURL) {\n      photoUrl = `${supabaseUrl}/storage/v1${signData.signedURL}`;\n    }\n  } catch (err) {\n    // Photo URL generation failed — continue without photo\n  }\n}\n\n// --- Type labels ---\nconst typeLabels = {\n  'leak': 'Fuite',\n  'breakage': 'Casse',\n  'missing': 'Manquant',\n  'other': 'Autre'\n};\nconst typeLabel = typeLabels[body.type] || body.type;\n\nconst timestamp = new Date().toLocaleString('fr-FR', { timeZone: 'Europe/Paris' });\n\n// --- Build email ---\nlet html = `<div style=\"font-family:-apple-system,sans-serif;max-width:600px;margin:0 auto;\">`;\nhtml += `<div style=\"background:#dc2626;color:#fff;padding:16px;border-radius:8px 8px 0 0;\">`;\nhtml += `<h2 style=\"margin:0;\">SIGNALEMENT URGENT</h2>`;\nhtml += `</div>`;\nhtml += `<div style=\"padding:16px;border:1px solid #e5e7eb;border-top:none;border-radius:0 0 8px 8px;\">`;\n\nhtml += `<table style=\"width:100%;border-collapse:collapse;\">`;\nhtml += `<tr><td style=\"padding:8px;font-weight:bold;\">Type</td><td style=\"padding:8px;\"><span style=\"background:#dc2626;color:#fff;padding:2px 8px;border-radius:4px;\">${typeLabel}</span></td></tr>`;\nhtml += `<tr style=\"background:#f3f4f6;\"><td style=\"padding:8px;font-weight:bold;\">Description</td><td style=\"padding:8px;\">${body.description || '-'}</td></tr>`;\nhtml += `<tr><td style=\"padding:8px;font-weight:bold;\">Propriete</td><td style=\"padding:8px;\">${property.name || '-'} — ${property.address || '-'}</td></tr>`;\nhtml += `<tr style=\"background:#f3f4f6;\"><td style=\"padding:8px;font-weight:bold;\">Signale par</td><td style=\"padding:8px;\">${reporter.display_name || '-'}${reporter.phone ? ` (${reporter.phone})` : ''}</td></tr>`;\nhtml += `<tr><td style=\"padding:8px;font-weight:bold;\">Quand</td><td style=\"padding:8px;\">${timestamp}</td></tr>`;\nhtml += `</table>`;\n\nif (photoUrl) {\n  html += `<div style=\"margin-top:16px;\"><img src=\"${photoUrl}\" alt=\"Photo du signalement\" style=\"max-width:100%;border-radius:8px;border:1px solid #e5e7eb;\"></div>`;\n}\n\nhtml += `<div style=\"margin-top:16px;\">`;\nhtml += `<a href=\"${config.DASHBOARD_URL}/issues/${body.issue_id}\" style=\"display:inline-block;background:#1a1a2e;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;margin-right:8px;\">Voir le signalement</a>`;\nif (reporter.phone) {\n  html += `<a href=\"tel:${reporter.phone}\" style=\"display:inline-block;background:#22c55e;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;\">Appeler ${reporter.display_name}</a>`;\n}\nhtml += `</div>`;\n\nhtml += `</div></div>`;\n\nconst subject = `[URGENT] Signalement — ${typeLabel} @ ${property.name || 'Propriete'}`;\n\nreturn [{\n  json: {\n    ownerEmail: ownerEmail,\n    subject: subject,\n    html: html\n  }\n}];"
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000003",
      "name": "Code: Build Urgent Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').item.json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.ownerEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000004",
      "name": "Send Email Urgent",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.2,
      "position": [1750, 300],
      "credentials": {
        "smtp": {
          "id": "CRED-02",
          "name": "CRED-02 — SMTP - Loc Immo"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Supabase: Get Property", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Property": {
      "main": [[{ "node": "Supabase: Get Reporter", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Reporter": {
      "main": [[{ "node": "Supabase: Get Owner", "type": "main", "index": 0 }]]
    },
    "Supabase: Get Owner": {
      "main": [[{ "node": "Code: Build Urgent Email", "type": "main", "index": 0 }]]
    },
    "Code: Build Urgent Email": {
      "main": [[{ "node": "Send Email Urgent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "WF00 — Error Handler"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}