neurolia-social-engine/workflows/wf00-onboarding.json
{
  "id": "7AzZSyW7Q5cv6VW6",
  "name": "SE-WF00 — Onboarding Client",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## 1. CHARGEMENT MANIFESTE\nLecture Google Sheet manifeste client + extraction des IDs Drive.",
        "height": 120,
        "width": 700
      },
      "id": "sn01",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "content": "## 2. UPSERT CLIENT\nInsertion ou mise a jour du client en base Supabase.",
        "height": 120
      },
      "id": "sn02",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "content": "## 3. PARSING BRAND\nBoucle telechargement fichiers brand, parsing GPT-4o, upsert brand_platforms.",
        "height": 120,
        "width": 1340
      },
      "id": "sn03",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        128
      ]
    },
    {
      "parameters": {
        "content": "## 4. PARSING STRATEGIE\nTelechargement et parsing du fichier strategie Instagram, upsert content_strategy.",
        "height": 120,
        "width": 920
      },
      "id": "sn04",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2352,
        128
      ]
    },
    {
      "parameters": {
        "content": "## 5. ASSETS\nTelechargement logo + upload Supabase Storage + insertion brand_asset.",
        "height": 120,
        "width": 700
      },
      "id": "sn05",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        128
      ]
    },
    {
      "parameters": {
        "content": "## 6. FINALISATION\nMise a jour client drive_folder_id + journal execution.",
        "height": 120,
        "width": 520
      },
      "id": "sn06",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4000,
        128
      ]
    },
    {
      "parameters": {},
      "id": "mt01",
      "name": "Declencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "gs02",
      "name": "Charger Manifeste Client",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZYkk36KvR5zrwwsb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (!rows || rows.length === 0) {\n  throw new Error('Aucune ligne trouvee dans le Google Sheet manifeste');\n}\nconst row = rows.find(r => !r.json.onboarding_status || r.json.onboarding_status === 'pending') || rows[0];\nconst d = row.json;\n\nfunction extractDriveId(url) {\n  if (!url) return null;\n  const s = String(url);\n  let m = s.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n  if (m) return m[1];\n  m = s.match(/\\/folders\\/([a-zA-Z0-9_-]+)/);\n  if (m) return m[1];\n  if (/^[a-zA-Z0-9_-]{10,}$/.test(s)) return s;\n  return null;\n}\n\nreturn [{ json: {\n  client: {\n    name: d.client_name,\n    slug: d.client_slug,\n    industry: d.industry,\n    website_url: d.website_url || null,\n    instagram_handle: d.instagram_handle,\n    facebook_page_url: d.facebook_page_url || null,\n    drive_folder_id: extractDriveId(d.photos_brutes_folder),\n    meta_page_id: d.meta_page_id || null,\n    meta_ig_user_id: d.meta_ig_user_id || null,\n    meta_access_token: d.meta_access_token || null\n  },\n  drive: {\n    brand_folder_id: extractDriveId(d.brand_folder),\n    strategie_id: extractDriveId(d.strategie_md),\n    logo_id: extractDriveId(d.logo),\n    photos_contexte_id: extractDriveId(d.photos_contexte),\n    photos_brutes_folder_id: extractDriveId(d.photos_brutes_folder)\n  },\n  _rowNumber: row.json.row_number || 2\n}}];"
      },
      "id": "cd03",
      "name": "Extraire Donnees Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const httpRequest = this.helpers.httpRequest;\nconst SUPABASE_URL = 'https://abbtnownnraylaylswqk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM';\nconst client = $json.client;\nconst headers = {\n  apikey: SUPABASE_KEY,\n  Authorization: `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  Prefer: 'resolution=merge-duplicates,return=representation'\n};\n\nconst result = await httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/clients?on_conflict=slug`,\n  headers,\n  body: JSON.stringify(client)\n});\n\nconst clientRow = Array.isArray(result) ? result[0] : result;\nreturn [{ json: {\n  client_id: clientRow.id,\n  client_slug: client.slug,\n  drive: $json.drive,\n  _rowNumber: $json._rowNumber\n}}];"
      },
      "id": "cd04",
      "name": "UPSERT Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ \"'\" + $('UPSERT Client').first().json.drive.brand_folder_id + \"' in parents\" }}"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType)"
            },
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "hr05",
      "name": "Lister Fichiers Brand",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqJgSWENajhpIYOK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.brandTexts = [];\nconst files = $json.files || [];\nif (files.length === 0) throw new Error('Aucun fichier brand trouve dans le dossier Drive');\nreturn files.map(f => ({ json: f }));"
      },
      "id": "cd05b",
      "name": "Preparer Fichiers Brand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "si06",
      "name": "Boucle Fichiers Brand",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.mimeType === 'application/vnd.google-apps.document' ? 'https://www.googleapis.com/drive/v3/files/' + $json.id + '/export?mimeType=text/plain' : 'https://www.googleapis.com/drive/v3/files/' + $json.id + '?alt=media' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "hr07",
      "name": "Telecharger Fichier Brand",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqJgSWENajhpIYOK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst fileName = $('Boucle Fichiers Brand').first().json.name || 'unknown';\nconst content = $json.data || (typeof $json === 'string' ? $json : JSON.stringify($json));\nstaticData.brandTexts.push(`=== ${fileName} ===\\n${content}`);\nreturn [{ json: { _accumulated: staticData.brandTexts.length } }];"
      },
      "id": "cd08",
      "name": "Accumuler Contenu Brand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst allText = (staticData.brandTexts || []).join('\\n\\n');\nconst clientId = $('UPSERT Client').first().json.client_id;\n\nconst systemPrompt = `<role>\nTu es un extracteur de donnees. Tu recois des fichiers de marque concatenes et tu dois produire un JSON structure EXACT pour la table brand_platforms.\nAucune invention, aucune interpretation — uniquement ce qui est ecrit dans les documents.\n</role>\n\n<instructions>\nExtraire les donnees suivantes des fichiers brand :\n\n1. IDENTITE DE MARQUE :\n   - mission : mission de la marque\n   - vision : vision de la marque\n   - brand_values : tableau d'objets [{ \"name\": \"...\", \"implique\": \"...\" }]\n   - personality : description de la personnalite\n   - archetype : { \"principal\": \"...\", \"secondaire\": \"...\" }\n\n2. VOIX ET TON :\n   - tone_of_voice : description du ton\n   - vocabulary_do : tableau de mots/expressions a utiliser\n   - vocabulary_dont : tableau de mots/expressions a eviter\n\n3. IDENTITE VISUELLE :\n   - visual_style : description du style visuel\n   - photo_style : description du style photo\n   - colors : { \"primary\": \"...\", \"secondary\": \"...\", \"accent\": \"...\" }\n   - fonts : { \"primary\": \"...\", \"secondary\": \"...\" }\n\n4. POSITIONNEMENT :\n   - key_insight : insight strategique cle\n   - brand_promise : promesse de marque\n   - brand_essence : essence de marque\n   - tagline : tagline\n   - usps : tableau [{ \"title\": \"...\", \"description\": \"...\" }]\n   - differentiators : tableau de differenciateurs\n\n5. AUDIENCE :\n   - target_audience : description audience cible\n\n6. SOCIAL MEDIA :\n   - emoji_usage : usage des emojis (string)\n   - hashtags_brand : tableau de hashtags de marque\n   - hashtags_niche : tableau de hashtags de niche\n   - ctas_favorites : tableau de CTAs favoris\n\n7. EXTENDED :\n   - brand_extended : {\n       \"personas\": [{ \"name\": \"...\", \"type\": \"...\", \"message_cle\": \"...\" }],\n       \"produits_phares\": [...],\n       \"carte_resume\": \"...\"\n     }\n</instructions>\n\n<output_format>\nRetourner UNIQUEMENT le JSON, sans commentaire, sans markdown.\nRespecter exactement les noms de cles ci-dessus.\nSi une section est absente des documents, mettre null pour le champ.\nLes tableaux vides doivent etre [].\n</output_format>`;\n\nconst userPrompt = `# FICHIERS BRAND A PARSER\\n\\n${allText}`;\n\nreturn [{ json: { systemPrompt, userPrompt, client_id: clientId } }];"
      },
      "id": "cd09",
      "name": "Preparer Parseur Brand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.1, max_tokens: 8000, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userPrompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "hr10",
      "name": "Agent Parseur Brand",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "wVJ0Gr269Fhtq1ro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const httpRequest = this.helpers.httpRequest;\nconst SUPABASE_URL = 'https://abbtnownnraylaylswqk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM';\nconst clientId = $('UPSERT Client').first().json.client_id;\n\n// Parse OpenAI response\nconst raw = $json.choices?.[0]?.message?.content || '';\nlet brandData;\ntry {\n  brandData = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  if (match) brandData = JSON.parse(match[1].trim());\n  else throw new Error('Parse brand echoue: ' + raw.substring(0, 200));\n}\n\nbrandData.client_id = clientId;\nbrandData.platform = 'instagram';\n\nconst headers = {\n  apikey: SUPABASE_KEY,\n  Authorization: `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  Prefer: 'resolution=merge-duplicates,return=representation'\n};\n\nawait httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/brand_platforms?on_conflict=client_id`,\n  headers,\n  body: JSON.stringify(brandData)\n});\n\nreturn [{ json: { _brand_upserted: true, client_id: clientId } }];"
      },
      "id": "cd11",
      "name": "Valider et UPSERT Brand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $('UPSERT Client').first().json.drive.strategie_id + '?alt=media' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "hr14",
      "name": "Telecharger Strategie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqJgSWENajhpIYOK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.data || (typeof $json === 'string' ? $json : JSON.stringify($json));\nconst clientId = $('UPSERT Client').first().json.client_id;\n\nconst systemPrompt = `<role>\nTu es un extracteur de donnees. Tu recois un document de strategie Instagram et tu dois produire un JSON structure EXACT.\nAucune invention, aucune interpretation \\u2014 uniquement ce qui est ecrit dans le document.\n</role>\n\n<instructions>\nExtraire les donnees suivantes du document :\n\n1. ROLE_STATEMENT : Le paragraphe qui decrit le role d'Instagram dans l'ecosysteme du client.\n\n2. POSITIONING_SUMMARY : La phrase de positionnement principale.\n\n3. PILLARS : Pour chaque pilier editorial, extraire :\n   - name, subtitle, percentage (int), posts_per_month (int)\n   - function, content_types (array), rules (array)\n   - creative_dial (objet cle/valeur si mentionne, sinon null)\n\n4. WEEKLY_CALENDAR : mapping jour -> pilier -> format. Cles = jours en minuscules sans accent.\n\n5. STORIES_GUIDELINES : daily_frequency (string), interactive_per_week (int), style (string), weekday_content (array), weekend_content (array)\n\n6. REELS_GUIDELINES : ideal_duration (string), max_duration (string), rules (array)\n\n7. CAPTION_RULES : hook_first_line (bool), food_length (string), education_length (string), hashtags_count (string), hashtags_mix (array), emoji_usage (string)\n\n8. PERIODS : Pour chaque periode :\n   - number (int), name, duration, mission\n   - pillar_overrides (objet ou null), actions (array), kpis (objet)\n\n9. VISION_6M, VISION_12M : texte ou null\n\n10. REVIEW_FREQUENCY : objet ou null\n\n11. OBJECTIVES : Objectifs strategiques du compte/campagne :\n    - primary_goal : objectif principal (string, ex: \"notoriete\", \"engagement\", \"conversion\", \"lancement_produit\", \"fidelisation\")\n    - description : description de l'objectif en 1-2 phrases (string)\n    - posts_per_week : nombre de posts par semaine recommande (int, si mentionne)\n    - stories_per_day : nombre de stories par jour recommande (int, si mentionne)\n    - kpis : tableau d'objectifs chiffres [{ \"metric\": \"...\", \"target\": ... }] (ex: reach, engagement_rate, followers)\n    - themes_imposed : tableau de themes obligatoires ou recurrents (array de strings)\n    - intensity_curve : courbe d'intensite si mentionnee (string: \"flat\", \"ramp_up\", \"peak_middle\", \"front_loaded\", ou null)\n    - budget_tone : niveau de budget/qualite (string: \"standard\", \"premium\", \"economique\", ou null)\n</instructions>\n\n<output_format>\nRetourner UNIQUEMENT le JSON, sans commentaire, sans markdown.\nRespecter exactement les noms de cles ci-dessus en snake_case.\nSi une section est absente, mettre null.\nLes pourcentages des piliers doivent totaliser ~100%.\n</output_format>`;\n\nconst userPrompt = `# DOCUMENT STRATEGIE A PARSER\\n\\n${content}`;\n\nreturn [{ json: { systemPrompt, userPrompt, client_id: clientId } }];"
      },
      "id": "cd15",
      "name": "Preparer Parseur Strategie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.1, max_tokens: 8000, messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.userPrompt }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "hr16",
      "name": "Agent Parseur Strategie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "wVJ0Gr269Fhtq1ro",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const httpRequest = this.helpers.httpRequest;\nconst SUPABASE_URL = 'https://abbtnownnraylaylswqk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM';\nconst clientId = $('UPSERT Client').first().json.client_id;\n\nconst raw = $json.choices?.[0]?.message?.content || '';\nlet stratData;\ntry {\n  stratData = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/```(?:json)?\\s*([\\s\\S]*?)```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  if (match) stratData = JSON.parse(match[1].trim());\n  else throw new Error('Parse strategie echoue: ' + raw.substring(0, 200));\n}\n\nstratData.client_id = clientId;\n\nconst headers = {\n  apikey: SUPABASE_KEY,\n  Authorization: `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  Prefer: 'resolution=merge-duplicates,return=representation'\n};\n\nawait httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/content_strategy?on_conflict=client_id`,\n  headers,\n  body: JSON.stringify(stratData)\n});\n\nreturn [{ json: { _strategy_upserted: true, client_id: clientId } }];"
      },
      "id": "cd17",
      "name": "Valider et UPSERT Strategie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://www.googleapis.com/drive/v3/files/' + $('UPSERT Client').first().json.drive.logo_id + '?alt=media' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "hr19",
      "name": "Telecharger Logo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqJgSWENajhpIYOK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://abbtnownnraylaylswqk.supabase.co/storage/v1/object/social-engine/' + $('UPSERT Client').first().json.client_slug + '/brand-assets/logo' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "hr20",
      "name": "Upload Logo Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const httpRequest = this.helpers.httpRequest;\nconst SUPABASE_URL = 'https://abbtnownnraylaylswqk.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM';\nconst clientId = $('UPSERT Client').first().json.client_id;\nconst clientSlug = $('UPSERT Client').first().json.client_slug;\nconst driveData = $('UPSERT Client').first().json.drive;\n\nconst headers = {\n  apikey: SUPABASE_KEY,\n  Authorization: `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  Prefer: 'return=representation'\n};\n\nconst logoUrl = `social-engine/${clientSlug}/brand-assets/logo`;\nawait httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/brand_assets?on_conflict=client_id,type`,\n  headers: { ...headers, Prefer: 'resolution=merge-duplicates,return=representation' },\n  body: JSON.stringify({\n    client_id: clientId,\n    type: 'logo',\n    name: 'Logo ' + clientSlug,\n    file_url: `${SUPABASE_URL}/storage/v1/object/public/${logoUrl}`,\n    file_path: logoUrl,\n    is_active: true\n  })\n});\n\nif (driveData.photos_brutes_folder_id) {\n  await httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/clients?id=eq.${clientId}`,\n    headers,\n    body: JSON.stringify({ drive_folder_id: driveData.photos_brutes_folder_id })\n  });\n}\n\nreturn [{ json: { _assets_done: true, client_id: clientId } }];"
      },
      "id": "cd21",
      "name": "Inserer Asset et MAJ Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const clientId = $('UPSERT Client').first().json.client_id;\nconst clientSlug = $('UPSERT Client').first().json.client_slug;\n\nreturn [{ json: {\n  workflow: 'WF00',\n  client_id: clientId,\n  client_slug: clientSlug,\n  status: 'success',\n  timestamp: new Date().toISOString(),\n  steps_completed: ['upsert_client', 'parse_brand', 'upsert_brand_platforms', 'parse_strategy', 'upsert_content_strategy', 'upload_logo', 'insert_asset']\n}}];"
      },
      "id": "cd22",
      "name": "Preparer Reponse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        304
      ]
    },
    {
      "parameters": {
        "tableId": "workflow_logs",
        "dataToSend": "autoMapInputData"
      },
      "id": "sb23",
      "name": "Journal Execution",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4672,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "3MfRNEiX8JttZZ8Z",
          "name": "Supabase Neurolia Social"
        }
      }
    },
    {
      "id": "sn07",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4288,
        128
      ],
      "parameters": {
        "width": 500,
        "height": 120,
        "content": "## 7. RAPPORT ONBOARDING\nGenere un rapport HTML self-contained avec l'etat complet du parsing (brand, strategie, assets, verifications)."
      }
    },
    {
      "id": "cd22b",
      "name": "Generer Rapport Onboarding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        304
      ],
      "parameters": {
        "jsCode": "const httpRequest = this.helpers.httpRequest;\nconst SB = 'https://abbtnownnraylaylswqk.supabase.co';\nconst KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFiYnRub3dubnJheWxheWxzd3FrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3OTM0MTYsImV4cCI6MjA4ODM2OTQxNn0.OkRpMcaNgZDGSDLOxWP32F50iOZa3mhcRxSMH-5UlaM';\nconst clientId = $('UPSERT Client').first().json.client_id;\nconst client = $('Extraire Donnees Client').first().json.client;\nconst resp = $('Preparer Reponse').first().json;\nconst hdrs = { apikey: KEY, Authorization: `Bearer ${KEY}` };\nconst brand = ((await httpRequest({ url: `${SB}/rest/v1/brand_platforms?client_id=eq.${clientId}&select=*`, headers: hdrs })) || [])[0] || {};\nconst strategy = ((await httpRequest({ url: `${SB}/rest/v1/content_strategy?client_id=eq.${clientId}&select=*`, headers: hdrs })) || [])[0] || {};\nconst assetsList = (await httpRequest({ url: `${SB}/rest/v1/brand_assets?client_id=eq.${clientId}&select=*`, headers: hdrs })) || [];\nconst esc = s => String(s || '\\u2014').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst j = v => (v && typeof v === 'object') ? JSON.stringify(v) : String(v || '');\nconst COLORS = ['#C45C3B', '#0FB8C4', '#8B5CF6', '#10B981', '#F59E0B'];\nconst reportDate = new Date().toLocaleDateString('fr-FR', { day: '2-digit', month: 'long', year: 'numeric' });\nconst pillars = Array.isArray(strategy.pillars) ? strategy.pillars : [];\nconst periods = Array.isArray(strategy.periods) ? strategy.periods : [];\nconst brandValues = Array.isArray(brand.brand_values) ? brand.brand_values : [];\nconst usps = Array.isArray(brand.usps) ? brand.usps : [];\nconst vocDo = Array.isArray(brand.vocabulary_do) ? brand.vocabulary_do : [];\nconst vocDont = Array.isArray(brand.vocabulary_dont) ? brand.vocabulary_dont : [];\nconst hashBrand = Array.isArray(brand.hashtags_brand) ? brand.hashtags_brand : [];\nconst hashNiche = Array.isArray(brand.hashtags_niche) ? brand.hashtags_niche : [];\nconst ctaFav = Array.isArray(brand.ctas_favorites) ? brand.ctas_favorites : [];\nconst bColors = brand.colors || {};\nconst bFonts = brand.fonts || {};\nconst brandKeys = Object.keys(brand).filter(k => !['id','client_id','created_at','updated_at','platform'].includes(k));\nconst filledCount = brandKeys.filter(k => { const v = brand[k]; return v !== null && v !== undefined && v !== '' && !(Array.isArray(v) && v.length === 0); }).length;\nconst checks = []; const warnings = [];\nif (client.name) checks.push('Nom client renseigne'); else warnings.push({label:'Nom client manquant',detail:'Le champ client_name est vide.'});\nif (filledCount >= 20) checks.push(`Brand platform : ${filledCount}/${brandKeys.length} champs`); else warnings.push({label:`Brand incomplet : ${filledCount}/${brandKeys.length}`,detail:'Fichiers brand manquants.'});\nif (pillars.length >= 3) checks.push(`${pillars.length} piliers detectes`); else warnings.push({label:`${pillars.length} pilier(s)`,detail:'Min 3 piliers attendus.'});\nif (periods.length >= 1) checks.push(`${periods.length} periode(s)`); else warnings.push({label:'0 periode',detail:'Strategie sans periodes.'});\nif (assetsList.length >= 1) checks.push(`${assetsList.length} asset(s)`); else warnings.push({label:'0 asset',detail:'Aucun logo/contexte.'});\nif (strategy.weekly_calendar) checks.push('Calendrier hebdo extrait');\nif (strategy.stories_guidelines) checks.push('Guidelines stories');\nif (strategy.caption_rules) checks.push('Regles caption');\nfunction card(l,t,d,a){return `<div style=\"background:#111827;border:1px solid rgba(255,255,255,0.08);border-radius:16px;padding:28px 24px;text-align:left;position:relative;overflow:hidden;\"><div style=\"position:absolute;top:0;left:0;right:0;height:3px;background:${a};\"></div><p style=\"font-family:'Satoshi',sans-serif;font-size:11px;font-weight:700;letter-spacing:2px;text-transform:uppercase;color:${a};margin-bottom:4px;\">${esc(l)}</p><p style=\"font-family:'Satoshi',sans-serif;font-size:18px;font-weight:900;color:#F5F5F5;margin-bottom:6px;\">${esc(t)}</p><p style=\"font-size:14px;color:#A3A3A3;line-height:1.6;\">${esc(d)}</p></div>`;}\nfunction kpiB(t,v,l,c){return `<div style=\"background:#111827;border:1px solid rgba(255,255,255,0.08);border-radius:10px;padding:20px;text-align:center;\"><div style=\"font-family:'Satoshi',sans-serif;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:${c};opacity:0.6;margin-bottom:6px;\">${esc(t)}</div><div style=\"font-family:'Satoshi',sans-serif;font-size:22px;font-weight:900;color:${c};margin-bottom:4px;\">${esc(v)}</div><div style=\"font-size:12px;color:#737373;\">${esc(l)}</div></div>`;}\nfunction secTitle(t,c){return `<h3 style=\"font-family:'Satoshi',sans-serif;font-weight:700;font-size:20px;color:#F5F5F5;margin-bottom:20px;padding-left:16px;border-left:3px solid ${c};\">${esc(t)}</h3>`;}\nfunction dRow(f,v){return `<tr><td style=\"font-family:'Satoshi',sans-serif;font-weight:600;color:#D4D4D4;padding:12px 16px;border-bottom:1px solid rgba(255,255,255,0.08);width:200px;\">${esc(f)}</td><td style=\"font-size:14px;color:#A3A3A3;padding:12px 16px;border-bottom:1px solid rgba(255,255,255,0.08);\">${v}</td></tr>`;}\nfunction sCard(t,c,b){const bH=b?`<span style=\"font-family:'Satoshi',sans-serif;font-size:11px;font-weight:600;color:#737373;background:#1A1F2E;padding:4px 10px;border-radius:5px;\">${esc(b)}</span>`:'';\nreturn `<div style=\"background:#111827;border:1px solid rgba(255,255,255,0.08);border-radius:14px;padding:28px;\"><div style=\"display:flex;align-items:flex-start;justify-content:space-between;margin-bottom:12px;gap:12px;\"><span style=\"font-family:'Satoshi',sans-serif;font-size:17px;font-weight:700;color:#F5F5F5;flex:1;\">${esc(t)}</span>${bH}</div>${c}</div>`;}\nfunction tg(t,c){return `<span style=\"font-family:'Satoshi',sans-serif;font-size:11px;font-weight:600;padding:3px 10px;border-radius:999px;background:${c}25;color:${c};display:inline-block;margin:2px;\">${esc(t)}</span>`;}\nfunction chkRow(l,s,d){const ok=s==='ok';const dc=ok?'#10B981':'#F59E0B';const tt=ok?'OK':'A verifier';let h=`<div style=\"background:#111827;border:1px solid rgba(255,255,255,0.08);border-radius:14px;padding:16px 24px;margin-bottom:8px;\"><div style=\"display:flex;align-items:center;gap:12px;\"><span style=\"width:8px;height:8px;border-radius:50%;background:${dc};display:inline-block;\"></span><span style=\"font-size:14px;color:#D4D4D4;flex:1;\">${esc(l)}</span>${tg(tt,dc)}</div>`;if(d)h+=`<p style=\"font-size:13px;color:#737373;margin-top:8px;padding-left:20px;\">${esc(d)}</p>`;h+='</div>';return h;}\nconst cEnt=Object.entries(bColors).filter(([k,v])=>v);\nconst cHtml=cEnt.length>0?cEnt.map(([n,h])=>`<div style=\"display:flex;align-items:center;gap:8px;\"><div style=\"width:32px;height:32px;border-radius:6px;background:${esc(h)};border:1px solid rgba(255,255,255,0.08);\"></div><div><div style=\"font-size:12px;color:#F5F5F5;font-weight:600;\">${esc(n)}</div><div style=\"font-size:11px;color:#737373;\">${esc(h)}</div></div></div>`).join(''):'<p style=\"color:#737373;\">Non renseigne</p>';\nconst wC=strategy.weekly_calendar||{};\nconst wCR=Object.entries(wC).map(([d,i])=>{const p=typeof i==='string'?i:(i.pilier||i.pillar||j(i));const f=typeof i==='object'?(i.format||''):'';return dRow(d,`${esc(p)}${f?' — '+esc(f):''}`);}).join('');\nconst html=`<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>Rapport Onboarding — ${esc(client.name)}</title><link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap\" rel=\"stylesheet\"><link rel=\"stylesheet\" href=\"https://api.fontshare.com/v2/css?f[]=satoshi@500,700,900&display=swap\"><style>*,*::before,*::after{margin:0;padding:0;box-sizing:border-box}body{font-family:'Inter',sans-serif;font-size:15px;line-height:1.7;color:#D4D4D4;background:#050810;-webkit-font-smoothing:antialiased}h1,h2,h3,h4{font-family:'Satoshi',sans-serif;color:#F5F5F5;line-height:1.2}a{color:inherit;text-decoration:none}.ctn{max-width:1200px;margin:0 auto;padding:0 24px}.sec{padding:80px 0}.sec-e{background:#0A0F1A;border-top:1px solid rgba(255,255,255,0.08);border-bottom:1px solid rgba(255,255,255,0.08)}.g2{display:grid;grid-template-columns:repeat(2,1fr);gap:20px}.g3{display:grid;grid-template-columns:repeat(3,1fr);gap:16px}.g4{display:grid;grid-template-columns:repeat(4,1fr);gap:20px}@media(max-width:768px){.g2,.g3,.g4{grid-template-columns:1fr}}</style></head><body><section style=\"padding:120px 0 60px;text-align:center;position:relative;overflow:hidden;\"><div style=\"position:absolute;top:-200px;left:50%;transform:translateX(-50%);width:800px;height:800px;background:radial-gradient(circle,rgba(196,92,59,0.08) 0%,transparent 70%);pointer-events:none;\"></div><div class=\"ctn\"><p style=\"font-family:'Satoshi',sans-serif;font-size:12px;font-weight:700;letter-spacing:3px;text-transform:uppercase;color:#C45C3B;margin-bottom:20px;\">WF00 — Rapport d'Onboarding</p><h1 style=\"font-size:clamp(32px,5vw,56px);font-weight:900;margin-bottom:16px;background:linear-gradient(135deg,#F5F5F5 0%,#A3A3A3 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;\">${esc(client.name)}</h1><p style=\"font-size:clamp(16px,2vw,20px);color:#A3A3A3;max-width:600px;margin:0 auto 48px;line-height:1.6;\">Ce que le Social Engine a compris de vos fichiers brand et strategie.</p><div class=\"g4\" style=\"max-width:1100px;margin:0 auto;\">${card('Client',client.name,client.industry||'?',COLORS[0])}${card('Brand',filledCount+' champs','GPT-4o',COLORS[1])}${card('Strategie',pillars.length+' piliers',periods.length+' periode(s)',COLORS[2])}${card('Assets',assetsList.length+' fichier(s)','Logo+contexte',COLORS[3])}</div></div></section><section class=\"sec sec-e\"><div class=\"ctn\"><div style=\"text-align:center;margin-bottom:48px;\"><h2 style=\"font-size:clamp(24px,3.5vw,36px);font-weight:900;margin-bottom:8px;\">Identite Client</h2></div><div style=\"max-width:700px;margin:0 auto;\"><table style=\"width:100%;border-collapse:collapse;\">${dRow('Nom',esc(client.name))}${dRow('Slug','<code style=\"background:#1A1F2E;padding:2px 6px;border-radius:4px;\">'+esc(client.slug)+'</code>')}${dRow('Secteur',esc(client.industry))}${dRow('Instagram',esc(client.instagram_handle))}${dRow('Facebook',esc(client.facebook_page_url))}</table></div></div></section><section class=\"sec\"><div class=\"ctn\"><div style=\"display:flex;align-items:flex-start;gap:20px;margin-bottom:48px;\"><div style=\"font-family:'Satoshi',sans-serif;font-size:48px;font-weight:900;color:#0FB8C4;line-height:1;\">01</div><div><h2 style=\"font-size:clamp(24px,3.5vw,36px);font-weight:900;margin-bottom:12px;\">Plateforme de Marque</h2><p style=\"font-size:16px;color:#A3A3A3;\">${filledCount} champs extraits via GPT-4o.</p></div></div>${secTitle('Fondation',COLORS[1])}<div class=\"g2\" style=\"margin-bottom:40px;\">${sCard('Mission','<p style=\"font-size:14px;color:#A3A3A3;\">'+esc(brand.mission)+'</p>')}${sCard('Vision','<p style=\"font-size:14px;color:#A3A3A3;\">'+esc(brand.vision)+'</p>')}${sCard('Personnalite','<p style=\"font-size:14px;color:#A3A3A3;\">'+esc(brand.personality)+'</p>',brand.archetype?.principal||null)}${sCard('Archetype','<p style=\"font-size:14px;color:#A3A3A3;\">'+esc(brand.archetype?.principal)+' / '+esc(brand.archetype?.secondaire)+'</p>')}</div>${secTitle('Positionnement',COLORS[1])}<div style=\"background:#111827;border-radius:12px;padding:24px 28px;margin-bottom:40px;border-left:3px solid #0FB8C4;\"><p style=\"font-size:14.5px;color:#A3A3A3;\"><strong style=\"color:#F5F5F5;\">Promesse :</strong> ${esc(brand.brand_promise)}</p><p style=\"font-size:14.5px;color:#A3A3A3;margin-top:8px;\"><strong style=\"color:#F5F5F5;\">Insight :</strong> ${esc(brand.key_insight)}</p></div>${secTitle('Voix & Ton',COLORS[1])}<div class=\"g4\" style=\"margin-bottom:24px;\">${kpiB('Ton',brand.tone_of_voice||'?','','#0FB8C4')}${kpiB('Registre',brand.tu_vous||'?','','#0FB8C4')}${kpiB('Formalite',(brand.formality_level||'?')+'/5','','#0FB8C4')}${kpiB('Emojis',brand.emoji_usage||'?','','#0FB8C4')}</div><div class=\"g2\" style=\"margin-bottom:40px;\">${sCard('Vocabulaire DO','<div style=\"display:flex;flex-wrap:wrap;gap:6px;\">'+vocDo.map(w=>tg(w,'#10B981')).join('')+'</div>')}${sCard('Vocabulaire DONT','<div style=\"display:flex;flex-wrap:wrap;gap:6px;\">'+vocDont.map(w=>tg(w,'#EF4444')).join('')+'</div>')}</div>${secTitle('Identite Visuelle',COLORS[1])}<div class=\"g2\" style=\"margin-bottom:40px;\">${sCard('Palette','<div style=\"display:flex;gap:12px;flex-wrap:wrap;\">'+cHtml+'</div>')}${sCard('Typographies','<p style=\"font-size:14px;color:#A3A3A3;\">Display: '+esc(bFonts.primary||brand.font_primary||'?')+'<br>Body: '+esc(bFonts.secondary||brand.font_secondary||'?')+'</p>')}</div>${secTitle('Hashtags',COLORS[1])}<div class=\"g2\" style=\"margin-bottom:40px;\">${sCard('Branded','<div style=\"display:flex;flex-wrap:wrap;gap:6px;\">'+hashBrand.map(h=>tg(h,'#C45C3B')).join('')+'</div>')}${sCard('Niche','<div style=\"display:flex;flex-wrap:wrap;gap:6px;\">'+hashNiche.map(h=>tg(h,'#0FB8C4')).join('')+'</div>')}</div></div></section><section class=\"sec sec-e\"><div class=\"ctn\"><div style=\"display:flex;align-items:flex-start;gap:20px;margin-bottom:48px;\"><div style=\"font-family:'Satoshi',sans-serif;font-size:48px;font-weight:900;color:#8B5CF6;line-height:1;\">02</div><div><h2 style=\"font-size:clamp(24px,3.5vw,36px);font-weight:900;margin-bottom:12px;\">Strategie de Contenu</h2></div></div>${pillars.length>0?secTitle('Piliers',COLORS[2])+'<div style=\"display:flex;height:40px;border-radius:8px;overflow:hidden;margin-bottom:12px;\">'+pillars.map((p,i)=>'<div style=\"flex:'+(p.percentage||20)+';background:'+COLORS[i%5]+';display:flex;align-items:center;justify-content:center;font-family:\\'Satoshi\\',sans-serif;font-size:11px;font-weight:700;color:rgba(255,255,255,0.9);\">'+(p.percentage||'?')+'%</div>').join('')+'</div><div style=\"display:flex;flex-wrap:wrap;gap:16px 32px;margin-bottom:40px;\">'+pillars.map((p,i)=>'<div style=\"display:flex;align-items:center;gap:8px;font-size:13px;color:#A3A3A3;\"><div style=\"width:10px;height:10px;border-radius:3px;background:'+COLORS[i%5]+';\"></div>'+esc(p.name)+' ('+(p.percentage||'?')+'%)</div>').join('')+'</div><div class=\"g2\" style=\"margin-bottom:40px;\">'+pillars.map((p,i)=>sCard(p.name||'?','<p style=\"font-size:13px;color:#737373;\">'+esc(p.subtitle||p.function||'')+'</p>'+(Array.isArray(p.content_types)?'<ul style=\"list-style:none;\">'+p.content_types.map(ct=>'<li style=\"font-size:14px;color:#A3A3A3;padding:3px 0;\">'+esc(ct)+'</li>').join('')+'</ul>':''),(p.percentage||'?')+'%')).join('')+'</div>':''}${periods.length>0?secTitle('Periodes',COLORS[2])+'<div class=\"g3\" style=\"margin-bottom:40px;\">'+periods.map((p,i)=>card('P'+(p.number||i+1),p.name||'?',p.mission||'',COLORS[i%5])).join('')+'</div>':''}${Object.keys(wC).length>0?secTitle('Calendrier type',COLORS[2])+'<div style=\"max-width:800px;margin-bottom:40px;\"><table style=\"width:100%;border-collapse:collapse;\">'+wCR+'</table></div>':''}</div></section><section class=\"sec\"><div class=\"ctn\"><div style=\"display:flex;align-items:flex-start;gap:20px;margin-bottom:48px;\"><div style=\"font-family:'Satoshi',sans-serif;font-size:48px;font-weight:900;color:#10B981;line-height:1;\">03</div><div><h2 style=\"font-size:clamp(24px,3.5vw,36px);font-weight:900;margin-bottom:12px;\">Assets</h2></div></div><div class=\"g3\" style=\"margin-bottom:40px;\">${kpiB('Logo',assetsList.filter(a=>a.type==='logo').length.toString(),'','#10B981')}${kpiB('Contexte',assetsList.filter(a=>['background','photo_style','context'].includes(a.type)).length.toString(),'','#10B981')}${kpiB('Total',assetsList.length.toString(),'','#10B981')}</div>${assetsList.length>0?'<table style=\"width:100%;border-collapse:collapse;\">'+assetsList.map(a=>dRow(a.name||'?',tg(a.type||'?','#0FB8C4'))).join('')+'</table>':''}</div></section><section class=\"sec sec-e\"><div class=\"ctn\"><div style=\"display:flex;align-items:flex-start;gap:20px;margin-bottom:48px;\"><div style=\"font-family:'Satoshi',sans-serif;font-size:48px;font-weight:900;color:#F59E0B;line-height:1;\">04</div><div><h2 style=\"font-size:clamp(24px,3.5vw,36px);font-weight:900;margin-bottom:12px;\">Verification</h2></div></div>${checks.map(c=>chkRow(c,'ok')).join('')}${warnings.length>0?'<div style=\"margin-top:32px;\">'+warnings.map(w=>chkRow(w.label,'warning',w.detail)).join('')+'</div>':''}<div style=\"background:#111827;border:1px solid rgba(255,255,255,0.08);border-radius:12px;padding:24px 28px;margin-top:40px;\"><h4 style=\"font-family:'Satoshi',sans-serif;font-weight:700;font-size:16px;color:#F5F5F5;margin-bottom:8px;\">${warnings.length===0?'Onboarding complet — pret pour WF01':'Termine avec '+warnings.length+' avertissement(s)'}</h4><p style=\"font-size:14px;color:#A3A3A3;font-style:italic;\">${filledCount} champs, ${pillars.length} piliers, ${periods.length} periode(s), ${assetsList.length} asset(s).</p></div></div></section><footer style=\"padding:48px 0;text-align:center;border-top:1px solid rgba(255,255,255,0.08);\"><div class=\"ctn\"><p style=\"font-family:'Satoshi',sans-serif;font-size:15px;font-weight:700;color:#F5F5F5;\">Neurolia Social Engine</p><p style=\"font-size:14px;color:#737373;font-style:italic;\">Rapport WF00 — ${esc(client.name)}</p><p style=\"font-size:12px;color:#737373;\">${reportDate} — Confidentiel</p></div></footer></body></html>`;\nreturn [{json:{...resp,report_html:html}}];"
      }
    }
  ],
  "connections": {
    "Declencheur Manuel": {
      "main": [
        [
          {
            "node": "Charger Manifeste Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Charger Manifeste Client": {
      "main": [
        [
          {
            "node": "Extraire Donnees Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Donnees Client": {
      "main": [
        [
          {
            "node": "UPSERT Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPSERT Client": {
      "main": [
        [
          {
            "node": "Lister Fichiers Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lister Fichiers Brand": {
      "main": [
        [
          {
            "node": "Preparer Fichiers Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Fichiers Brand": {
      "main": [
        [
          {
            "node": "Boucle Fichiers Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle Fichiers Brand": {
      "main": [
        [
          {
            "node": "Preparer Parseur Brand",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telecharger Fichier Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telecharger Fichier Brand": {
      "main": [
        [
          {
            "node": "Accumuler Contenu Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumuler Contenu Brand": {
      "main": [
        [
          {
            "node": "Boucle Fichiers Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Parseur Brand": {
      "main": [
        [
          {
            "node": "Agent Parseur Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Parseur Brand": {
      "main": [
        [
          {
            "node": "Valider et UPSERT Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider et UPSERT Brand": {
      "main": [
        [
          {
            "node": "Telecharger Strategie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telecharger Strategie": {
      "main": [
        [
          {
            "node": "Preparer Parseur Strategie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Parseur Strategie": {
      "main": [
        [
          {
            "node": "Agent Parseur Strategie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Parseur Strategie": {
      "main": [
        [
          {
            "node": "Valider et UPSERT Strategie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider et UPSERT Strategie": {
      "main": [
        [
          {
            "node": "Telecharger Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telecharger Logo": {
      "main": [
        [
          {
            "node": "Upload Logo Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Logo Storage": {
      "main": [
        [
          {
            "node": "Inserer Asset et MAJ Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserer Asset et MAJ Client": {
      "main": [
        [
          {
            "node": "Preparer Reponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Reponse": {
      "main": [
        [
          {
            "node": "Generer Rapport Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generer Rapport Onboarding": {
      "main": [
        [
          {
            "node": "Journal Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 11,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": null
}