neurolia-social-engine/workflows/wf02-content-creation.json
{
  "id": "9CjAn1p1fBvqICU2",
  "name": "SE-WF02 — Creation Contenu",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "nodes": [
    {"id": "sch01", "name": "Declencheur Planifie", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 512], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 10}]}}},
    {"id": "sb02", "name": "Charger Clients Actifs", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [224, 512], "parameters": {"operation": "getAll", "tableId": "clients", "returnAll": true, "matchType": "allFilters", "filters": {"conditions": [{"keyName": "is_active", "condition": "eq", "keyValue": "true"}]}}, "credentials": {"supabaseApi": {"id": "PLACEHOLDER", "name": "Supabase Social Engine"}}},
    {"id": "cd03", "name": "Filtrer Clients avec Drive", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 512], "parameters": {"jsCode": "const items = $input.all();\nconst filtered = items.filter(item => item.json.drive_folder_id);\nif (filtered.length === 0) return [];\nreturn filtered;"}},
    {"id": "sp04", "name": "Boucle Clients", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [672, 512], "parameters": {"options": {}}},
    {"id": "cd05", "name": "Charger Slots Prets", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [896, 704]},
    {"id": "if06", "name": "SI — Slots a Traiter", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1120, 704]},
    {"id": "cd07", "name": "Preparer Slots", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 544]},
    {"id": "sp08", "name": "Boucle Slots", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [1568, 544], "parameters": {"options": {}}},
    {"id": "hr09", "name": "Lister Fichiers Sous-Dossier", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1792, 320]},
    {"id": "cd10", "name": "Identifier Nouveau Fichier", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2016, 320]},
    {"id": "if11", "name": "SI — Fichier Trouve", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [2240, 320]},
    {"id": "hr12", "name": "Telecharger Fichier", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2464, 112]},
    {"id": "hr13", "name": "Upload vers Storage", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2688, 112]},
    {"id": "sb14", "name": "Inserer Upload Assigne", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [2912, 112]},
    {"id": "sb15", "name": "Charger Direction Artistique", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [3136, 112]},
    {"id": "sb16", "name": "Charger Plateforme Marque", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [3360, 112]},
    {"id": "hr17", "name": "Charger Images Contexte", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3584, 112]},
    {"id": "hr18", "name": "Telecharger Original", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3808, 112]},
    {"id": "cd19", "name": "Construire Prompt Sublimation", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4032, 112]},
    {"id": "oa20", "name": "Agent DA — Sublimation", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [4256, 112]},
    {"id": "hr21", "name": "Upload Image Sublimee", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4480, 112]},
    {"id": "hr22", "name": "Charger Captions Anti-Repetition", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4704, 112]},
    {"id": "cd23", "name": "Construire Prompt Caption", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4928, 112]},
    {"id": "ag24", "name": "Agent Redacteur", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [5184, 112]},
    {"id": "lm24a", "name": "Modele OpenAI — Redacteur", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [5152, 336]},
    {"id": "op24b", "name": "Parseur Sortie — Caption", "type": "@n8n/n8n-nodes-langchain.outputParserStructured", "typeVersion": 1.3, "position": [5280, 336]},
    {"id": "lm24c", "name": "Modele OpenAI — AutoFix", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [5360, 544]},
    {"id": "sb25", "name": "Inserer File Contenu", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [5648, 112]},
    {"id": "sb26", "name": "MAJ Statut Upload", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [5872, 112]},
    {"id": "hr27", "name": "Deplacer Fichier Drive", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [6128, 400]},
    {"id": "sb28", "name": "Journal Execution", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1040, 432]},
    {"id": "sn01", "name": "Sticky Note sn01", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-80, 320], "parameters": {"content": "## 1. CHARGEMENT CLIENTS\nDeclencheur toutes les 10 min.\nCharge les clients actifs avec un dossier Google Drive configure.", "height": 120, "width": 800}},
    {"id": "sn02", "name": "Sticky Note sn02", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [816, 500], "parameters": {"content": "## 2. ANALYSE PLANNING\nCharge les slots editoriaux avec sous-dossier Drive (crees par WF1.5).\nExclut ceux deja traites (content_queue ou upload processed).", "height": 120, "width": 560}},
    {"id": "sn03", "name": "Sticky Note sn03", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1488, 120], "parameters": {"content": "## 3. SCAN SOUS-DOSSIERS DRIVE\nPour chaque slot, liste les fichiers dans son sous-dossier Drive.\nIdentifie le premier fichier non encore traite.", "height": 120, "width": 1000}},
    {"id": "sn04", "name": "Sticky Note sn04", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [2384, -100], "parameters": {"content": "## 4. TELECHARGEMENT + STOCKAGE\nTelecharge le fichier, upload vers Supabase Storage.\nInsere l'upload directement assigne au slot (pas de FIFO).", "height": 120, "width": 780}},
    {"id": "sn05", "name": "Sticky Note sn05", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [3056, -100], "parameters": {"content": "## 5. CONTEXTE CREATIF + SUBLIMATION\nCharge direction artistique, charte marque et images contexte.\nSublime la photo via gpt-image-1 (mode post ou story).", "height": 120, "width": 1520}},
    {"id": "sn06", "name": "Sticky Note sn06", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [4624, -100], "parameters": {"content": "## 6. REDACTION CAPTION\nCharge les dernieres captions pour anti-repetition.\nAgent Redacteur (GPT-4o) ecrit caption + hashtags + CTA en JSON.", "height": 120, "width": 900}},
    {"id": "sn07", "name": "Sticky Note sn07", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [5568, -100], "parameters": {"content": "## 7. ENREGISTREMENT + ARCHIVAGE\nInsere dans content_queue (pending_review).\nMAJ statut upload, deplace le fichier Drive vers traites.", "height": 120, "width": 700}}
  ],
  "connections": {
    "Declencheur Planifie": {"main": [[{"node": "Charger Clients Actifs", "type": "main", "index": 0}]]},
    "Charger Clients Actifs": {"main": [[{"node": "Filtrer Clients avec Drive", "type": "main", "index": 0}]]},
    "Filtrer Clients avec Drive": {"main": [[{"node": "Boucle Clients", "type": "main", "index": 0}]]},
    "Boucle Clients": {"main": [[{"node": "Journal Execution", "type": "main", "index": 0}], [{"node": "Charger Slots Prets", "type": "main", "index": 0}]]},
    "Charger Slots Prets": {"main": [[{"node": "SI \u2014 Slots a Traiter", "type": "main", "index": 0}]]},
    "SI \u2014 Slots a Traiter": {"main": [[{"node": "Preparer Slots", "type": "main", "index": 0}], [{"node": "Boucle Clients", "type": "main", "index": 0}]]},
    "Preparer Slots": {"main": [[{"node": "Boucle Slots", "type": "main", "index": 0}]]},
    "Boucle Slots": {"main": [[{"node": "Boucle Clients", "type": "main", "index": 0}], [{"node": "Lister Fichiers Sous-Dossier", "type": "main", "index": 0}]]},
    "Lister Fichiers Sous-Dossier": {"main": [[{"node": "Identifier Nouveau Fichier", "type": "main", "index": 0}]]},
    "Identifier Nouveau Fichier": {"main": [[{"node": "SI \u2014 Fichier Trouve", "type": "main", "index": 0}]]},
    "SI \u2014 Fichier Trouve": {"main": [[{"node": "Telecharger Fichier", "type": "main", "index": 0}], [{"node": "Boucle Slots", "type": "main", "index": 0}]]},
    "Telecharger Fichier": {"main": [[{"node": "Upload vers Storage", "type": "main", "index": 0}]]},
    "Upload vers Storage": {"main": [[{"node": "Inserer Upload Assigne", "type": "main", "index": 0}]]},
    "Inserer Upload Assigne": {"main": [[{"node": "Charger Direction Artistique", "type": "main", "index": 0}]]},
    "Charger Direction Artistique": {"main": [[{"node": "Charger Plateforme Marque", "type": "main", "index": 0}]]},
    "Charger Plateforme Marque": {"main": [[{"node": "Charger Images Contexte", "type": "main", "index": 0}]]},
    "Charger Images Contexte": {"main": [[{"node": "Telecharger Original", "type": "main", "index": 0}]]},
    "Telecharger Original": {"main": [[{"node": "Construire Prompt Sublimation", "type": "main", "index": 0}]]},
    "Construire Prompt Sublimation": {"main": [[{"node": "Agent DA \u2014 Sublimation", "type": "main", "index": 0}]]},
    "Agent DA \u2014 Sublimation": {"main": [[{"node": "Upload Image Sublimee", "type": "main", "index": 0}]]},
    "Upload Image Sublimee": {"main": [[{"node": "Charger Captions Anti-Repetition", "type": "main", "index": 0}]]},
    "Charger Captions Anti-Repetition": {"main": [[{"node": "Construire Prompt Caption", "type": "main", "index": 0}]]},
    "Construire Prompt Caption": {"main": [[{"node": "Agent Redacteur", "type": "main", "index": 0}]]},
    "Agent Redacteur": {"main": [[{"node": "Inserer File Contenu", "type": "main", "index": 0}]]},
    "Inserer File Contenu": {"main": [[{"node": "MAJ Statut Upload", "type": "main", "index": 0}]]},
    "MAJ Statut Upload": {"main": [[{"node": "Deplacer Fichier Drive", "type": "main", "index": 0}]]},
    "Deplacer Fichier Drive": {"main": [[{"node": "Boucle Slots", "type": "main", "index": 0}]]},
    "Modele OpenAI \u2014 Redacteur": {"ai_languageModel": [[{"node": "Agent Redacteur", "type": "ai_languageModel", "index": 0}]]},
    "Parseur Sortie \u2014 Caption": {"ai_outputParser": [[{"node": "Agent Redacteur", "type": "ai_outputParser", "index": 0}]]},
    "Modele OpenAI \u2014 AutoFix": {"ai_languageModel": [[{"node": "Parseur Sortie \u2014 Caption", "type": "ai_languageModel", "index": 0}]]}
  }
}
