neurolia-immo/n8n/pipeline/input/existing-workflows/wf03-notifications.json
{
  "name": "Notifications quotidiennes",
  "nodes": [
    {
      "parameters": {
        "content": "## Notifications quotidiennes\nEnvoie chaque matin a 8h un resume au proprietaire (arrivees, departs, menage) et le planning du jour a chaque femme de menage.\n\n**Declencheur** : Cron quotidien 8h (Europe/Paris)\n**Destinataires** : Proprietaire + Staff",
        "height": 220,
        "width": 450,
        "color": 4
      },
      "id": "8eeca535-3a47-4c81-bf46-31ed5aaa5c31",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2272,
        -496
      ]
    },
    {
      "parameters": {
        "content": "## Construction des emails\nDeux branches paralleles :\n1. **Email proprietaire** : resume complet (arrivees, departs, taches menage)\n2. **Emails staff** : un email par membre du personnel avec son planning individuel",
        "height": 180,
        "width": 400
      },
      "id": "ad477d90-ece1-4150-9f14-d78bee0c7368",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        -432
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "1d3de7d1-5552-41e2-bdac-95e2ee7f161a",
      "name": "Cron quotidien 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2224,
        16
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=check_in=eq.{{ $now.toFormat('yyyy-MM-dd') }}&status=neq.cancelled"
      },
      "id": "7ee79829-92a3-4a00-9da3-bd146ebada5c",
      "name": "Check-ins aujourd'hui",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        -176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=check_out=eq.{{ $now.toFormat('yyyy-MM-dd') }}&status=neq.cancelled"
      },
      "id": "6d285295-7581-4001-a6c7-2b59425460c0",
      "name": "Check-outs aujourd'hui",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        32
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=check_in=eq.{{ DateTime.now().plus({ days: 1 }).toISODate() }}&status=neq.cancelled"
      },
      "id": "280a883e-aa35-4fb4-884a-c0af4817bed7",
      "name": "Check-ins demain",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cleaning_tasks",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=scheduled_date=gte.{{ $now.toFormat('yyyy-MM-dd') }}&scheduled_date=lte.{{ DateTime.now().plus({ days: 1 }).toISODate() }}&status=neq.completed"
      },
      "id": "c1305b91-094c-45e2-b114-21a3ad0bc774",
      "name": "Taches menage aujourd'hui + demain",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        432
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "3d4c86ac-28e0-451e-826a-1b1624e239af",
      "name": "Merge donnees",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3088,
        128
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true,
        "filterType": "string",
        "filterString": "==role=eq.owner?is_active=eq.true"
      },
      "id": "076a3c56-ae76-46bf-8af8-97a33c30cc4e",
      "name": "Get tous les owners",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3248,
        -32
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " // Récupérer les données de chaque noeud par nom\n  const checkInsToday = $('Check-ins aujourd\\'hui').all().map(i => i.json);\n  const checkOutsToday = $('Check-outs aujourd\\'hui').all().map(i => i.json);\n  const checkInsTomorrow = $('Check-ins demain').all().map(i => i.json);\n  const tasks = $('Taches menage aujourd\\'hui + demain').all().map(i => i.json);\n  const owners = $('Get tous les owners').all().map(i => i.json);\n  const properties = $('Get properties').all().map(i => i.json);\n\n  // Construire le mapping property_id → owner_id\n  const propOwnerMap = {};\n  for (const p of properties) {\n    propOwnerMap[p.id] = p.owner_id;\n  }\n\n  // Dédupliquer les owners (filtrer les vrais owners uniquement)\n  const uniqueOwners = [];\n  const seenIds = new Set();\n  for (const o of owners) {\n    if (o.role === 'owner' && !seenIds.has(o.id)) {\n      seenIds.add(o.id);\n      uniqueOwners.push(o);\n    }\n  }\n\n  const results = [];\n\n  for (const owner of uniqueOwners) {\n    // Filtrer par property_id → owner_id\n    const myCheckInsToday = checkInsToday.filter(r => propOwnerMap[r.property_id] === owner.id);\n    const myCheckOutsToday = checkOutsToday.filter(r => propOwnerMap[r.property_id] === owner.id);\n    const myCheckInsTomorrow = checkInsTomorrow.filter(r => propOwnerMap[r.property_id] === owner.id);\n    const myTasks = tasks.filter(t => propOwnerMap[t.property_id] === owner.id);\n\n    if (myCheckInsToday.length === 0 && myCheckOutsToday.length === 0 && myCheckInsTomorrow.length === 0\n   && myTasks.length === 0) {\n      continue;\n    }\n\n    // Construire le corps de l'email\n    let body = `Bonjour ${owner.full_name || owner.email},\\n\\nVoici le résumé du jour :\\n\\n`;\n\n    if (myCheckInsToday.length > 0) {\n      body += `📥 CHECK-INS AUJOURD'HUI (${myCheckInsToday.length})\\n`;\n      for (const r of myCheckInsToday) {\n        const prop = properties.find(p => p.id === r.property_id);\n        body += `  • ${prop?.name || r.property_id} — ${r.nb_guests || '?'} voyageurs\\n`;\n      }\n      body += '\\n';\n    }\n\n    if (myCheckOutsToday.length > 0) {\n      body += `📤 CHECK-OUTS AUJOURD'HUI (${myCheckOutsToday.length})\\n`;\n      for (const r of myCheckOutsToday) {\n        const prop = properties.find(p => p.id === r.property_id);\n        body += `  • ${prop?.name || r.property_id}\\n`;\n      }\n      body += '\\n';\n    }\n\n    if (myCheckInsTomorrow.length > 0) {\n      body += `📅 CHECK-INS DEMAIN (${myCheckInsTomorrow.length})\\n`;\n      for (const r of myCheckInsTomorrow) {\n        const prop = properties.find(p => p.id === r.property_id);\n        body += `  • ${prop?.name || r.property_id} — ${r.nb_guests || '?'} voyageurs\\n`;\n      }\n      body += '\\n';\n    }\n\n    if (myTasks.length > 0) {\n      body += `🧹 TÂCHES MÉNAGE (${myTasks.length})\\n`;\n      for (const t of myTasks) {\n        const prop = properties.find(p => p.id === t.property_id);\n        body += `  • ${prop?.name || t.property_id} — ${t.task_type} (${t.scheduled_date})\\n`;\n      }\n      body += '\\n';\n    }\n\n    results.push({\n      json: {\n        to: owner.email,\n        subject: `[Loc Immo] Résumé du ${new Date().toLocaleDateString('fr-FR')}`,\n        body: body,\n        ownerName: owner.full_name || owner.email,\n        fromEmail: 'noreply@locimmo.app',\n        fromName: 'Loc Immo'\n      }\n    });\n  }\n\n  if (results.length === 0) {\n    return [{ json: { warning: 'Aucun email proprietaire a envoyer' } }];\n  }\n\n  return results;"
      },
      "id": "49943e24-b64d-45b4-a48a-46f59d108c9b",
      "name": "Construire email proprietaire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        -32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acc65d44-290f-4191-9cb9-ef009410f43a",
      "name": "Boucle emails proprietaires",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3872,
        -32
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').first().json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "99faaa0d-6b2e-4686-8595-b38f28284062",
      "name": "Email resume proprietaire",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4096,
        -32
      ],
      "webhookId": "e5e73895-73ad-4de9-9d24-b2d19dfd1b88",
      "credentials": {
        "smtp": {
          "id": "z1Bus01typcwYd7C",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// WF03 — Construire emails staff\n// Regrouper les taches par staff assigne\n// ============================================================\n\nconst tasks = $(\"Taches menage aujourd'hui + demain\").all().map(i => i.json);\nconst allUsers = $(\"Get tous les owners\").all().map(i => i.json);\nconst properties = $(\"Get properties\").all().map(i => i.json);\n\n// Combiner toutes les reservations pour lookup\nconst allReservations = [\n  ...$(\"Check-ins aujourd'hui\").all().map(i => i.json),\n  ...$(\"Check-outs aujourd'hui\").all().map(i => i.json),\n  ...$(\"Check-ins demain\").all().map(i => i.json),\n];\nconst resvMap = {};\nfor (const r of allReservations) {\n  resvMap[r.id] = r;\n}\n\n// Lookups\nconst userMap = {};\nfor (const u of allUsers) {\n  userMap[u.id] = u;\n}\nconst propMap = {};\nfor (const p of properties) {\n  propMap[p.id] = p;\n}\n\n// Regrouper par staff\nconst staffMap = new Map();\n\nfor (const task of tasks) {\n  if (task.status === \"completed\") continue;\n  if (!task.assigned_to) continue;\n\n  const staffId = task.assigned_to;\n  const staffUser = userMap[staffId];\n\n  if (!staffMap.has(staffId)) {\n    staffMap.set(staffId, {\n      staffId,\n      staffName: staffUser ? staffUser.full_name : \"Inconnu\",\n      staffEmail: staffUser ? staffUser.email : null,\n      tasks: [],\n    });\n  }\n\n  const prop = propMap[task.property_id] || {};\n  const resv = resvMap[task.reservation_id] || {};\n\n  staffMap.get(staffId).tasks.push({\n    propertyName: prop.name || \"-\",\n    propertyAddress: prop.address || \"-\",\n    propertyCity: prop.city || \"-\",\n    accessCode: prop.access_code || \"-\",\n    wifiSsid: prop.wifi_ssid || \"-\",\n    wifiPassword: prop.wifi_password || \"-\",\n    type: task.task_type || task.type,\n    scheduledDate: task.scheduled_date,\n    nbGuests: resv.nb_guests || \"-\",\n    arrivalTime: resv.arrival_time || \"non renseignee\",\n    guestName: resv.guest_name || \"-\",\n    specialRequests: resv.special_requests || null,\n    notes: task.notes || null,\n  });\n}\n\n// Construire un email par staff\nvar emails = [];\nvar todayStr = new Date().toLocaleDateString(\"fr-FR\", {\n  weekday: \"long\", day: \"numeric\", month: \"long\"\n});\n\nfor (const [, staff] of staffMap) {\n  if (!staff.staffEmail) continue;\n\n  var firstName = staff.staffName.split(\" \")[0];\n  var html = \"<div style=\\\"font-family: -apple-system, sans-serif; max-width: 600px; margin: 0 auto;\\\">\";\n  html += \"<h1 style=\\\"color: #1a1a2e;\\\">Bonjour \" + firstName + \",</h1>\";\n  html += \"<p>Voici ton planning pour aujourdhui et demain.</p>\";\n\n  for (const task of staff.tasks) {\n    var typeLabel = \"Menage\";\n    if (task.type === \"checkout_clean\") typeLabel = \"Menage depart\";\n    if (task.type === \"checkin_prep\") typeLabel = \"Preparation arrivee\";\n\n    var todayDate = new Date().toISOString().slice(0, 10);\n    var isToday = (task.scheduledDate === todayDate);\n    var dateLabel = isToday ? \"Aujourdhui\" : \"Demain\";\n    var borderColor = isToday ? \"#dc2626\" : \"#3b82f6\";\n\n    html += \"<div style=\\\"margin: 16px 0; padding: 16px; background: #f9fafb; border-radius: 8px; border-left: 4px solid \" + borderColor + \";\\\">\";\n    html += \"<h3 style=\\\"margin: 0 0 8px 0;\\\">\" + typeLabel + \" - \" + dateLabel + \" (\" + task.scheduledDate + \")</h3>\";\n    html += \"<p style=\\\"margin: 4px 0;\\\"><strong>Logement :</strong> \" + task.propertyName + \"</p>\";\n    html += \"<p style=\\\"margin: 4px 0;\\\"><strong>Adresse :</strong> \";\n    html += \"<a href=\\\"https://maps.google.com/?q=\" + encodeURIComponent(task.propertyAddress + \", \" + task.propertyCity) + \"\\\">\";\n    html += task.propertyAddress + \", \" + task.propertyCity + \"</a></p>\";\n    html += \"<p style=\\\"margin: 4px 0;\\\"><strong>Code acces :</strong> \" + task.accessCode + \"</p>\";\n    html += \"<p style=\\\"margin: 4px 0;\\\"><strong>Wifi :</strong> \" + task.wifiSsid + \" / \" + task.wifiPassword + \"</p>\";\n    html += \"<p style=\\\"margin: 4px 0;\\\"><strong>Voyageur :</strong> \" + task.guestName + \" (\" + task.nbGuests + \" pers.)</p>\";\n    html += \"<p style=\\\"margin: 4px 0;\\\"><strong>Heure arrivee :</strong> \" + task.arrivalTime + \"</p>\";\n\n    if (task.specialRequests) {\n      html += \"<div style=\\\"margin-top: 8px; padding: 8px; background: #fef3c7; border-radius: 4px;\\\">\";\n      html += \"<strong>Demande speciale :</strong> \" + task.specialRequests + \"</div>\";\n    }\n\n    if (task.notes) {\n      html += \"<p style=\\\"margin: 8px 0 0 0; color: #6b7280;\\\"><em>Notes : \" + task.notes + \"</em></p>\";\n    }\n\n    html += \"</div>\";\n  }\n\n  html += \"</div>\";\n\n  emails.push({\n    json: {\n      to: staff.staffEmail,\n      subject: \"[Loc Immo] Ton planning - \" + todayStr + \" (\" + staff.tasks.length + \" tache(s))\",\n      html: html,\n      staffName: staff.staffName,\n    }\n  });\n}\n\nif (emails.length === 0) {\n  return [{ json: { warning: \"Aucun email staff a envoyer\" } }];\n}\n\nreturn emails;\n"
      },
      "id": "9704e7de-8572-4764-b2db-e6bbb686aec8",
      "name": "Construire emails staff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32f8e674-4175-4b63-ba05-62cfbd9388b4",
      "name": "Boucle emails staff",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3600,
        272
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').first().json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "f7fba5d5-2755-4fb3-9a78-22c6dc5c4a60",
      "name": "Envoyer planning staff",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3840,
        272
      ],
      "webhookId": "b0d867bd-85c3-4e5b-8459-1847a60218c2",
      "credentials": {
        "smtp": {
          "id": "z1Bus01typcwYd7C",
          "name": "SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "2fd5b66a-ef1e-4c8b-b073-dd6f80bc0572",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "035c6a58-dbfa-4e24-abcd-632578bd6dda",
      "name": "Config3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "b6dd04ad-c02c-4c22-94c8-22fdd7b5b784",
      "name": "Config2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "dfca5157-3a7d-44fa-a120-c9af31c082ec",
      "name": "Config1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        32
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true,
        "filterType": "string"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3456,
        -32
      ],
      "id": "a7e9e9aa-c672-4fd1-ac4a-5fea06e8c39d",
      "name": "Get properties",
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron quotidien 8h": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-ins aujourd'hui": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-outs aujourd'hui": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check-ins demain": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Taches menage aujourd'hui + demain": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge donnees": {
      "main": [
        [
          {
            "node": "Get tous les owners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Construire emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tous les owners": {
      "main": [
        [
          {
            "node": "Get properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire email proprietaire": {
      "main": [
        [
          {
            "node": "Boucle emails proprietaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle emails proprietaires": {
      "main": [
        [],
        [
          {
            "node": "Email resume proprietaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email resume proprietaire": {
      "main": [
        [
          {
            "node": "Boucle emails proprietaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire emails staff": {
      "main": [
        [
          {
            "node": "Boucle emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle emails staff": {
      "main": [
        [],
        [
          {
            "node": "Envoyer planning staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer planning staff": {
      "main": [
        [
          {
            "node": "Boucle emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Check-ins aujourd'hui",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config3": {
      "main": [
        [
          {
            "node": "Taches menage aujourd'hui + demain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config2": {
      "main": [
        [
          {
            "node": "Check-ins demain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "Check-outs aujourd'hui",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get properties": {
      "main": [
        [
          {
            "node": "Construire email proprietaire",
            "type": "main",
            "index": 0
          },
          {
            "node": "Construire emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Llq5u9tJbIJAm6kH",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9475011b-85bb-49b3-abbd-60793c25d77c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53757d982cfc1ea69cd2856d22e27642cd4adf0846c52a03f167ef14d4fdf8ca"
  },
  "id": "L2xZZ1b4TvA6LKoY",
  "tags": [
    {
      "updatedAt": "2026-02-12T15:39:51.938Z",
      "createdAt": "2026-02-12T15:39:51.938Z",
      "id": "96ZowrZHzCX2x7vY",
      "name": "quotidien"
    },
    {
      "updatedAt": "2026-02-12T15:12:05.259Z",
      "createdAt": "2026-02-12T15:12:05.259Z",
      "id": "9KMeVeVXpfiwByMa",
      "name": "notifications"
    },
    {
      "updatedAt": "2026-02-12T15:11:24.538Z",
      "createdAt": "2026-02-12T15:11:24.538Z",
      "id": "SGTxR2n6419dHjHp",
      "name": "loc-immo"
    }
  ]
}