neurolia-immo/n8n/references/Creation taches menage.json
{
  "name": "Creation taches menage",
  "nodes": [
    {
      "parameters": {
        "content": "## Creation automatique des taches de menage\nA la reception d'une nouvelle reservation (webhook), cree automatiquement les taches de menage (checkout_clean + checkin_prep) et les assigne au personnel disponible.\n\n**Declencheur** : Webhook POST (avec authentification Header Auth)\n**Resultat** : Taches creees + staff notifie par email",
        "height": 240,
        "width": 500,
        "color": 4
      },
      "id": "276937a7-e44b-4e65-a3c0-46dc5f6459ce",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        592
      ]
    },
    {
      "parameters": {
        "content": "## Assignation et notification\nAssignation round-robin du personnel de menage, puis envoi d'un email de notification a chaque membre du staff concerne avec les details du logement (adresse, code d'acces, voyageur).",
        "height": 180,
        "width": 420
      },
      "id": "3b8dc624-d80a-4c37-a8ca-5dcd7c3a243f",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4048,
        592
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf04-cleaning-task",
        "options": {}
      },
      "id": "8785d257-66de-495f-aba0-09c3061a2322",
      "name": "Recevoir nouvelle reservation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2192,
        848
      ],
      "webhookId": "wf04-cleaning-task"
    },
    {
      "parameters": {
        "jsCode": "// Valider le payload — reference le trigger par nom\n// (car $input contient la sortie de Config, pas le payload webhook)\nvar raw = $('Recevoir nouvelle reservation').first().json;\nvar data = raw.body || raw;\n\nvar required = ['id', 'property_id', 'check_in', 'check_out'];\nvar missing = required.filter(function(field) { return !data[field]; });\n\nif (missing.length > 0) {\n  throw new Error('Champs manquants: ' + missing.join(', '));\n}\n\nreturn [{json: data}];"
      },
      "id": "b58f1f9f-54d5-4d0e-a6af-4b276656435b",
      "name": "Valider payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        848
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.property_id }}"
      },
      "id": "35932d92-0b32-487a-945d-aa9cd2d63259",
      "name": "Get propriete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2688,
        848
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.owner_id }}"
      },
      "id": "ad633515-80ae-46fa-9f03-ceb35ab53f2a",
      "name": "Get owner email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        848
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cleaning_tasks",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=reservation_id=eq.{{ $node['Recevoir nouvelle reservation'].json.body.id }}&type=eq.checkout_clean"
      },
      "id": "d3b98f06-6943-45b8-83ae-bc8930672147",
      "name": "Get tache checkout existante",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2992,
        848
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-wf04-001",
              "leftValue": "={{ DateTime.fromISO($('Recevoir nouvelle reservation').first().json.body.check_in).diffNow('hours').hours }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ddc87558-aa9e-4825-8799-dd2caec6e535",
      "name": "Checkin prep necessaire ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3568,
        752
      ]
    },
    {
      "parameters": {
        "tableId": "cleaning_tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "reservation_id",
              "fieldValue": "={{ $('Recevoir nouvelle reservation').first().json.body.id }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('Recevoir nouvelle reservation').first().json.body.property_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "checkin_prep"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "scheduled_date",
              "fieldValue": "={{ $('Recevoir nouvelle reservation').first().json.body.check_in }}"
            },
            {
              "fieldId": "checklist",
              "fieldValue": "=[{\"label\":\"Verifier que le menage check-out a bien ete effectue\",\"done\":false},{\"label\":\"Verifier l'etat general du logement\",\"done\":false},{\"label\":\"Verifier les produits d'accueil\",\"done\":false},{\"label\":\"Verifier chauffage/climatisation\",\"done\":false},{\"label\":\"Verifier cles/digicode\",\"done\":false},{\"label\":\"Verifier le wifi\",\"done\":false}]"
            }
          ]
        }
      },
      "id": "bea773e4-0d58-4c20-9ed8-e63846d4cee2",
      "name": "Creer tache checkin_prep",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3856,
        752
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true,
        "filterType": "string",
        "filterString": "role=eq.cleaning_staff"
      },
      "id": "f945b293-5586-4158-84ae-4f10e4c74526",
      "name": "Get staff actif",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4096,
        848
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// WF04 — Assignation round-robin des taches de menage\n// Assigne a chaque tache le staff ayant le moins de taches\n// planifiees cette semaine\n// ============================================================\n\n// --- Recuperer le staff ---\nvar staffItems = $('Get staff actif').all();\nvar staffList = staffItems.map(function(item) { return item.json; });\n\nvar reservation = $('Recevoir nouvelle reservation').first().json;\n\n// --- Recuperer la tache checkout (depuis le noeud qui a tourne) ---\n// Chemin OUI (checkout existait) : depuis \"Get tache checkout existante\"\n// Chemin NON (checkout cree)     : depuis \"Creer tache checkout_clean\"\nvar checkoutTask = null;\ntry {\n  var existingItems = $('Get tache checkout existante').all();\n  if (existingItems.length > 0 && existingItems[0].json && existingItems[0].json.id) {\n    checkoutTask = existingItems[0].json;\n  }\n} catch (e) {}\n\nif (!checkoutTask) {\n  try {\n    var createdItem = $('Creer tache checkout_clean').first();\n    if (createdItem && createdItem.json && createdItem.json.id) {\n      checkoutTask = createdItem.json;\n    }\n  } catch (e) {}\n}\n\n// --- Recuperer la tache checkin_prep (optionnelle) ---\nvar checkinTask = null;\ntry {\n  var checkinItem = $('Creer tache checkin_prep').first();\n  if (checkinItem && checkinItem.json && checkinItem.json.id) {\n    checkinTask = checkinItem.json;\n  }\n} catch (e) {}\n\n// --- Assignation ---\nif (staffList.length === 0) {\n  return [{json: {\n    assignedCheckout: null,\n    assignedCheckin: null,\n    warning: 'Aucun personnel de menage actif. Taches non assignees.',\n  }}];\n}\n\nif (staffList.length === 1) {\n  return [{json: {\n    assignedCheckout: checkoutTask ? {\n      taskId: checkoutTask.id,\n      staffId: staffList[0].id,\n      staffName: staffList[0].full_name,\n      staffEmail: staffList[0].email,\n    } : null,\n    assignedCheckin: checkinTask ? {\n      taskId: checkinTask.id,\n      staffId: staffList[0].id,\n      staffName: staffList[0].full_name,\n      staffEmail: staffList[0].email,\n    } : null,\n  }}];\n}\n\n// Round-robin : alterner entre les staff\nvar staffIndex = Math.floor(Date.now() / 1000) % staffList.length;\nvar checkoutStaff = staffList[staffIndex];\nvar checkinStaff = staffList[(staffIndex + 1) % staffList.length];\n\nreturn [{json: {\n  assignedCheckout: checkoutTask ? {\n    taskId: checkoutTask.id,\n    staffId: checkoutStaff.id,\n    staffName: checkoutStaff.full_name,\n    staffEmail: checkoutStaff.email,\n  } : null,\n  assignedCheckin: checkinTask ? {\n    taskId: checkinTask.id,\n    staffId: checkinStaff.id,\n    staffName: checkinStaff.full_name,\n    staffEmail: checkinStaff.email,\n  } : null,\n}}];"
      },
      "id": "1d05a0ad-130f-41f8-8484-bff52d753721",
      "name": "Assignation round-robin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        848
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cleaning_tasks",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.assignedCheckout.taskId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "assigned_to",
              "fieldValue": "={{ $json.assignedCheckout.staffId }}"
            }
          ]
        }
      },
      "id": "026b7980-890b-4aec-8321-b1604b097286",
      "name": "Assigner checkout_clean",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4608,
        752
      ],
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cleaning_tasks",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.assignedCheckin.taskId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "assigned_to",
              "fieldValue": "={{ $json.assignedCheckin.staffId }}"
            }
          ]
        }
      },
      "id": "97fdb747-6f92-46cd-934c-51a4170e3e04",
      "name": "Assigner checkin_prep",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4608,
        944
      ],
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// WF04 — Email consolide notification staff (Neurolia Immo)\n// ============================================================\n\n// --- Configuration ---\nvar DASHBOARD_URL = $('Config').first().json.DASHBOARD_URL;\n\nvar data = $('Assignation round-robin').first().json;\nvar reservationRaw = $('Recevoir nouvelle reservation').first().json;\nvar reservation = reservationRaw.body || reservationRaw;\nvar property = $('Get propriete').first().json;\n\n// --- Colors & Font ---\nvar C = {\n  terra: '#C45C3B', terraLight: '#FBEAE4',\n  dark: '#2D2D2D', text: '#4A4A4A', muted: '#888888',\n  border: '#E8E6E3', bgPage: '#F5F4F1', bgSunken: '#FAFAF8',\n  error: '#DC2626', info: '#2563EB', warningBg: '#FEF3C7', warning: '#D97706',\n};\nvar F = \"-apple-system,'Segoe UI',Helvetica,Arial,sans-serif\";\n\n// Formatter les heures\nvar checkInTime = reservation.check_in_time || '';\nvar checkOutTime = reservation.check_out_time || '';\nvar checkInDisplay = reservation.check_in + (checkInTime ? ' a ' + checkInTime : '');\nvar checkOutDisplay = reservation.check_out + (checkOutTime ? ' a ' + checkOutTime : '');\n\n// --- Construire la liste des taches par staff ---\nvar staffTasks = {};\n\nif (data.assignedCheckout && data.assignedCheckout.staffEmail) {\n  var key = data.assignedCheckout.staffEmail;\n  if (!staffTasks[key]) {\n    staffTasks[key] = { name: data.assignedCheckout.staffName, email: key, tasks: [] };\n  }\n  staffTasks[key].tasks.push({\n    type: 'checkout_clean',\n    typeLabel: 'Menage depart',\n    date: checkOutDisplay,\n    borderColor: C.error,\n  });\n}\n\nif (data.assignedCheckin && data.assignedCheckin.staffEmail) {\n  var key2 = data.assignedCheckin.staffEmail;\n  if (!staffTasks[key2]) {\n    staffTasks[key2] = { name: data.assignedCheckin.staffName, email: key2, tasks: [] };\n  }\n  staffTasks[key2].tasks.push({\n    type: 'checkin_prep',\n    typeLabel: 'Preparation arrivee',\n    date: checkInDisplay,\n    borderColor: C.info,\n  });\n}\n\n// --- Generer un email par staff ---\nvar emails = [];\nvar staffEmails = Object.keys(staffTasks);\n\nfor (var i = 0; i < staffEmails.length; i++) {\n  var staff = staffTasks[staffEmails[i]];\n  var firstName = staff.name.split(' ')[0];\n  var nbTaches = staff.tasks.length;\n\n  // Task cards\n  var taskCards = '';\n  for (var j = 0; j < staff.tasks.length; j++) {\n    var task = staff.tasks[j];\n    taskCards += '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;border-radius:6px;overflow:hidden;border:1px solid ' + C.border + ';\">' +\n      '<tr><td style=\"height:3px;background-color:' + task.borderColor + ';font-size:0;line-height:0;\">&nbsp;</td></tr>' +\n      '<tr><td style=\"padding:16px;\">' +\n      '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n      '<td style=\"font-family:' + F + ';font-size:15px;font-weight:700;color:' + C.dark + ';\">' + task.typeLabel + '</td>' +\n      '<td align=\"right\" style=\"font-family:' + F + ';font-size:12px;font-weight:600;color:' + task.borderColor + ';text-transform:uppercase;letter-spacing:0.06em;\">' + task.date + '</td>' +\n      '</tr></table>' +\n      '<p style=\"margin:8px 0 4px;font-family:' + F + ';font-size:14px;font-weight:600;color:' + C.dark + ';\">' + property.name + '</p>' +\n      '<p style=\"margin:2px 0;font-family:' + F + ';font-size:13px;\"><a href=\"https://maps.google.com/?q=' + encodeURIComponent((property.address || '') + ', ' + (property.city || '')) + '\" style=\"color:' + C.terra + ';text-decoration:none;\">' + (property.address || '-') + ', ' + (property.city || '-') + '</a></p>' +\n      '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0 0;font-family:' + F + ';font-size:13px;color:' + C.text + ';\">' +\n      '<tr><td style=\"padding:2px 12px 2px 0;color:' + C.muted + ';font-size:12px;\">Code</td><td style=\"font-weight:600;\">' + (property.access_code || '-') + '</td></tr>' +\n      '<tr><td style=\"padding:2px 12px 2px 0;color:' + C.muted + ';font-size:12px;\">WiFi</td><td>' + (property.wifi_ssid || '-') + ' / ' + (property.wifi_password || '-') + '</td></tr>' +\n      '<tr><td style=\"padding:2px 12px 2px 0;color:' + C.muted + ';font-size:12px;\">Voyageur</td><td>' + (reservation.guest_name || '-') + ' (' + (reservation.nb_guests || '-') + ' pers.)</td></tr>' +\n      '</table></td></tr></table>';\n  }\n\n  // Special requests warning\n  var specialHtml = '';\n  if (reservation.special_requests) {\n    specialHtml = '<div style=\"background:' + C.warningBg + ';border-radius:4px;padding:8px 12px;margin:12px 0;font-family:' + F + ';font-size:13px;\">' +\n      '<strong style=\"color:' + C.warning + ';\">Demande speciale :</strong> ' + reservation.special_requests + '</div>';\n  }\n\n  // Content\n  var content = '<h1 style=\"font-family:' + F + ';font-size:22px;font-weight:700;color:' + C.dark + ';margin:0 0 4px;\">Bonjour ' + firstName + '</h1>' +\n    '<p style=\"font-family:' + F + ';font-size:14px;color:' + C.muted + ';margin:0 0 20px;\">Nouvelle reservation a ' + property.name + '</p>' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:' + C.bgSunken + ';border-radius:6px;margin:0 0 16px;\">' +\n    '<tr><td style=\"text-align:center;padding:14px 8px;\">' +\n    '<div style=\"font-family:' + F + ';font-size:28px;font-weight:700;color:' + C.dark + ';\">' + nbTaches + '</div>' +\n    '<div style=\"font-family:' + F + ';font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';margin-top:4px;\">Tache' + (nbTaches > 1 ? 's' : '') + ' assignee' + (nbTaches > 1 ? 's' : '') + '</div>' +\n    '</td></tr></table>' +\n    taskCards + specialHtml +\n    '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:24px auto 0;\">' +\n    '<tr><td style=\"background-color:' + C.terra + ';border-radius:4px;\">' +\n    '<a href=\"' + DASHBOARD_URL + '/cleaning\" style=\"display:inline-block;padding:12px 28px;font-family:' + F + ';font-size:14px;font-weight:600;color:#FFFFFF;text-decoration:none;\">Voir mon planning &rarr;</a>' +\n    '</td></tr></table>';\n\n  // Wrap in branded layout\n  var html = '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/></head>' +\n    '<body style=\"margin:0;padding:0;background-color:' + C.bgPage + ';\">' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:' + C.bgPage + ';\">' +\n    '<tr><td align=\"center\" style=\"padding:32px 16px;\">' +\n    '<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">' +\n    '<tr><td style=\"padding:0 0 24px 0;\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n    '<td style=\"width:3px;background-color:' + C.terra + ';border-radius:2px;\" width=\"3\">&nbsp;</td>' +\n    '<td style=\"padding-left:10px;font-family:' + F + ';font-size:18px;font-weight:700;color:' + C.dark + ';letter-spacing:-0.02em;\">Neurolia Immo</td>' +\n    '</tr></table></td></tr>' +\n    '<tr><td><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#FFFFFF;border-radius:6px;overflow:hidden;\">' +\n    '<tr><td style=\"height:3px;background-color:' + C.terra + ';font-size:0;line-height:0;\">&nbsp;</td></tr>' +\n    '<tr><td style=\"padding:32px 28px;\">' + content + '</td></tr>' +\n    '</table></td></tr>' +\n    '<tr><td style=\"padding:24px 0 0 0;text-align:center;font-family:' + F + ';font-size:12px;color:#999999;\">Neurolia Immo &mdash; par Neurolia</td></tr>' +\n    '</table></td></tr></table></body></html>';\n\n  var subject = '[Neurolia Immo] ' + nbTaches + ' tache' + (nbTaches > 1 ? 's' : '') + ' assignee' + (nbTaches > 1 ? 's' : '') + ' — ' + property.name;\n\n  emails.push({json: {\n    to: staff.email,\n    subject: subject,\n    html: html,\n  }});\n}\n\nreturn emails;"
      },
      "id": "2a346bed-a778-4660-a9dc-7e2308bb8b51",
      "name": "Construire notification staff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        848
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "792dfdf0-aba4-46e6-81f8-256fe2b9bc2d",
      "name": "Boucle notifications staff",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5104,
        848
      ]
    },
    {
      "parameters": {
        "fromEmail": "=gustiez.dorian@neurolia.work",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b0139c43-ec90-47bd-82c0-37b8b9222b9b",
      "name": "Envoyer notification staff",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5344,
        848
      ],
      "webhookId": "920f03c5-5532-49a5-8db4-902459f3518d",
      "credentials": {
        "smtp": {
          "id": "z1Bus01typcwYd7C",
          "name": "SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://app.locimmo.fr',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "df578b0d-7841-48a8-8a6c-95c1fcaa65a6",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        848
      ]
    },
    {
      "parameters": {
        "tableId": "cleaning_tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "reservation_id",
              "fieldValue": "={{ $('Recevoir nouvelle reservation').first().json.body.id }}"
            },
            {
              "fieldId": "property_id",
              "fieldValue": "={{ $('Recevoir nouvelle reservation').first().json.body.property_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "checkout_clean"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "scheduled_date",
              "fieldValue": "={{ $('Recevoir nouvelle reservation').first().json.body.check_out }}"
            },
            {
              "fieldId": "checklist",
              "fieldValue": "[{\"label\":\"Nettoyage complet salle de bain\",\"done\":false},{\"label\":\"Changement des draps\",\"done\":false},{\"label\":\"Nettoyage cuisine\",\"done\":false},{\"label\":\"Aspirer/laver les sols\",\"done\":false},{\"label\":\"Vider les poubelles\",\"done\":false},{\"label\":\"Verifier inventaire\",\"done\":false}]"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3392,
        912
      ],
      "id": "893cefb6-f1d6-409e-8a2a-4082d2c84379",
      "name": "Creer tache checkout_clean",
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "27e9409e-5c6e-4314-8ed8-14f6361201ce",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3200,
        848
      ],
      "id": "07775ef7-ba1a-4ac1-a824-801b787b115c",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Recevoir nouvelle reservation": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valider payload": {
      "main": [
        [
          {
            "node": "Get propriete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get propriete": {
      "main": [
        [
          {
            "node": "Get owner email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get owner email": {
      "main": [
        [
          {
            "node": "Get tache checkout existante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tache checkout existante": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkin prep necessaire ?": {
      "main": [
        [
          {
            "node": "Creer tache checkin_prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get staff actif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer tache checkin_prep": {
      "main": [
        [
          {
            "node": "Get staff actif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get staff actif": {
      "main": [
        [
          {
            "node": "Assignation round-robin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assignation round-robin": {
      "main": [
        [
          {
            "node": "Assigner checkout_clean",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assigner checkin_prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assigner checkout_clean": {
      "main": [
        [
          {
            "node": "Construire notification staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assigner checkin_prep": {
      "main": [
        [
          {
            "node": "Construire notification staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire notification staff": {
      "main": [
        [
          {
            "node": "Boucle notifications staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle notifications staff": {
      "main": [
        [],
        [
          {
            "node": "Envoyer notification staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer notification staff": {
      "main": [
        [
          {
            "node": "Boucle notifications staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer tache checkout_clean": {
      "main": [
        [
          {
            "node": "Checkin prep necessaire ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Checkin prep necessaire ?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Creer tache checkout_clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Valider payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Llq5u9tJbIJAm6kH",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bd1e554d-f3b8-4b1a-8078-4167aba2b471",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53757d982cfc1ea69cd2856d22e27642cd4adf0846c52a03f167ef14d4fdf8ca"
  },
  "id": "QIM5RPmejqk1p5zu",
  "tags": [
    {
      "updatedAt": "2026-02-12T15:40:41.020Z",
      "createdAt": "2026-02-12T15:40:41.020Z",
      "id": "7HdYhBKUT4dWuIHC",
      "name": "automatisation"
    },
    {
      "updatedAt": "2026-02-12T15:40:41.018Z",
      "createdAt": "2026-02-12T15:40:41.018Z",
      "id": "A8Am0pqVa5kdMWE6",
      "name": "menage"
    },
    {
      "updatedAt": "2026-02-12T15:11:24.538Z",
      "createdAt": "2026-02-12T15:11:24.538Z",
      "id": "SGTxR2n6419dHjHp",
      "name": "loc-immo"
    }
  ]
}