neurolia-immo/n8n/references/Notifications quotidiennes.json
{
  "name": "Notifications quotidiennes",
  "nodes": [
    {
      "parameters": {
        "content": "## Notifications quotidiennes\nEnvoie chaque matin a 8h un resume au proprietaire (arrivees, departs, menage) et le planning du jour a chaque femme de menage.\n\n**Declencheur** : Cron quotidien 8h (Europe/Paris)\n**Destinataires** : Proprietaire + Staff",
        "height": 220,
        "width": 450,
        "color": 4
      },
      "id": "8eeca535-3a47-4c81-bf46-31ed5aaa5c31",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2272,
        -496
      ]
    },
    {
      "parameters": {
        "content": "## Construction des emails\nDeux branches paralleles :\n1. **Email proprietaire** : resume complet (arrivees, departs, taches menage)\n2. **Emails staff** : un email par membre du personnel avec son planning individuel",
        "height": 180,
        "width": 400
      },
      "id": "ad477d90-ece1-4150-9f14-d78bee0c7368",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3152,
        -432
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "1d3de7d1-5552-41e2-bdac-95e2ee7f161a",
      "name": "Cron quotidien 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2224,
        16
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=check_in=eq.{{ $now.toFormat('yyyy-MM-dd') }}&status=neq.cancelled"
      },
      "id": "7ee79829-92a3-4a00-9da3-bd146ebada5c",
      "name": "Check-ins aujourd'hui",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        -176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=check_out=eq.{{ $now.toFormat('yyyy-MM-dd') }}&status=neq.cancelled"
      },
      "id": "6d285295-7581-4001-a6c7-2b59425460c0",
      "name": "Check-outs aujourd'hui",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        32
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reservations",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=check_in=eq.{{ DateTime.now().plus({ days: 1 }).toISODate() }}&status=neq.cancelled"
      },
      "id": "280a883e-aa35-4fb4-884a-c0af4817bed7",
      "name": "Check-ins demain",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cleaning_tasks",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=scheduled_date=gte.{{ $now.toFormat('yyyy-MM-dd') }}&scheduled_date=lte.{{ DateTime.now().plus({ days: 1 }).toISODate() }}&status=neq.completed"
      },
      "id": "c1305b91-094c-45e2-b114-21a3ad0bc774",
      "name": "Taches menage aujourd'hui + demain",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2848,
        432
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "3d4c86ac-28e0-451e-826a-1b1624e239af",
      "name": "Merge donnees",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3088,
        128
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true,
        "filterType": "string",
        "filterString": "==is_active=eq.true"
      },
      "id": "076a3c56-ae76-46bf-8af8-97a33c30cc4e",
      "name": "Get tous les owners",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3728,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// WF03 — Email resume quotidien proprietaire (Neurolia Immo)\n// UPDATED: guest_id -> prenom via \"Get guests\"\n// KPI = auj + demain\n// property_id -> nom via \"Get properties\"\n// ============================================================\n\nvar checkInsToday = $(\"Check-ins aujourd'hui\").all().map(function(i) { return i.json; });\nvar checkOutsToday = $(\"Check-outs aujourd'hui\").all().map(function(i) { return i.json; });\nvar checkInsTomorrow = $(\"Check-ins demain\").all().map(function(i) { return i.json; });\nvar tasks = $(\"Taches menage aujourd'hui + demain\").all().map(function(i) { return i.json; });\n\nvar DASHBOARD_URL = $(\"Config\").first().json.DASHBOARD_URL;\n\n// ---- Guests map (guest_id -> guest record) ----\nvar guests = [];\ntry {\n  guests = $(\"Get guests\").all().map(function(i){ return i.json; });\n} catch (e) {\n  guests = [];\n}\nvar guestMap = {};\nfor (var g = 0; g < guests.length; g++) {\n  if (guests[g] && guests[g].id) guestMap[guests[g].id] = guests[g];\n}\n\n// ---- Properties map ----\nvar properties = [];\ntry {\n  properties = $(\"Get properties\").all().map(function(i){ return i.json; });\n} catch (e2) {\n  properties = [];\n}\nvar propMap = {};\nfor (var p = 0; p < properties.length; p++) {\n  if (properties[p] && properties[p].id) propMap[properties[p].id] = properties[p];\n}\n\n// ---- Users / owners (dedupe) ----\nvar allUsers = $(\"Get tous les owners\").all().map(function(i) { return i.json; });\n\nvar ownersTmp = allUsers.filter(function(u) {\n  return u && u.role === \"owner\" && u.is_active === true && u.email;\n});\nvar ownerByEmail = {};\nfor (var oi = 0; oi < ownersTmp.length; oi++) ownerByEmail[ownersTmp[oi].email] = ownersTmp[oi];\nvar owners = Object.keys(ownerByEmail).map(function(k) { return ownerByEmail[k]; });\n\nif (owners.length === 0) return [{ json: { warning: \"Aucun owner actif trouve\" } }];\n\n// ---- Date ----\nvar today = new Date();\nfunction formatDate(d) {\n  return d.toLocaleDateString(\"fr-FR\", { weekday: \"long\", day: \"numeric\", month: \"long\", year: \"numeric\" });\n}\n\n// ---- Helpers guest / times / property ----\nfunction guestFirstNameFromId(guestId) {\n  if (!guestId || !guestMap[guestId]) return \"—\";\n  var gr = guestMap[guestId];\n\n  var full =\n    gr.first_name ||\n    gr.firstname ||\n    gr.full_name ||\n    gr.name ||\n    \"\";\n\n  full = String(full || \"\").trim();\n  if (!full) return \"—\";\n  return full.split(/\\s+/)[0] || \"—\";\n}\n\nfunction getArrivalTime(r) {\n  return (r && (r.arrival_time || r.check_in_time || r.checkin_time)) || \"-\";\n}\nfunction getDepartureTime(r) {\n  return (r && (r.departure_time || r.check_out_time || r.checkout_time)) || \"-\";\n}\nfunction getPropertyName(r) {\n  return (\n    (r && (r.property_name)) ||\n    (r && r.property && r.property.name) ||\n    (r && r.property_id && propMap[r.property_id] && propMap[r.property_id].name) ||\n    \"-\"\n  );\n}\n\n// ---- Styles ----\nvar C = {\n  terra: \"#C45C3B\", terraLight: \"#FBEAE4\",\n  dark: \"#2D2D2D\", text: \"#4A4A4A\", muted: \"#888888\",\n  border: \"#E8E6E3\", bgPage: \"#F5F4F1\", bgSunken: \"#FAFAF8\",\n  warning: \"#D97706\", warningBg: \"#FEF3C7\",\n  info: \"#2563EB\"\n};\nvar F = \"-apple-system,'Segoe UI',Helvetica,Arial,sans-serif\";\n\n// ---- KPI (auj + demain) ----\nvar pendingTasks = tasks.filter(function(t) { return t && t.status !== \"completed\"; });\nvar arrivals48 = checkInsToday.length + checkInsTomorrow.length;\n// (si tu veux inclure departs demain, ajoute un node \"Check-outs demain\" et ajoute-le ici)\nvar departures48 = checkOutsToday.length;\n\nvar kpiHtml =\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:' + C.bgSunken + ';border-radius:6px;margin:16px 0;\">' +\n    '<tr>' +\n      '<td width=\"33%\" style=\"text-align:center;padding:16px 8px;\">' +\n        '<div style=\"font-family:' + F + ';font-size:28px;font-weight:700;color:' + C.dark + ';\">' + arrivals48 + '</div>' +\n        '<div style=\"font-family:' + F + ';font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';margin-top:4px;\">Arrivees (auj+dem)</div>' +\n      '</td>' +\n      '<td width=\"33%\" style=\"text-align:center;padding:16px 8px;\">' +\n        '<div style=\"font-family:' + F + ';font-size:28px;font-weight:700;color:' + C.dark + ';\">' + departures48 + '</div>' +\n        '<div style=\"font-family:' + F + ';font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';margin-top:4px;\">Departs (auj)</div>' +\n      '</td>' +\n      '<td width=\"34%\" style=\"text-align:center;padding:16px 8px;\">' +\n        '<div style=\"font-family:' + F + ';font-size:28px;font-weight:700;color:' + C.terra + ';\">' + pendingTasks.length + '</div>' +\n        '<div style=\"font-family:' + F + ';font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';margin-top:4px;\">Taches (auj+dem)</div>' +\n      '</td>' +\n    '</tr>' +\n  '</table>';\n\n// ---- Section header ----\nfunction sectionHead(title, count) {\n  return '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:28px 0 12px;\">' +\n    '<tr><td style=\"border-bottom:2px solid ' + C.border + ';padding-bottom:8px;\">' +\n      '<span style=\"font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:0.08em;color:' + C.muted + ';\">' + title + '</span>' +\n      ' <span style=\"display:inline-block;background:' + C.terraLight + ';color:' + C.terra + ';font-size:12px;font-weight:600;padding:2px 8px;border-radius:4px;margin-left:8px;\">' + count + '</span>' +\n    '</td></tr></table>';\n}\n\nfunction addSectionIfNotEmpty(title, items, htmlFn) {\n  if (!items || items.length === 0) return \"\";\n  return sectionHead(title, items.length) + htmlFn(items);\n}\n\n// ---- Reservation table ----\nfunction reservationTable(reservations) {\n  if (!reservations || reservations.length === 0) {\n    return '<p style=\"font-family:' + F + ';font-size:14px;color:' + C.muted + ';padding:8px 0;\">Aucun mouvement.</p>';\n  }\n\n  var rows = \"\";\n  rows +=\n    '<tr style=\"background:' + C.bgSunken + ';\">' +\n      '<td style=\"padding:8px 12px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;color:' + C.muted + ';\">Propriete</td>' +\n      '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;color:' + C.muted + ';\">Voyageur</td>' +\n      '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;color:' + C.muted + ';\">Pers.</td>' +\n      '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;color:' + C.muted + ';\">Arrivee</td>' +\n      '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;color:' + C.muted + ';\">Depart</td>' +\n    '</tr>';\n\n  for (var i = 0; i < reservations.length; i++) {\n    var r = reservations[i] || {};\n    var propertyName = getPropertyName(r);\n    var guestFirst = guestFirstNameFromId(r.guest_id);\n    var nbGuests = r.nb_guests || \"-\";\n    var arrival = getArrivalTime(r);\n    var departure = getDepartureTime(r);\n    var specialReq = r.special_requests || null;\n\n    rows +=\n      '<tr style=\"border-bottom:1px solid ' + C.border + ';\">' +\n        '<td style=\"padding:10px 12px;font-family:' + F + ';font-size:14px;font-weight:600;color:' + C.dark + ';\">' + propertyName + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:14px;color:' + C.text + ';\">' + guestFirst + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;color:' + C.muted + ';\">' + nbGuests + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;color:' + C.muted + ';\">' + arrival + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;color:' + C.muted + ';\">' + departure + '</td>' +\n      '</tr>';\n\n    if (specialReq) {\n      rows += '<tr><td colspan=\"5\" style=\"padding:4px 12px 10px;font-family:' + F + ';font-size:13px;\">' +\n        '<div style=\"background:' + C.warningBg + ';border-radius:4px;padding:6px 10px;\">' +\n        '<strong style=\"color:' + C.warning + ';\">Demande :</strong> ' + specialReq +\n        '</div></td></tr>';\n    }\n  }\n\n  return '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid ' + C.border + ';border-radius:6px;overflow:hidden;\">' + rows + '</table>';\n}\n\n// ---- Content ----\nvar contentCommon =\n  '<p style=\"font-family:' + F + ';font-size:14px;color:' + C.muted + ';margin:0 0 20px;\">Resume du ' + formatDate(today) + '</p>' +\n  kpiHtml;\n\nvar sections = \"\";\nsections += addSectionIfNotEmpty(\"Arrivees aujourd'hui\", checkInsToday, reservationTable);\nsections += addSectionIfNotEmpty(\"Departs aujourd'hui\", checkOutsToday, reservationTable);\nsections += addSectionIfNotEmpty(\"Arrivees demain\", checkInsTomorrow, reservationTable);\n\n// Si tu as ajoute \"Check-outs demain\"\nsections += addSectionIfNotEmpty(\"Departs demain\", (typeof checkOutsTomorrow !== \"undefined\" ? checkOutsTomorrow : []), reservationTable);\n\ncontentCommon += sections;\n\n// ---- Tasks menage (AFFICHER uniquement si > 0) ----\nvar pendingTasks = tasks.filter(function(t) { return t && t.status !== \"completed\"; });\n\nfunction getPropertyNameFromTask(t) {\n  return (\n    (t && (t.property_name || t.propertyName)) ||\n    (t && t.property && t.property.name) ||\n    (t && t.property_id && propMap[t.property_id] && propMap[t.property_id].name) ||\n    \"-\"\n  );\n}\n\nif (pendingTasks.length > 0) {\n  contentCommon += sectionHead(\"Taches menage\", pendingTasks.length);\n\n  var taskRows = \"\";\n\n  for (var i = 0; i < pendingTasks.length; i++) {\n    var task = pendingTasks[i] || {};\n\n    var propName = getPropertyNameFromTask(task);\n    var taskType = task.task_type || task.type || \"-\";\n    var typeLabel =\n      taskType === \"checkout_clean\" ? \"Menage depart\" :\n      taskType === \"checkin_prep\" ? \"Preparation arrivee\" :\n      taskType === \"deep_clean\" ? \"Nettoyage approfondi\" :\n      \"Tache\";\n\n    var staffName =\n      (task.assigned_user && task.assigned_user.full_name) ? task.assigned_user.full_name :\n      task.assigned_user_name || \"Non assigne\";\n\n    var statusLabel =\n      task.status === \"pending\"\n        ? '<span style=\"color:' + C.warning + ';font-weight:600;\">En attente</span>'\n        : '<span style=\"color:' + C.info + ';font-weight:600;\">En cours</span>';\n\n    var dateStr = task.scheduled_date ? String(task.scheduled_date).slice(0, 10) : \"-\";\n\n    taskRows +=\n      '<tr style=\"border-bottom:1px solid ' + C.border + ';\">' +\n        '<td style=\"padding:10px 12px;font-family:' + F + ';font-size:14px;font-weight:600;color:' + C.dark + ';\">' + propName + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;color:' + C.text + ';\">' + typeLabel + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;color:' + C.text + ';\">' + staffName + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;\">' + statusLabel + '</td>' +\n        '<td style=\"padding:10px 8px;font-family:' + F + ';font-size:13px;color:' + C.muted + ';\">' + dateStr + '</td>' +\n      '</tr>';\n  }\n\n  contentCommon +=\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid ' + C.border + ';border-radius:6px;overflow:hidden;\">' +\n      '<tr style=\"background:' + C.bgSunken + ';\">' +\n        '<td style=\"padding:8px 12px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';\">Propriete</td>' +\n        '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';\">Type</td>' +\n        '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';\">Staff</td>' +\n        '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';\">Statut</td>' +\n        '<td style=\"padding:8px 8px;font-family:' + F + ';font-size:11px;font-weight:600;text-transform:uppercase;letter-spacing:0.06em;color:' + C.muted + ';\">Date</td>' +\n      '</tr>' +\n      taskRows +\n    '</table>';\n}\n\ncontentCommon += '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:28px auto 0;\">' +\n  '<tr><td style=\"background-color:' + C.terra + ';border-radius:4px;\">' +\n  '<a href=\"' + DASHBOARD_URL + '/dashboard\" style=\"display:inline-block;padding:12px 28px;font-family:' + F + ';font-size:14px;font-weight:600;color:#FFFFFF;text-decoration:none;\">Ouvrir le dashboard &rarr;</a>' +\n  '</td></tr></table>';\n\nvar subject = \"[Neurolia Immo] \" + arrivals48 + \" arrivee(s) (auj+dem)\";\n\n// ---- Send 1 email per owner ----\nreturn owners.map(function(owner) {\n  var firstName = String(owner.full_name || \"Bonjour\").trim().split(/\\s+/)[0] || \"Bonjour\";\n\n  var inner =\n    '<h1 style=\"font-family:' + F + ';font-size:22px;font-weight:700;color:' + C.dark + ';margin:0 0 4px;\">Bonjour ' + firstName + ',</h1>' +\n    contentCommon;\n\n  var html =\n    '<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/></head>' +\n    '<body style=\"margin:0;padding:0;background-color:' + C.bgPage + ';\">' +\n    '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:' + C.bgPage + ';\">' +\n    '<tr><td align=\"center\" style=\"padding:32px 16px;\">' +\n    '<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">' +\n      '<tr><td style=\"padding:0 0 24px 0;\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n        '<td style=\"width:3px;background-color:' + C.terra + ';border-radius:2px;\" width=\"3\">&nbsp;</td>' +\n        '<td style=\"padding-left:10px;font-family:' + F + ';font-size:18px;font-weight:700;color:' + C.dark + ';\">Neurolia Immo</td>' +\n      '</tr></table></td></tr>' +\n      '<tr><td><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#FFFFFF;border-radius:6px;overflow:hidden;\">' +\n        '<tr><td style=\"height:3px;background-color:' + C.terra + ';font-size:0;line-height:0;\">&nbsp;</td></tr>' +\n        '<tr><td style=\"padding:32px 28px;font-family:' + F + ';font-size:15px;line-height:1.6;color:' + C.text + ';\">' + inner + '</td></tr>' +\n      '</table></td></tr>' +\n      '<tr><td style=\"padding:24px 0 0 0;text-align:center;font-family:' + F + ';font-size:12px;color:#999999;\">Neurolia Immo &mdash; par Neurolia</td></tr>' +\n    '</table></td></tr></table></body></html>';\n\n  return { json: { to: owner.email, subject: subject, html: html } };\n});"
      },
      "id": "49943e24-b64d-45b4-a48a-46f59d108c9b",
      "name": "Construire email proprietaire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acc65d44-290f-4191-9cb9-ef009410f43a",
      "name": "Boucle emails proprietaires",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4768,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').first().json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $('Construire email proprietaire').item.json.subject }}",
        "html": "={{ $('Construire email proprietaire').item.json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "99faaa0d-6b2e-4686-8595-b38f28284062",
      "name": "Email resume proprietaire",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4992,
        0
      ],
      "webhookId": "e5e73895-73ad-4de9-9d24-b2d19dfd1b88",
      "credentials": {
        "smtp": {
          "id": "z1Bus01typcwYd7C",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// WF03 — Emails staff (Neurolia Immo branded)\n// ============================================================\n\nconst tasks = $(\"Taches menage aujourd'hui + demain\").all().map(i => i.json);\nconst allUsers = $(\"Get tous les owners\").all().map(i => i.json);\nconst properties = $(\"Get properties\").all().map(i => i.json);\n\nconst allReservations = [\n  ...$(\"Check-ins aujourd'hui\").all().map(i => i.json),\n  ...$(\"Check-outs aujourd'hui\").all().map(i => i.json),\n  ...$(\"Check-ins demain\").all().map(i => i.json),\n];\n\nconst DASHBOARD_URL = $('Config').first().json.DASHBOARD_URL;\n\nconst resvMap = {};\nfor (const r of allReservations) resvMap[r.id] = r;\nconst userMap = {};\nfor (const u of allUsers) userMap[u.id] = u;\nconst propMap = {};\nfor (const p of properties) propMap[p.id] = p;\n\n// --- Colors & Font ---\nconst C = {\n  terra: '#C45C3B', terraLight: '#FBEAE4',\n  dark: '#2D2D2D', text: '#4A4A4A', muted: '#888888',\n  border: '#E8E6E3', bgPage: '#F5F4F1', bgSunken: '#FAFAF8',\n  error: '#DC2626', info: '#2563EB', warningBg: '#FEF3C7', warning: '#D97706',\n};\nconst F = \"-apple-system,'Segoe UI',Helvetica,Arial,sans-serif\";\n\n// --- Group by staff ---\nconst staffMap = new Map();\nfor (const task of tasks) {\n  if (task.status === 'completed' || !task.assigned_to) continue;\n  const staffId = task.assigned_to;\n  const staffUser = userMap[staffId];\n  if (!staffMap.has(staffId)) {\n    staffMap.set(staffId, {\n      staffName: staffUser ? staffUser.full_name : 'Inconnu',\n      staffEmail: staffUser ? staffUser.email : null,\n      tasks: [],\n    });\n  }\n  const prop = propMap[task.property_id] || {};\n  const resv = resvMap[task.reservation_id] || {};\n  staffMap.get(staffId).tasks.push({\n    propertyName: prop.name || '-',\n    propertyAddress: prop.address || '-',\n    propertyCity: prop.city || '-',\n    accessCode: prop.access_code || '-',\n    wifiSsid: prop.wifi_ssid || '-',\n    wifiPassword: prop.wifi_password || '-',\n    type: task.task_type || task.type,\n    scheduledDate: task.scheduled_date,\n    nbGuests: resv.nb_guests || '-',\n    arrivalTime: resv.arrival_time || 'non renseignee',\n    guestName: resv.guest_name || '-',\n    specialRequests: resv.special_requests || null,\n  });\n}\n\n// --- Build emails ---\nconst todayDate = new Date().toISOString().slice(0, 10);\nconst todayStr = new Date().toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });\nconst emails = [];\n\nfor (const [, staff] of staffMap) {\n  if (!staff.staffEmail) continue;\n  const firstName = staff.staffName.split(' ')[0];\n\n  // Task cards\n  let taskCards = '';\n  for (const task of staff.tasks) {\n    const isToday = task.scheduledDate === todayDate;\n    const borderColor = isToday ? C.error : C.info;\n    const dateLabel = isToday ? \"Aujourd'hui\" : 'Demain';\n    const typeLabel = task.type === 'checkout_clean' ? 'Menage depart'\n      : task.type === 'checkin_prep' ? 'Preparation arrivee'\n      : task.type === 'deep_clean' ? 'Nettoyage approfondi' : 'Tache';\n\n    let specialHtml = '';\n    if (task.specialRequests) {\n      specialHtml = `<tr><td style=\"padding:8px 16px 12px;\"><div style=\"background:${C.warningBg};border-radius:4px;padding:8px 12px;font-family:${F};font-size:13px;\"><strong style=\"color:${C.warning};\">Demande speciale :</strong> ${task.specialRequests}</div></td></tr>`;\n    }\n\n    taskCards += `\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0;border-radius:6px;overflow:hidden;border:1px solid ${C.border};\">\n<tr><td style=\"height:3px;background-color:${borderColor};font-size:0;line-height:0;\">&nbsp;</td></tr>\n<tr><td style=\"padding:16px;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n<tr>\n<td style=\"font-family:${F};font-size:15px;font-weight:700;color:${C.dark};\">${typeLabel}</td>\n<td align=\"right\" style=\"font-family:${F};font-size:12px;font-weight:600;color:${borderColor};text-transform:uppercase;letter-spacing:0.06em;\">${dateLabel}</td>\n</tr>\n</table>\n<p style=\"margin:8px 0 4px;font-family:${F};font-size:14px;font-weight:600;color:${C.dark};\">${task.propertyName}</p>\n<p style=\"margin:2px 0;font-family:${F};font-size:13px;\">\n<a href=\"https://maps.google.com/?q=${encodeURIComponent(task.propertyAddress + ', ' + task.propertyCity)}\" style=\"color:${C.terra};text-decoration:none;\">${task.propertyAddress}, ${task.propertyCity}</a>\n</p>\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:12px 0 0;font-family:${F};font-size:13px;color:${C.text};\">\n<tr><td style=\"padding:2px 12px 2px 0;color:${C.muted};font-size:12px;\">Code</td><td style=\"font-weight:600;\">${task.accessCode}</td></tr>\n<tr><td style=\"padding:2px 12px 2px 0;color:${C.muted};font-size:12px;\">WiFi</td><td>${task.wifiSsid} / ${task.wifiPassword}</td></tr>\n<tr><td style=\"padding:2px 12px 2px 0;color:${C.muted};font-size:12px;\">Voyageur</td><td>${task.guestName} (${task.nbGuests} pers.)</td></tr>\n<tr><td style=\"padding:2px 12px 2px 0;color:${C.muted};font-size:12px;\">Arrivee</td><td>${task.arrivalTime}</td></tr>\n</table>\n</td></tr>\n${specialHtml}\n</table>`;\n  }\n\n  // KPI\n  const todayTasks = staff.tasks.filter(t => t.scheduledDate === todayDate).length;\n  const tomorrowTasks = staff.tasks.length - todayTasks;\n\n  const content = `\n<h1 style=\"font-family:${F};font-size:22px;font-weight:700;color:${C.dark};margin:0 0 4px;\">Bonjour ${firstName}</h1>\n<p style=\"font-family:${F};font-size:14px;color:${C.muted};margin:0 0 20px;\">Voici ton planning pour aujourd'hui et demain.</p>\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:${C.bgSunken};border-radius:6px;margin:0 0 16px;\">\n<tr>\n<td width=\"50%\" style=\"text-align:center;padding:14px 8px;\">\n<div style=\"font-family:${F};font-size:28px;font-weight:700;color:${C.dark};\">${todayTasks}</div>\n<div style=\"font-family:${F};font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.06em;color:${C.muted};margin-top:4px;\">Aujourd'hui</div>\n</td>\n<td width=\"50%\" style=\"text-align:center;padding:14px 8px;\">\n<div style=\"font-family:${F};font-size:28px;font-weight:700;color:${C.dark};\">${tomorrowTasks}</div>\n<div style=\"font-family:${F};font-size:11px;font-weight:500;text-transform:uppercase;letter-spacing:0.06em;color:${C.muted};margin-top:4px;\">Demain</div>\n</td>\n</tr>\n</table>\n${taskCards}\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:24px auto 0;\">\n<tr><td style=\"background-color:${C.terra};border-radius:4px;\">\n<a href=\"${DASHBOARD_URL}/cleaning\" style=\"display:inline-block;padding:12px 28px;font-family:${F};font-size:14px;font-weight:600;color:#FFFFFF;text-decoration:none;\">Voir mon planning &rarr;</a>\n</td></tr>\n</table>`;\n\n  // Wrap\n  const html = `<!DOCTYPE html><html lang=\"fr\"><head><meta charset=\"utf-8\"/><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/></head>\n<body style=\"margin:0;padding:0;background-color:${C.bgPage};\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:${C.bgPage};\">\n<tr><td align=\"center\" style=\"padding:32px 16px;\">\n<table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n<tr><td style=\"padding:0 0 24px 0;\"><table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n<td style=\"width:3px;background-color:${C.terra};border-radius:2px;\" width=\"3\">&nbsp;</td>\n<td style=\"padding-left:10px;font-family:${F};font-size:18px;font-weight:700;color:${C.dark};letter-spacing:-0.02em;\">Neurolia Immo</td>\n</tr></table></td></tr>\n<tr><td><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#FFFFFF;border-radius:6px;overflow:hidden;\">\n<tr><td style=\"height:3px;background-color:${C.terra};font-size:0;line-height:0;\">&nbsp;</td></tr>\n<tr><td style=\"padding:32px 28px;\">${content}</td></tr>\n</table></td></tr>\n<tr><td style=\"padding:24px 0 0 0;text-align:center;font-family:${F};font-size:12px;color:#999999;\">Neurolia Immo &mdash; par Neurolia</td></tr>\n</table></td></tr></table>\n</body></html>`;\n\n  emails.push({\n    json: {\n      to: staff.staffEmail,\n      subject: `[Neurolia Immo] Ton planning - ${todayStr} (${staff.tasks.length} tache(s))`,\n      html,\n      staffName: staff.staffName,\n    }\n  });\n}\n\nif (emails.length === 0) {\n  return [{ json: { warning: 'Aucun email staff a envoyer' } }];\n}\nreturn emails;"
      },
      "id": "9704e7de-8572-4764-b2db-e6bbb686aec8",
      "name": "Construire emails staff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32f8e674-4175-4b63-ba05-62cfbd9388b4",
      "name": "Boucle emails staff",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4080,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Config').first().json.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "f7fba5d5-2755-4fb3-9a78-22c6dc5c4a60",
      "name": "Envoyer planning staff",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4320,
        304
      ],
      "webhookId": "b0d867bd-85c3-4e5b-8459-1847a60218c2",
      "credentials": {
        "smtp": {
          "id": "z1Bus01typcwYd7C",
          "name": "SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "2fd5b66a-ef1e-4c8b-b073-dd6f80bc0572",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "035c6a58-dbfa-4e24-abcd-632578bd6dda",
      "name": "Config3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "b6dd04ad-c02c-4c22-94c8-22fdd7b5b784",
      "name": "Config2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Config — Variables de configuration Loc Immo\n// Modifier les valeurs ci-dessous selon votre environnement\n// ============================================================\n\nreturn [{\n  json: {\n    DASHBOARD_URL: 'https://dashboard-loc-immo.vercel.app',\n    SMTP_FROM_EMAIL: 'gustiez.dorian@neurolia.work',\n    ADMIN_EMAIL: 'gustiez.dorian@neurolia.work',\n    N8N_WF04_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf04-cleaning-task',\n    N8N_WF05_WEBHOOK_URL: 'https://n8n.srv1207220.hstgr.cloud/webhook/wf05-auto-message',\n  }\n}];"
      },
      "id": "dfca5157-3a7d-44fa-a120-c9af31c082ec",
      "name": "Config1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        32
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties",
        "returnAll": true,
        "filterType": "string"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3904,
        0
      ],
      "id": "a7e9e9aa-c672-4fd1-ac4a-5fea06e8c39d",
      "name": "Get properties",
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build guest ids (Run Once for All Items)\n\nvar res = []\n  .concat($(\"Check-ins aujourd'hui\").all().map(i => i.json))\n  .concat($(\"Check-outs aujourd'hui\").all().map(i => i.json))\n  .concat($(\"Check-ins demain\").all().map(i => i.json));\n\nvar guestIdsSet = {};\nfor (var i = 0; i < res.length; i++) {\n  var gid = res[i] && res[i].guest_id;\n  if (gid) guestIdsSet[gid] = true;\n}\n\nvar guestIds = Object.keys(guestIdsSet);\n\nif (guestIds.length === 0) {\n  return [{ json: { filterString: \"id=is.null\" } }];\n}\n\n// UUID => on quote\nvar inList = guestIds.map(function(id){ return '\"' + id + '\"'; }).join(\",\");\n\nreturn [{ json: { filterString: \"id=in.(\" + inList + \")\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        0
      ],
      "id": "70bda157-a4e0-4b1e-861d-67aef8a80cec",
      "name": "Build Guest Ids"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "guests",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=={{ $json.filterString }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4320,
        0
      ],
      "id": "9cd78313-6d0b-4271-a0e9-cb3a89ea4576",
      "name": "Get guests",
      "credentials": {
        "supabaseApi": {
          "id": "jAZu1DEMMOLAGYT0",
          "name": "Supabase Neurolia Immo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// STOP si rien à faire aujourd'hui + demain\n// Si on retourne [], le workflow s'arrête ici et aucun mail ne part.\n\nvar checkInsToday = $(\"Check-ins aujourd'hui\").all();\nvar checkOutsToday = $(\"Check-outs aujourd'hui\").all();\nvar checkInsTomorrow = $(\"Check-ins demain\").all();\nvar tasks = $(\"Taches menage aujourd'hui + demain\").all();\n\n// Optionnel : si tu as un node \"Check-outs demain\"\nvar checkOutsTomorrow = [];\ntry {\n  checkOutsTomorrow = $(\"Check-outs demain\").all();\n} catch (e) {\n  checkOutsTomorrow = [];\n}\n\n// IMPORTANT : si tu veux compter uniquement les tâches non terminées,\n// c'est déjà le cas si ton node Supabase filtre status!=completed.\n// Sinon tu peux filtrer ici.\nvar total =\n  checkInsToday.length +\n  checkOutsToday.length +\n  checkInsTomorrow.length +\n  checkOutsTomorrow.length +\n  tasks.length;\n\nif (total === 0) {\n  return []; // STOP: rien à faire => aucun email\n}\n\n// Laisse passer UN seul item (évite de propager des duplications)\nreturn [{ json: { ok: true, total: total } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        160
      ],
      "id": "f5af4b6f-4c38-4468-b1a3-82fbf19054af",
      "name": "STOP si rien à faire"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron quotidien 8h": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-ins aujourd'hui": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check-outs aujourd'hui": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check-ins demain": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Taches menage aujourd'hui + demain": {
      "main": [
        [
          {
            "node": "Merge donnees",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge donnees": {
      "main": [
        [
          {
            "node": "STOP si rien à faire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tous les owners": {
      "main": [
        [
          {
            "node": "Get properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire email proprietaire": {
      "main": [
        [
          {
            "node": "Boucle emails proprietaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle emails proprietaires": {
      "main": [
        [],
        [
          {
            "node": "Email resume proprietaire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email resume proprietaire": {
      "main": [
        [
          {
            "node": "Boucle emails proprietaires",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire emails staff": {
      "main": [
        [
          {
            "node": "Boucle emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Boucle emails staff": {
      "main": [
        [],
        [
          {
            "node": "Envoyer planning staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer planning staff": {
      "main": [
        [
          {
            "node": "Boucle emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Check-ins aujourd'hui",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config3": {
      "main": [
        [
          {
            "node": "Taches menage aujourd'hui + demain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config2": {
      "main": [
        [
          {
            "node": "Check-ins demain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config1": {
      "main": [
        [
          {
            "node": "Check-outs aujourd'hui",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get properties": {
      "main": [
        [
          {
            "node": "Build Guest Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Guest Ids": {
      "main": [
        [
          {
            "node": "Get guests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get guests": {
      "main": [
        [
          {
            "node": "Construire email proprietaire",
            "type": "main",
            "index": 0
          },
          {
            "node": "Construire emails staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STOP si rien à faire": {
      "main": [
        [
          {
            "node": "Get tous les owners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "Llq5u9tJbIJAm6kH",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "84a3ba57-785b-47c9-bce1-e139d864e8aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53757d982cfc1ea69cd2856d22e27642cd4adf0846c52a03f167ef14d4fdf8ca"
  },
  "id": "L2xZZ1b4TvA6LKoY",
  "tags": [
    {
      "updatedAt": "2026-02-12T15:39:51.938Z",
      "createdAt": "2026-02-12T15:39:51.938Z",
      "id": "96ZowrZHzCX2x7vY",
      "name": "quotidien"
    },
    {
      "updatedAt": "2026-02-12T15:12:05.259Z",
      "createdAt": "2026-02-12T15:12:05.259Z",
      "id": "9KMeVeVXpfiwByMa",
      "name": "notifications"
    },
    {
      "updatedAt": "2026-02-12T15:11:24.538Z",
      "createdAt": "2026-02-12T15:11:24.538Z",
      "id": "SGTxR2n6419dHjHp",
      "name": "loc-immo"
    }
  ]
}