neurolia-social/n8n/workflows/error-social-handler.json
{
  "name": "Error - Social - Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "7f8a9b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const error = $input.first().json.error;\nconst execution = $input.first().json.execution;\n\nreturn {\n  workflow_name: execution?.workflowData?.name || 'Unknown Workflow',\n  node_name: error?.node?.name || 'Unknown Node',\n  error_message: error?.message || 'Unknown Error',\n  execution_id: execution?.id || 'N/A',\n  timestamp: new Date().toISOString(),\n  stack_trace: error?.stack || '',\n  error_type: error?.name || 'Error'\n};"
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Parse Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error_message }}",
                    "rightValue": "api",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "api_error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error_message }}",
                    "rightValue": "database",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "leftValue": "={{ $json.error_message }}",
                    "rightValue": "postgres",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "db_error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error_message }}",
                    "rightValue": "validation",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "leftValue": "={{ $json.error_message }}",
                    "rightValue": "invalid",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "validation_error"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "allMatchingOutputs": false
        },
        "fallbackOutput": "unknown"
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Classify Error Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const errorType = $input.first().json.error_type || '';\nconst errorMessage = $input.first().json.error_message || '';\n\nlet severity = 'info';\n\nconst criticalKeywords = ['fatal', 'critical', 'timeout', 'connection refused', 'authentication failed'];\nconst warningKeywords = ['warning', 'deprecated', 'retry', 'slow'];\n\nconst messageLC = errorMessage.toLowerCase();\n\nif (criticalKeywords.some(kw => messageLC.includes(kw))) {\n  severity = 'critical';\n} else if (warningKeywords.some(kw => messageLC.includes(kw))) {\n  severity = 'warning';\n}\n\nreturn {\n  ...$input.first().json,\n  severity,\n  priority: severity === 'critical' ? 1 : severity === 'warning' ? 2 : 3\n};"
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Determine Severity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Check If Should Notify",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\n\nconst emoji = data.severity === 'critical' ? '🚨' : '⚠️';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `${emoji} Error in ${data.workflow_name}`\n    }\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*Severity:*\\n${data.severity.toUpperCase()}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Node:*\\n${data.node_name}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Execution ID:*\\n${data.execution_id}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*Time:*\\n${new Date(data.timestamp).toLocaleString('fr-FR', { timeZone: 'Europe/Paris' })}`\n      }\n    ]\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Error Message:*\\n\\`\\`\\`${data.error_message}\\`\\`\\``\n    }\n  }\n];\n\nreturn {\n  ...data,\n  slack_payload: {\n    blocks,\n    text: `Error in ${data.workflow_name}: ${data.error_message}`\n  }\n};"
      },
      "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.slack_payload }}",
        "options": {}
      },
      "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO generation_log (restaurant_id, generation_type, model_used, created_at)\nVALUES (NULL, 'error', '{{ $json.error_type }}', NOW())",
        "options": {
          "queryBatching": "independently",
          "nodeVersion": 2.5
        }
      },
      "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Log Error To Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Neurolia Social Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Circuit breaker: check if we have too many errors in short time\nconst currentTime = Date.now();\nconst fiveMinutesAgo = currentTime - (5 * 60 * 1000);\n\n// In production, this would query recent errors from DB\n// For now, we just flag if this is a critical error\nconst data = $input.first().json;\n\nreturn {\n  ...data,\n  circuit_breaker_triggered: false,\n  circuit_breaker_message: 'Circuit breaker check completed - monitoring active'\n};"
      },
      "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Check For Circuit Breaker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Error Handler Workflow\n\nThis workflow catches all errors from other workflows and:\n\n1. Parses error details\n2. Classifies error type (API, DB, validation, unknown)\n3. Determines severity (critical/warning/info)\n4. Sends Slack alerts for critical errors\n5. Logs all errors to database\n6. Monitors for circuit breaker conditions\n\n**Critical errors** trigger immediate Slack notifications.\n**All errors** are logged to generation_log table."
      },
      "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {},
      "id": "0d1e2f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        400
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error Details": {
      "main": [
        [
          {
            "node": "Classify Error Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Error Type": {
      "main": [
        [
          {
            "node": "Determine Severity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Severity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Severity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Determine Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Severity": {
      "main": [
        [
          {
            "node": "Check If Should Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Should Notify": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log Error To Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error To Database": {
      "main": [
        [
          {
            "node": "Check For Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Op": {
      "main": [
        [
          {
            "node": "Log Error To Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "any",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-11T00:00:00.000Z",
  "versionId": "1",
  "active": false
}
