neurolia-social/n8n/workflows/sched-social-weekly-planning.json
{
  "name": "Sched - Social - Weekly Planning",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Weekly Planning Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, slug, cuisine_type, location, ambiance, signature_dishes FROM restaurants WHERE is_active = true"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Fetch Active Restaurants",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Loop Over Restaurants",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "BRAND_MEMORY_WORKFLOW_ID",
        "mode": "each",
        "fieldsUi": {
          "values": [
            {
              "name": "restaurant_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
      "name": "Call Brand Memory Assembly",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cc.content_type, cc.caption, cc.hook_type, cc.format, pa.performance_score FROM post_analytics pa JOIN post_publications pp ON pa.publication_id = pp.id JOIN content_calendar cc ON pp.content_id = cc.id WHERE cc.restaurant_id = '={{ $json.restaurant_id }}' AND pa.collected_at >= NOW() - INTERVAL '28 days' ORDER BY pa.performance_score DESC LIMIT 5"
      },
      "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
      "name": "Fetch Top 5 Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.latitude }}&longitude={{ $json.longitude }}&daily=temperature_2m_max,precipitation_sum&timezone=Europe/Paris&forecast_days=7",
        "authentication": "none",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst months = ['janvier','février','mars','avril','mai','juin','juillet','août','septembre','octobre','novembre','décembre'];\nconst seasons = { 0:'hiver',1:'hiver',2:'printemps',3:'printemps',4:'printemps',5:'été',6:'été',7:'été',8:'automne',9:'automne',10:'automne',11:'hiver' };\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate());\nconst dates = [];\nfor (let i = 0; i < 7; i++) {\n  const d = new Date(weekStart);\n  d.setDate(weekStart.getDate() + i);\n  dates.push(d.toISOString().split('T')[0]);\n}\nreturn [{ json: { season: seasons[now.getMonth()], month: months[now.getMonth()], year: now.getFullYear(), week_dates: dates, iso_week: `${now.getFullYear()}-W${String(Math.ceil((now - new Date(now.getFullYear(),0,1)) / 604800000)).padStart(2,'0')}` } }];"
      },
      "id": "a7b8c9d0-e1f2-3456-1234-567890123456",
      "name": "Get Current Date Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const brand = $('Call Brand Memory Assembly').first().json;\nconst topPosts = $('Fetch Top 5 Posts').all();\nconst weather = $('Get Weather Forecast').first().json;\nconst context = $('Get Current Date Context').first().json;\nconst restaurant = $('Loop Over Restaurants').first().json;\n\nconst systemPrompt = `Tu es un social media manager expert spécialisé dans la restauration française. Tu crées des plannings éditoriaux engageants et variés.\n\nRÈGLES:\n- Génère exactement 7 posts pour la semaine\n- Varie les types de contenu : plat_du_jour, coulisses, equipe, avis_client, promo, saisonnier, ambiance\n- Varie les formats : single, carrousel, story, reel\n- Varie les plateformes cibles : instagram, facebook, tiktok\n- Ne répète jamais le même hook_type 2 fois de suite\n- Adapte le contenu à la saison et à la météo\n- Réponds UNIQUEMENT en JSON valide`;\n\nconst prompt = `RESTAURANT: ${brand.summary || restaurant.name}\n\nPOSTS LES PLUS PERFORMANTS (s'en inspirer):\n${topPosts.map(p => `- [Score: ${p.json.performance_score}] ${p.json.content_type}: ${(p.json.caption || '').slice(0, 80)}`).join('\\n') || 'Aucun historique disponible'}\n\nMÉTÉO SEMAINE: ${JSON.stringify(weather.daily || 'Non disponible')}\n\nCONTEXTE: Saison ${context.season}, ${context.month} ${context.year}\nDates de la semaine: ${(context.week_dates || []).join(', ')}\n\nGénère un planning de 7 posts au format JSON:\n[{\n  \"day_index\": 0-6,\n  \"scheduled_date\": \"YYYY-MM-DD\",\n  \"scheduled_time\": \"HH:MM\",\n  \"content_type\": \"plat_du_jour|coulisses|equipe|avis_client|promo|saisonnier|ambiance\",\n  \"format\": \"single|carrousel|story|reel\",\n  \"platforms\": [\"instagram\", \"facebook\"],\n  \"creative_brief\": \"Description courte du post\",\n  \"hook_type\": \"question|affirmation|mise_en_scene|temoignage|coulisses|defi|chiffre\",\n  \"structure_type\": \"hook_description_cta|contexte_revelation_invitation|question_reponse|story_mini\"\n}]`;\n\nreturn [{ json: { system_prompt: systemPrompt, prompt: prompt, max_tokens: 2048, temperature: 0.7, restaurant_id: restaurant.id } }];"
      },
      "id": "b8c9d0e1-f2a3-4567-2345-678901234567",
      "name": "Build Planning Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "CLAUDE_API_WORKFLOW_ID",
        "mode": "each"
      },
      "id": "c9d0e1f2-a3b4-5678-3456-789012345678",
      "name": "Call Claude Planning",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const response = $json.response;\nlet posts;\ntry {\n  const jsonMatch = response.match(/\\[[\\s\\S]*\\]/);\n  posts = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  posts = JSON.parse(response);\n}\nif (!Array.isArray(posts) || posts.length !== 7) throw new Error('Expected 7 posts');\nreturn posts.map(post => ({ json: post }));"
      },
      "id": "d0e1f2a3-b4c5-6789-4567-890123456789",
      "name": "Parse Planning JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const post = $json;\nconst restaurantId = $('Build Planning Prompt').first().json.restaurant_id;\nconst scheduledAt = `${post.scheduled_date}T${post.scheduled_time || '12:00'}:00+01:00`;\nreturn {\n  json: {\n    restaurant_id: restaurantId,\n    scheduled_at: scheduledAt,\n    platforms: post.platforms || ['instagram', 'facebook'],\n    content_type: post.content_type,\n    format: post.format,\n    creative_brief: post.creative_brief,\n    hook_type: post.hook_type,\n    structure_type: post.structure_type,\n    status: 'planned'\n  }\n};"
      },
      "id": "e1f2a3b4-c5d6-7890-5678-901234567890",
      "name": "Transform Posts Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO content_calendar (restaurant_id, scheduled_at, platforms, content_type, format, creative_brief, hook_type, structure_type, status) VALUES ('={{ $json.restaurant_id }}', '={{ $json.scheduled_at }}', '={{ \"{\" + $json.platforms.join(\",\") + \"}\" }}', '={{ $json.content_type }}', '={{ $json.format }}', '={{ $json.creative_brief }}', '={{ $json.hook_type }}', '={{ $json.structure_type }}', 'planned')"
      },
      "id": "f2a3b4c5-d6e7-8901-6789-012345678901",
      "name": "Insert Into Calendar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generation_log (restaurant_id, generation_type, model_used, input_tokens, output_tokens, created_at) VALUES ('={{ $json.restaurant_id }}', 'weekly_planning', 'claude-sonnet-4-5', 0, 0, NOW())"
      },
      "id": "a3b4c5d6-e7f8-9012-7890-123456789012",
      "name": "Log Planning Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Planning Editorial Hebdomadaire\n\nGénère 7 posts par restaurant chaque lundi à 6h.\n\n**Flow:**\n1. Récupère tous les restaurants actifs\n2. Pour chaque restaurant (batch de 5):\n   - Assemble la mémoire de marque\n   - Récupère les 5 meilleurs posts\n   - Obtient la météo de la semaine\n   - Génère le contexte temporel\n   - Construit le prompt de planning\n   - Appelle Claude pour générer 7 posts\n   - Parse et transforme les posts\n   - Insère dans content_calendar\n   - Log la génération",
        "height": 380,
        "width": 420
      },
      "id": "b4c5d6e7-f8a9-0123-8901-234567890123",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        160
      ]
    }
  ],
  "connections": {
    "Weekly Planning Trigger": {
      "main": [
        [
          {
            "node": "Fetch Active Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Restaurants": {
      "main": [
        [
          {
            "node": "Loop Over Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Restaurants": {
      "main": [
        [
          {
            "node": "Call Brand Memory Assembly",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call Brand Memory Assembly": {
      "main": [
        [
          {
            "node": "Fetch Top 5 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top 5 Posts": {
      "main": [
        [
          {
            "node": "Get Weather Forecast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Forecast": {
      "main": [
        [
          {
            "node": "Get Current Date Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Date Context": {
      "main": [
        [
          {
            "node": "Build Planning Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Planning Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Planning": {
      "main": [
        [
          {
            "node": "Parse Planning JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planning JSON": {
      "main": [
        [
          {
            "node": "Transform Posts Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Posts Array": {
      "main": [
        [
          {
            "node": "Insert Into Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into Calendar": {
      "main": [
        [
          {
            "node": "Log Planning Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Planning Generation": {
      "main": [
        [
          {
            "node": "Loop Over Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "errorWorkflow": "ERROR_WORKFLOW_ID"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "id": "weekly-planning-workflow-id",
  "tags": []
}
