neurolia-social/n8n/workflows/sched-social-hourly-publication.json
{
  "name": "Sched - Social - Hourly Publication",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-a1b2-c3d4e5f67890",
      "name": "Hourly Publication Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { timestamp: new Date().toISOString() } }];"
      },
      "id": "b2c3d4e5-f6a7-8901-b2c3-d4e5f6a78901",
      "name": "Get Current Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cc.id, cc.restaurant_id, cc.caption, cc.hashtags, cc.media_paths, cc.platforms, cc.format,\n       sa.platform, sa.access_token, sa.account_id, sa.page_id\nFROM content_calendar cc\nCROSS JOIN LATERAL unnest(cc.platforms) AS p(platform_name)\nJOIN social_accounts sa ON sa.restaurant_id = cc.restaurant_id AND sa.platform = p.platform_name AND sa.is_active = true\nWHERE cc.status = 'ready' AND cc.scheduled_at <= NOW()\nORDER BY cc.scheduled_at ASC\nLIMIT 50"
      },
      "id": "c3d4e5f6-a7b8-9012-c3d4-e5f6a7b89012",
      "name": "Fetch Posts To Publish",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d4e5f6a7-b8c9-0123-d4e5-f6a7b8c90123",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-e5f6-a7b8c9d01234",
      "name": "Check If Posts Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2345-f6a7-b8c9d0e12345",
      "name": "Loop Over Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst caption = item.caption + (item.hashtags ? '\\n\\n' + item.hashtags.join(' ') : '');\nreturn {\n  json: {\n    caption: caption,\n    visual_url: item.media_paths ? item.media_paths[0] : '',\n    hashtags: item.hashtags || [],\n    platform: item.platform,\n    access_token: item.access_token,\n    account_id: item.account_id,\n    page_id: item.page_id,\n    content_id: item.id,\n    restaurant_id: item.restaurant_id\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "a7b8c9d0-e1f2-3456-a7b8-c9d0e1f23456",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "PLATFORM_ROUTER_WORKFLOW_ID",
        "mode": "each"
      },
      "id": "b8c9d0e1-f2a3-4567-b8c9-d0e1f2a34567",
      "name": "Call Platform Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO post_publications (content_id, platform, external_post_id, published_at, publish_method) VALUES ('{{ $json.content_id }}', '{{ $json.platform }}', '{{ $json.external_id }}', NOW(), 'api')"
      },
      "id": "c9d0e1f2-a3b4-5678-c9d0-e1f2a3b45678",
      "name": "Record Publication",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE content_calendar SET status = 'published', published_at = NOW(), updated_at = NOW() WHERE id = '{{ $json.content_id }}'"
      },
      "id": "d0e1f2a3-b4c5-6789-d0e1-f2a3b4c56789",
      "name": "Update Post Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2250,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO generation_log (content_id, restaurant_id, generation_type, model_used, created_at) VALUES ('{{ $json.content_id }}', '{{ $json.restaurant_id }}', 'publication', '{{ $json.platform }}', NOW())"
      },
      "id": "e1f2a3b4-c5d6-7890-e1f2-a3b4c5d67890",
      "name": "Log Publication",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2500,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "f2a3b4c5-d6e7-8901-f2a3-b4c5d6e78901",
      "name": "Wait Between Posts",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2750,
        200
      ],
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "content": "Publication Automatique — Publie les posts prêts chaque heure",
        "height": 80,
        "width": 150
      },
      "id": "a3b4c5d6-e7f8-9012-a3b4-c5d6e7f89012",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    }
  ],
  "connections": {
    "Hourly Publication Trigger": {
      "main": [
        [
          {
            "node": "Get Current Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Timestamp": {
      "main": [
        [
          {
            "node": "Fetch Posts To Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts To Publish": {
      "main": [
        [
          {
            "node": "Check If Posts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Posts Exist": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Posts": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Call Platform Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Platform Router": {
      "main": [
        [
          {
            "node": "Record Publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Publication": {
      "main": [
        [
          {
            "node": "Update Post Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post Status": {
      "main": [
        [
          {
            "node": "Log Publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Publication": {
      "main": [
        [
          {
            "node": "Wait Between Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Posts": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "errorWorkflow": "ERROR_WORKFLOW_ID"
  },
  "versionId": "b4c5d6e7-f8a9-0123-b4c5-d6e7f8a90123",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "instance-id-placeholder"
  },
  "id": "sched-social-hourly-publication",
  "tags": []
}
