neurolia-social/n8n/workflows/sched-social-nightly-analytics.json
{
  "name": "Sched - Social - Nightly Analytics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Nightly Analytics Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\nreturn { seven_days_ago: sevenDaysAgo.toISOString() };"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Calculate Date Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pp.id, pp.content_id, pp.platform, pp.external_post_id, pp.published_at,\n       cc.restaurant_id, sa.access_token, sa.account_id\nFROM post_publications pp\nJOIN content_calendar cc ON pp.content_id = cc.id\nJOIN social_accounts sa ON sa.restaurant_id = cc.restaurant_id AND sa.platform = pp.platform\nWHERE pp.published_at >= NOW() - INTERVAL '7 days'\nORDER BY pp.published_at DESC"
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Fetch Recent Publications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Check If Posts Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Loop Over Publications",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  publication_id: $json.id,\n  content_id: $json.content_id,\n  platform: $json.platform,\n  external_post_id: $json.external_post_id,\n  restaurant_id: $json.restaurant_id,\n  access_token: $json.access_token,\n  account_id: $json.account_id\n};",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
      "name": "Get Publication Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": false
            }
          ]
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
      "name": "Route By Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.external_post_id }}/insights?metric=impressions,reach,saved,engagement&access_token={{ $json.access_token }}",
        "options": {
          "retry": {
            "maxRetries": 3
          }
        }
      },
      "id": "c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Fetch Instagram Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.external_post_id }}/insights?metric=post_impressions,post_engaged_users,post_clicks&access_token={{ $json.access_token }}",
        "options": {
          "retry": {
            "maxRetries": 3
          }
        }
      },
      "id": "d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a",
      "name": "Fetch Facebook Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://app.ayrshare.com/api/analytics/post?id={{ $json.external_post_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "retry": {
            "maxRetries": 3
          }
        }
      },
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Fetch TikTok Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Ayrshare API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst pubDetails = $('Get Publication Details').first().json;\nconst platform = pubDetails.platform;\nlet metrics = { impressions: 0, reach: 0, likes: 0, comments: 0, shares: 0, saves: 0, video_views: 0 };\n\nif (platform === 'instagram' || platform === 'facebook') {\n  const data = item.data || [];\n  data.forEach(m => {\n    if (m.name === 'impressions' || m.name === 'post_impressions') metrics.impressions = m.values?.[0]?.value || 0;\n    if (m.name === 'reach') metrics.reach = m.values?.[0]?.value || 0;\n    if (m.name === 'saved') metrics.saves = m.values?.[0]?.value || 0;\n    if (m.name === 'engagement' || m.name === 'post_engaged_users') metrics.likes = m.values?.[0]?.value || 0;\n  });\n} else if (platform === 'tiktok') {\n  metrics.video_views = item.viewCount || 0;\n  metrics.likes = item.likeCount || 0;\n  metrics.comments = item.commentCount || 0;\n  metrics.shares = item.shareCount || 0;\n  metrics.impressions = item.viewCount || 0;\n  metrics.reach = item.viewCount || 0;\n}\n\nreturn { ...pubDetails, metrics };",
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "Normalize Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const metrics = $json.metrics || {};\nconst engagement = (metrics.likes || 0) + (metrics.comments || 0) + (metrics.shares || 0) + (metrics.saves || 0);\nconst impressions = Math.max(metrics.impressions || 1, 1);\nconst engagement_rate = (engagement / impressions) * 100;\n\nreturn { ...$json, engagement_rate };"
      },
      "id": "b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e",
      "name": "Calculate Engagement Rate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const engagement_rate = $json.engagement_rate || 0;\nconst metrics = $json.metrics || {};\nconst impressions = Math.max(metrics.impressions || 1, 1);\nconst reach = metrics.reach || 0;\nconst performance_score = (engagement_rate * 0.6) + ((reach / impressions) * 0.4 * 100);\n\nreturn { ...$json, performance_score };"
      },
      "id": "c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f",
      "name": "Calculate Performance Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO post_analytics (publication_id, impressions, reach, likes, comments, shares, saves, video_views, engagement_rate, performance_score, collected_at)\nVALUES ('{{ $json.publication_id }}', {{ $json.metrics.impressions }}, {{ $json.metrics.reach }}, {{ $json.metrics.likes }}, {{ $json.metrics.comments }}, {{ $json.metrics.shares }}, {{ $json.metrics.saves }}, {{ $json.metrics.video_views }}, {{ $json.engagement_rate }}, {{ $json.performance_score }}, NOW())\nON CONFLICT (publication_id, collected_at) DO UPDATE SET\n  impressions = EXCLUDED.impressions,\n  reach = EXCLUDED.reach,\n  likes = EXCLUDED.likes,\n  comments = EXCLUDED.comments,\n  shares = EXCLUDED.shares,\n  saves = EXCLUDED.saves,\n  video_views = EXCLUDED.video_views,\n  engagement_rate = EXCLUDED.engagement_rate,\n  performance_score = EXCLUDED.performance_score"
      },
      "id": "d6e7f8a9-b0c1-4d2e-3f4a-5b6c7d8e9f0a",
      "name": "Upsert Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3250,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO generation_log (content_id, restaurant_id, generation_type, created_at) VALUES ('{{ $json.content_id }}', '{{ $json.restaurant_id }}', 'analytics_collection', NOW())"
      },
      "id": "e7f8a9b0-c1d2-4e3f-4a5b-6c7d8e9f0a1b",
      "name": "Log Analytics Collection",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3500,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "f8a9b0c1-d2e3-4f4a-5b6c-7d8e9f0a1b2c",
      "name": "Wait Between API Calls",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3750,
        200
      ],
      "webhookId": "wait-analytics-batch"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst totals = {\n  total_posts: items.length,\n  total_impressions: 0,\n  total_reach: 0,\n  total_engagement: 0,\n  avg_engagement_rate: 0,\n  avg_performance_score: 0\n};\n\nitems.forEach(item => {\n  const metrics = item.json.metrics || {};\n  totals.total_impressions += metrics.impressions || 0;\n  totals.total_reach += metrics.reach || 0;\n  totals.total_engagement += (metrics.likes || 0) + (metrics.comments || 0) + (metrics.shares || 0) + (metrics.saves || 0);\n  totals.avg_engagement_rate += item.json.engagement_rate || 0;\n  totals.avg_performance_score += item.json.performance_score || 0;\n});\n\nif (items.length > 0) {\n  totals.avg_engagement_rate /= items.length;\n  totals.avg_performance_score /= items.length;\n}\n\nreturn totals;",
        "options": {}
      },
      "id": "a9b0c1d2-e3f4-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Aggregate Daily Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        400
      ]
    },
    {
      "parameters": {},
      "id": "b0c1d2e3-f4a5-4b6c-7d8e-9f0a1b2c3d4e",
      "name": "No Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1750,
        400
      ]
    },
    {
      "parameters": {
        "height": 160,
        "width": 400,
        "content": "## Collecte Analytics Nocturne\n\nRécupère métriques des 7 derniers jours"
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        180
      ]
    }
  ],
  "connections": {
    "Nightly Analytics Trigger": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Range": {
      "main": [
        [
          {
            "node": "Fetch Recent Publications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Publications": {
      "main": [
        [
          {
            "node": "Check If Posts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Posts Exist": {
      "main": [
        [
          {
            "node": "Loop Over Publications",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Publications": {
      "main": [
        [
          {
            "node": "Get Publication Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Daily Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Publication Details": {
      "main": [
        [
          {
            "node": "Route By Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route By Platform": {
      "main": [
        [
          {
            "node": "Fetch Instagram Insights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Facebook Insights",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch TikTok Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram Insights": {
      "main": [
        [
          {
            "node": "Normalize Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Facebook Insights": {
      "main": [
        [
          {
            "node": "Normalize Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TikTok Analytics": {
      "main": [
        [
          {
            "node": "Normalize Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Metrics": {
      "main": [
        [
          {
            "node": "Calculate Engagement Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Engagement Rate": {
      "main": [
        [
          {
            "node": "Calculate Performance Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Performance Score": {
      "main": [
        [
          {
            "node": "Upsert Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Analytics": {
      "main": [
        [
          {
            "node": "Log Analytics Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Analytics Collection": {
      "main": [
        [
          {
            "node": "Wait Between API Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between API Calls": {
      "main": [
        [
          {
            "node": "Loop Over Publications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Daily Stats": {
      "main": [
        [
          {
            "node": "No Op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "errorWorkflow": "ERROR_WORKFLOW_ID"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-11T00:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000",
  "active": false
}
