neurolia-social/n8n/workflows/sched-social-daily-generation.json
{
  "name": "Sched - Social - Daily Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "d4e8f9a1-2b3c-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "Daily Generation Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst today = now.toISOString().split('T')[0];\nconst tomorrow = new Date(now.getTime() + 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\nreturn [{ json: { today, tomorrow, now: now.toISOString() } }];"
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Get Current DateTime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cc.*, r.name, r.cuisine_type, r.location, r.ambiance, r.signature_dishes FROM content_calendar cc JOIN restaurants r ON cc.restaurant_id = r.id WHERE cc.status = 'planned' AND cc.scheduled_at >= CURRENT_DATE AND cc.scheduled_at < CURRENT_DATE + INTERVAL '2 days' ORDER BY cc.scheduled_at",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Fetch Posts To Generate",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Check If Posts Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Loop Over Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "BRAND_MEMORY_WORKFLOW_ID",
        "fieldsUi": {
          "values": [
            {
              "name": "restaurant_id",
              "value": "={{ $json.restaurant_id }}"
            }
          ]
        }
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Call Brand Memory Assembly",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT hook_type, structure_type, content_type, caption FROM content_calendar WHERE restaurant_id = '={{ $json.restaurant_id }}' AND status IN ('ready', 'published') ORDER BY created_at DESC LIMIT 10",
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Fetch Last 10 Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1750,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, storage_path, tags FROM visual_assets WHERE restaurant_id = '={{ $json.restaurant_id }}' AND tags && ARRAY['={{ $json.content_type }}'] ORDER BY used_count ASC, uploaded_at DESC LIMIT 1",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Select Visual Asset",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.location.split(',')[0] }}&longitude={{ $json.location.split(',')[1] }}&current_weather=true",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Get Weather Today",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const brand = $('Call Brand Memory Assembly').first().json;\nconst lastPosts = $('Fetch Last 10 Posts').all();\nconst asset = $('Select Visual Asset').first().json;\nconst weather = $('Get Weather Today').first().json;\nconst post = $('Loop Over Posts').first().json;\n\nconst systemPrompt = `Tu es un copywriter expert en réseaux sociaux pour la restauration. Tu écris des captions engageantes, authentiques et variées.\n\nRÈGLES ABSOLUES:\n- Écris en français, vouvoiement interdit (tutoiement ou impersonnel)\n- Ne commence JAMAIS par un emoji\n- Varie la longueur : parfois 2 lignes, parfois 6 lignes\n- Inclus des hashtags pertinents (5-8 max)\n- Adapte le ton à la plateforme\n- Réponds en JSON valide uniquement`;\n\nconst prompt = `MARQUE: ${brand.summary || post.name}\n\nTYPE DE POST: ${post.content_type}\nFORMAT: ${post.format}\nBRIEF CRÉATIF: ${post.creative_brief}\nPLATEFORMES: ${(post.platforms || []).join(', ')}\n\nMÉTÉO: ${weather.current_weather ? weather.current_weather.temperature + '°C' : 'Non disponible'}\n\nHOOKS ET STRUCTURES DÉJÀ UTILISÉS (NE PAS RÉPÉTER):\n${lastPosts.map(p => `- ${p.json.hook_type}/${p.json.structure_type}`).join('\\n') || 'Aucun historique'}\n\nGénère le contenu au format JSON:\n{\n  \"caption\": \"Le texte du post\",\n  \"hashtags\": [\"#tag1\", \"#tag2\"],\n  \"hook_type\": \"question|affirmation|mise_en_scene|temoignage|coulisses|defi|chiffre\",\n  \"structure_type\": \"hook_description_cta|contexte_revelation_invitation|question_reponse|story_mini\",\n  \"caption_length\": \"court|moyen|long\"\n}`;\n\nreturn [{ json: { system_prompt: systemPrompt, prompt, max_tokens: 1024, temperature: 0.8, post_id: post.id, restaurant_id: post.restaurant_id, asset_id: asset ? asset.id : null, asset_path: asset ? asset.storage_path : null } }];"
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Build Caption Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "CLAUDE_API_WORKFLOW_ID",
        "fieldsUi": {
          "values": [
            {
              "name": "system_prompt",
              "value": "={{ $json.system_prompt }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "max_tokens",
              "value": "={{ $json.max_tokens }}"
            },
            {
              "name": "temperature",
              "value": "={{ $json.temperature }}"
            }
          ]
        }
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Call Claude Caption",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst promptData = $('Build Caption Prompt').first().json;\n\nlet parsed;\ntry {\n  const content = response.content || response.response || response;\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error('Failed to parse Claude response: ' + e.message);\n}\n\nreturn [{\n  json: {\n    caption: parsed.caption,\n    hashtags: parsed.hashtags || [],\n    hook_type: parsed.hook_type,\n    structure_type: parsed.structure_type,\n    caption_length: parsed.caption_length,\n    post_id: promptData.post_id,\n    restaurant_id: promptData.restaurant_id,\n    asset_id: promptData.asset_id,\n    asset_path: promptData.asset_path\n  }\n}];"
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Parse Caption Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE content_calendar SET caption = '{{ $json.caption.replace(/'/g, \"''\") }}', hashtags = '{{ \"{\" + $json.hashtags.join(\",\") + \"}\" }}', hook_type = '{{ $json.hook_type }}', structure_type = '{{ $json.structure_type }}', caption_length = '{{ $json.caption_length }}', media_paths = ARRAY['{{ $json.asset_path }}'], status = 'ready', updated_at = NOW() WHERE id = '{{ $json.post_id }}'",
        "options": {}
      },
      "id": "f2a3b4c5-d6e7-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "Update Post With Caption",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3250,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE visual_assets SET used_count = used_count + 1 WHERE id = '{{ $json.asset_id }}'",
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "Update Asset Usage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3500,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO generation_log (content_id, restaurant_id, generation_type, model_used, created_at) VALUES ('{{ $json.post_id }}', '{{ $json.restaurant_id }}', 'caption_generation', 'claude-sonnet-4-5', NOW())",
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
      "name": "Log Caption Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3750,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "c5d6e7f8-a9b0-1c2d-3e4f-5a6b7c8d9e0f",
      "name": "Wait Between Batches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4000,
        200
      ],
      "webhookId": "wait-between-batches"
    },
    {
      "parameters": {
        "height": 160,
        "width": 280,
        "content": "## Génération Quotidienne\n\nProduit captions + sélection visuels\n\n- Exécution: 7h00 daily\n- Traite posts J et J+1\n- Batch de 10 posts"
      },
      "id": "d6e7f8a9-b0c1-2d3e-4f5a-6b7c8d9e0f1a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        140
      ]
    }
  ],
  "connections": {
    "Daily Generation Trigger": {
      "main": [
        [
          {
            "node": "Get Current DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current DateTime": {
      "main": [
        [
          {
            "node": "Fetch Posts To Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts To Generate": {
      "main": [
        [
          {
            "node": "Check If Posts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Posts Exist": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Posts": {
      "main": [
        [
          {
            "node": "Call Brand Memory Assembly",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Call Brand Memory Assembly": {
      "main": [
        [
          {
            "node": "Fetch Last 10 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last 10 Posts": {
      "main": [
        [
          {
            "node": "Select Visual Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Visual Asset": {
      "main": [
        [
          {
            "node": "Get Weather Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Today": {
      "main": [
        [
          {
            "node": "Build Caption Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Caption Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Caption": {
      "main": [
        [
          {
            "node": "Parse Caption Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Caption Response": {
      "main": [
        [
          {
            "node": "Update Post With Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Post With Caption": {
      "main": [
        [
          {
            "node": "Update Asset Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Asset Usage": {
      "main": [
        [
          {
            "node": "Log Caption Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Caption Generation": {
      "main": [
        [
          {
            "node": "Wait Between Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Batches": {
      "main": [
        [
          {
            "node": "Loop Over Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ERROR_WORKFLOW_ID",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-11T00:00:00.000Z",
  "versionId": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
  "active": false
}
