neurolia-social/n8n/workflows/sub-social-claude-api-call.json
{
  "name": "Sub - Social - Claude API Call",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// Validate required fields\nif (!item.prompt) {\n  throw new Error('Missing required field: prompt');\n}\n\n// Set defaults\nconst validated = {\n  prompt: item.prompt,\n  system_prompt: item.system_prompt || '',\n  max_tokens: item.max_tokens || 4096,\n  temperature: item.temperature || 0.7,\n  model: item.model || 'claude-sonnet-4-5-20250929'\n};\n\nreturn { json: validated };"
      },
      "id": "b2c3d4e5-f678-90ab-cdef-123456789012",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst body = {\n  model: item.model || 'claude-sonnet-4-5-20250929',\n  max_tokens: item.max_tokens || 4096,\n  messages: [{ role: 'user', content: item.prompt }]\n};\n\nif (item.system_prompt) {\n  body.system = item.system_prompt;\n}\n\nif (item.temperature !== undefined) {\n  body.temperature = item.temperature;\n}\n\nreturn { json: { ...item, api_body: JSON.stringify(body) } };"
      },
      "id": "c3d4e5f6-7890-abcd-ef12-34567890abcd",
      "name": "Build API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.api_body }}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "id": "d4e5f678-90ab-cdef-1234-567890abcdef",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e5f67890-abcd-ef12-3456-7890abcdef12",
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f67890-abcd-ef12-3456-7890abcdef12",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\ntry {\n  if (item.content && item.content.length > 0) {\n    const response = item.content[0].text;\n    return { json: { ...item, response } };\n  } else {\n    throw new Error('No content in API response');\n  }\n} catch (error) {\n  return { json: { ...item, response: '', error: error.message } };\n}"
      },
      "id": "f6789012-abcd-ef12-3456-7890abcdef34",
      "name": "Extract Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst input_tokens = item.usage?.input_tokens || 0;\nconst output_tokens = item.usage?.output_tokens || 0;\nconst tokens_used = input_tokens + output_tokens;\n\nreturn { json: { ...item, tokens_used, input_tokens, output_tokens } };"
      },
      "id": "67890abc-def1-2345-6789-0abcdef12345",
      "name": "Count Tokens Used",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nconst output = {\n  response: item.response || '',\n  tokens_used: item.tokens_used || 0,\n  model: item.model || 'claude-sonnet-4-5-20250929',\n  input_tokens: item.input_tokens || 0,\n  output_tokens: item.output_tokens || 0\n};\n\nif (item.error) {\n  output.error = item.error;\n  output.success = false;\n} else {\n  output.success = true;\n}\n\nreturn { json: output };"
      },
      "id": "789abcde-f123-4567-890a-bcdef1234567",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "height": 220,
        "width": 380,
        "content": "## Sub - Social - Claude API Call\n\n**Input:**\n- prompt (required)\n- system_prompt (optional)\n- max_tokens (default: 4096)\n- temperature (default: 0.7)\n- model (default: claude-sonnet-4-5-20250929)\n\n**Output:**\n- response\n- tokens_used\n- input_tokens\n- output_tokens\n- model\n- success\n- error (if failed)"
      },
      "id": "89abcdef-1234-5678-90ab-cdef12345678",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Build API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build API Request": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Count Tokens Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Tokens Used": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "instanceId": "00000000000000000000000000000000"
  },
  "id": "00000000-0000-0000-0000-000000000000",
  "tags": []
}
