neurolia-social/n8n/workflows/sub-social-brand-memory-assembly.json
{
  "name": "Sub - Social - Brand Memory Assembly",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate restaurant_id is a valid UUID\nconst restaurantId = $input.first().json.restaurant_id;\n\nif (!restaurantId) {\n  throw new Error('restaurant_id is required');\n}\n\n// Basic UUID format check\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(restaurantId)) {\n  throw new Error('Invalid UUID format for restaurant_id');\n}\n\nreturn { restaurant_id: restaurantId };"
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Validate Restaurant ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM restaurants WHERE id = '{{ $json.restaurant_id }}'",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Fetch Restaurant Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM brand_dna WHERE restaurant_id = '{{ $('Validate Restaurant ID').first().json.restaurant_id }}'",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Fetch Brand DNA",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM brand_visual WHERE restaurant_id = '{{ $('Validate Restaurant ID').first().json.restaurant_id }}'",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Fetch Brand Visual",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CREDENTIAL_ID",
          "name": "Supabase Postgres - Neurolia Social"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
              "leftValue": "={{ $('Fetch Restaurant Profile').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            },
            {
              "id": "a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d",
              "leftValue": "={{ $('Fetch Brand DNA').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            },
            {
              "id": "b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e",
              "leftValue": "={{ $('Fetch Brand Visual').first().json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Check All Data Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge all brand data into single object\nconst profile = $('Fetch Restaurant Profile').first().json;\nconst brandDna = $('Fetch Brand DNA').first().json;\nconst brandVisual = $('Fetch Brand Visual').first().json;\n\nconst brandMemory = {\n  restaurant_id: profile.id || null,\n  profile: profile || {},\n  brand_dna: brandDna || {},\n  brand_visual: brandVisual || {}\n};\n\nreturn brandMemory;"
      },
      "id": "a8b9c0d1-e2f3-4a4b-5c6d-7e8f9a0b1c2d",
      "name": "Build Brand Memory Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Create text summary for prompt injection\nconst data = $input.first().json;\nconst profile = data.profile || {};\nconst dna = data.brand_dna || {};\n\nconst parts = [];\n\nif (profile.name) parts.push(`Restaurant: ${profile.name}`);\nif (profile.cuisine_type && profile.cuisine_type.length > 0) parts.push(profile.cuisine_type.join(', '));\nif (profile.ambiance && profile.ambiance.length > 0) parts.push(`Ambiance: ${profile.ambiance.join(', ')}`);\nif (profile.signature_dishes && profile.signature_dishes.length > 0) parts.push(`Plats signatures: ${profile.signature_dishes.join(', ')}`);\nif (dna.tone && dna.tone.length > 0) parts.push(`Ton: ${dna.tone.join(', ')}`);\nif (dna.vocabulary_preferred && dna.vocabulary_preferred.length > 0) parts.push(`Vocabulaire préféré: ${dna.vocabulary_preferred.join(', ')}`);\nif (dna.vocabulary_forbidden && dna.vocabulary_forbidden.length > 0) parts.push(`Mots interdits: ${dna.vocabulary_forbidden.join(', ')}`);\nif (dna.emojis_allowed && dna.emojis_allowed.length > 0) parts.push(`Emojis: ${dna.emojis_allowed.join(' ')}`);\nif (dna.hashtags_primary && dna.hashtags_primary.length > 0) parts.push(`Hashtags: ${dna.hashtags_primary.join(', ')}`);\nif (dna.content_pillars && dna.content_pillars.length > 0) parts.push(`Piliers: ${dna.content_pillars.join(', ')}`);\nif (dna.target_audience) parts.push(`Audience: ${dna.target_audience}`);\nif (dna.unique_selling_points && dna.unique_selling_points.length > 0) parts.push(`Différenciateurs: ${dna.unique_selling_points.join(', ')}`);\n\nconst summary = parts.join('. ') + '.';\n\nreturn { ...data, summary };"
      },
      "id": "b9c0d1e2-f3a4-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Generate Brand Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format final output\nconst data = $input.first().json;\n\nreturn {\n  brand_dna: data.brand_dna || {},\n  brand_visual: data.brand_visual || {},\n  profile: data.profile || {},\n  summary: data.summary || ''\n};"
      },
      "id": "c0d1e2f3-a4b5-4c6d-7e8f-9a0b1c2d3e4f",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "height": 160,
        "width": 420,
        "content": "## Sub - Social - Brand Memory Assembly\n\nReusable sub-workflow that assembles complete brand identity from database.\n\n**Input:** { restaurant_id: uuid }\n**Output:** { brand_dna, brand_visual, profile, summary }"
      },
      "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        140
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Restaurant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Restaurant ID": {
      "main": [
        [
          {
            "node": "Fetch Restaurant Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Restaurant Profile": {
      "main": [
        [
          {
            "node": "Fetch Brand DNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brand DNA": {
      "main": [
        [
          {
            "node": "Fetch Brand Visual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Brand Visual": {
      "main": [
        [
          {
            "node": "Check All Data Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check All Data Exists": {
      "main": [
        [
          {
            "node": "Build Brand Memory Object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brand Memory Object": {
      "main": [
        [
          {
            "node": "Generate Brand Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Brand Summary": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-11T10:00:00.000Z",
  "versionId": "00000000-0000-0000-0000-000000000000",
  "active": false
}
